#beginManagementToolV3("tool.managementtool.viewMessageCenter.header" "" false)

<link rel="stylesheet" href="script/jqueryplugins/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="Flora (Default)">

<p>$ui.getString("tool.managementtool.messageSent.title"):</p>
<p>
  	$ui.getString("tool.managementtool.messageSent.text"): $recipients.replaceAll(";", ", ")
</p>

#endManagementTool()
