#beginLightCommonToolV3("tool.managementtool.mysettings.header" "" "" false true $!disableCloseButton)

<link rel="stylesheet" type="text/css" media="all" href="css/cms.css" title="cms" />

<script type="text/javascript">
	<!--

	function save()
	{
		document.editForm.submit();
	}

	function closeAndReload()
	{
		if(!window.opener && parent)
			parent.location.reload();
		else
			window.close();
	}
	
	$(document).ready(function(){
		$("#tabsContainer > ul").tabs( { 
			show:function() { resizeInlineTabDivs(); },
			select:function(e, ui) { 
				//alert("ui: " + ui.index);
				if(ui.index == 0)
				{
			  		$("#footertoolbar > div").css("visibility","visible");
			  	}
				else if(ui.index == 1)
		  		{
			  		$("#footertoolbar > div").css("visibility","hidden");
		  		}
		  		else if(ui.index == 2)
		  		{
			  		$("#footertoolbar > div").css("visibility","hidden");
			  	}
			  } 
		});
	});
	-->
</script>

<div>
    
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3 style="text-indent: 16px;">$ui.getString("tool.managementtool.mysettings.header") 
		#if($errorMessage != "")
			<span style="color:red">$errorMessage</span><br/>
		#end
	</h3>
	<p style="text-indent: 16px;">
		$ui.getString("tool.managementtool.mysettings.introduction")
	</p>

	<div id="tabsContainer" class="flora">      
		<ul>
	        <li><a href="#generalSettingsTab"><span>General</span></a></li>
	        <li><a href="#subscriptionsTab"><span>Subscriptions</span></a></li>
	        <li><a href="#passwordTab"><span>Change password</span></a></li>
	    </ul>

		<div id="generalSettingsTab" class="recipientTab inlineTabDiv">

			<form name="editForm" method="POST" action="UpdateMySettings.action">
				<fieldset style="width: 90%; border: 0px solid red; margin: 0px; padding-left: 10px;">
	
				<p style="clear: both;">
					<label for="languageCode">$ui.getString("entity.Language.property.defaultLanguageCode.label")</label>
					<select name="languageCode" id="languageCode" class="sitedropbox" style="width: 100px;">
					#foreach($toolLocale in $toolLocales)
						<option value="$toolLocale.language" #if($languageCode == $toolLocale.language)selected="1"#end>$toolLocale.displayName</option>
					#end
					</select>
				</p>
						
				<p style="clear: both;">
					<label for="defaultRepositoryId">$ui.getString("entity.Repository.property.defaultRepository.label")</label>
					<select name="defaultRepositoryId" id="defaultRepositoryId" class="sitedropbox" style="width: 100px;">
					#foreach($repository in $repositories)
						<option value="$repository.id" #if($defaultRepositoryId == $repository.id)selected="1"#end>$repository.name</option>
					#end
					</select>
				</p>

				<p style="clear: both;">
					<label for="defaultToolId">$ui.getString("tool.managementtool.mysettings.defaultToolId.label")</label>
					<select class="sitedropbox" id="defaultToolId" name="defaultToolId">
						#if($this.hasAccessTo("ContentTool.Read"))
						<option value="0" #if($defaultToolId == "0")selected="1"#end>$ui.getString("tool.common.contentTool.name")</option>
						#end
						#if($this.hasAccessTo("StructureTool.Read"))
						<option value="1" #if($defaultToolId == "1")selected="1"#end>$ui.getString("tool.common.structureTool.name")</option>
						#end
						#if($this.hasAccessTo("ManagementTool.Read"))
						<option value="2" #if($defaultToolId == "2")selected="1"#end>$ui.getString("tool.common.managementTool.name")</option>
						#end
						#if($this.hasAccessTo("PublishingTool.Read"))
						<option value="3" #if($defaultToolId == "3")selected="1"#end>$ui.getString("tool.common.publishingTool.name")</option>
						#end
						#if($this.hasAccessTo("MyDesktopTool.Read"))
						<option value="4" #if($defaultToolId == "4")selected="1"#end>$ui.getString("tool.common.myDesktopTool.name")</option>
						#end
					</select>	
				</p>

			</form>
		</div>
		
		<div id="subscriptionsTab" class="recipientTab inlineTabDiv" style="display: none;">
			<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="subscriptionsFrame" id="subscriptionsFrame" src="Subscriptions!inputGlobalSubscriptions.action?standalone=false" width="690" height="450" align="baseline"></iframe>
		</div>

		<div id="passwordTab" class="recipientTab inlineTabDiv" style="display: none;">
			<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="passwordFrame" id="passwordFrame" src="UpdateSystemUserPassword!inputStandaloneV3.action?userName=$infoGluePrincipal.name&returnAddress=ViewMySettings.action" width="690" height="450" align="baseline"></iframe>
		</div>

	</div>		
	
	#lightFooterToolbar($footerButtons)
	
	</form>

</div>

#endCommonToolV3()