#beginLightCommonToolV3("tool.managementtool.mysettings.header" "" "" false true $!disableCloseButton)

<link rel="stylesheet" type="text/css" media="all" href="css/cms.css" title="cms" />
<style type="text/css">
	.ui-widget-header 
	{
		background-image:none;
		background-repeat:repeat-x;
		border-top: 1px solid transparent;
		border-bottom: 1px solid #d0d1d0;
		aheight: 20px;
    }
	.ui-tabs 
	{
		border: 0px;
	}
	.ui-tabs .ui-tabs-nav 
	{
		border-left: 0px;
		border-right: 0px;
        padding:2px 2px 0px 8px;
        position:relative;
        background-color: #f6f6f6;
    }
    .ui-tabs .ui-tabs-nav li a 
	{
        font-size:11px;
		padding: 4px 10px 4px 10px;
	    text-decoration:none;
    }
	.ui-corner-all {
        -moz-border-radius-bottomleft:0px;
        -moz-border-radius-bottomright:0px;
        -moz-border-radius-topleft:0px;
        -moz-border-radius-topright:0px;
    }
	.ui-tabs
	{
		padding:0px;
	}
	.ui-tabs .ui-tabs-panel 
	{
		padding: 8px;
	}
	.ui-state-default, .ui-widget-content .ui-state-default 
	{ 
		border: 1px solid #d0d1d0; 
		background: #dfeffc url(images/v3/tabs.png) repeat-x; 
		font-weight: bold; 
		color: white; 
		outline: none; 
	}
	.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited 
	{
		color: #555555;
	}
	.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited 
	{
		color: #555555;
	}
	.ui-tabs-nav .ui-tabs-selected a 
	{
		background: #dfeffc url(images/v3/tabs.png) repeat-x; 
		background-position: 100% -28px;
	}
	.ui-tabs-nav .ui-tabs-selected a span 
	{
	    background-position: 0 -28px;
	}
	.ui-state-active, .ui-widget-content .ui-state-active 
	{ 
		border: 1px solid #d0d1d0;
	}
	
</style>

<script type="text/javascript">
	<!--

	function closeDialog()
	{
		if(parent && parent.closeInlineDiv) 
			parent.closeInlineDiv(); 
		else if(parent && parent.closeDialog) 
			parent.closeDialog(); 
		else if (window.opener)
			window.close();
		else
			history.back();
	}

	function save()
	{
		document.editForm.submit();
	}

	function closeAndReload()
	{
		if(!window.opener && parent)
			parent.location.reload();
		else
			window.close();
	}

	function reloadFull()
	{
		if(!window.opener && parent)
			parent.location.href = "Admin!resetGUI.action";
		else
			window.close();
	}
	
	$(document).ready(function(){
		$("#tabsContainer").tabs( {
			show:function() { resizeInlineTabDivs(); },
			select:function(e, ui) { 
				//alert("ui: " + ui.index);
				if(ui.index == 0)
				{
			  		$("#footertoolbar > div").css("visibility","visible");
			  	}
				else if(ui.index == 1)
		  		{
			  		$("#footertoolbar > div").css("visibility","hidden");
		  		}
		  		else if(ui.index == 2)
		  		{
			  		$("#footertoolbar > div").css("visibility","hidden");
			  	}
			  } 
		});

		#if($settingsSaved)
			$("#reloadDialog").dialog({
				bgiframe: true,
				resizable: false,
				height:200,
				width: 400,
				modal: true,
				overlay: {
					backgroundColor: '#000',
					opacity: 0.5
				},
				buttons: {
					'$ui.getString("tool.managementtool.mysettings.fullReloadYesLabel")': function() {
						$(this).dialog('close');
						reloadFull(); 
					},
					Cancel: function() {
						$(this).dialog('close');
					}
				}
			});
		#end
	});
	-->
</script>

<div>
    
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3 style="text-indent: 16px;">$ui.getString("tool.managementtool.mysettings.header") 
		#if($errorMessage && $errorMessage != "")
			<span style="color:red">$errorMessage</span><br/>
		#end
	</h3>
	<p style="text-indent: 16px;">
		$ui.getString("tool.managementtool.mysettings.introduction")
	</p>

	<div id="tabsContainer" class="flora">      
		<ul>
	        <li><a href="#generalSettingsTab"><span>$ui.getString("tool.managementtool.mysettings.generalTabLabel")</span></a></li>
	        <li><a href="#subscriptionsTab"><span>$ui.getString("tool.managementtool.mysettings.subscriptionsTabLabel")</span></a></li>
	        <li><a href="#passwordTab"><span>$ui.getString("tool.managementtool.mysettings.changePasswordTabLabel")</span></a></li>
	    </ul>

		<div id="generalSettingsTab" class="recipientTab inlineTabDiv">

			<form name="editForm" method="POST" action="UpdateMySettings.action">
				<fieldset style="width: 90%; border: 0px solid red; margin: 0px; padding-left: 10px;">
	
				<p style="clear: both;">
					<label for="languageCode">$ui.getString("entity.Language.property.defaultLanguageCode.label")</label>
					<select name="languageCode" id="languageCode" class="sitedropbox" style="width: 100px;">
					#foreach($toolLocale in $toolLocales)
						<option value="$toolLocale.language" #if($languageCode == $toolLocale.language)selected="1"#end>$toolLocale.displayName</option>
					#end
					</select>
				</p>
						
				<p style="clear: both;">
					<label for="defaultRepositoryId">$ui.getString("entity.Repository.property.defaultRepository.label")</label>
					<select name="defaultRepositoryId" id="defaultRepositoryId" class="sitedropbox" style="width: 100px;">
					#foreach($repository in $repositories)
						<option value="$repository.id" #if($defaultRepositoryId == $repository.id)selected="1"#end>$repository.name</option>
					#end
					</select>
				</p>

				<p style="clear: both;">
					<label for="defaultToolId">$ui.getString("tool.managementtool.mysettings.defaultToolId.label")</label>
					<select class="sitedropbox" id="defaultToolId" name="defaultToolId">
						#if($this.hasAccessTo("ContentTool.Read"))
						<option value="0" #if($defaultToolId == "0")selected="1"#end>$ui.getString("tool.common.contentTool.name")</option>
						#end
						#if($this.hasAccessTo("StructureTool.Read"))
						<option value="1" #if($defaultToolId == "1")selected="1"#end>$ui.getString("tool.common.structureTool.name")</option>
						#end
						#if($this.hasAccessTo("ManagementTool.Read"))
						<option value="2" #if($defaultToolId == "2")selected="1"#end>$ui.getString("tool.common.managementTool.name")</option>
						#end
						#if($this.hasAccessTo("PublishingTool.Read"))
						<option value="3" #if($defaultToolId == "3")selected="1"#end>$ui.getString("tool.common.publishingTool.name")</option>
						#end
						#if($this.hasAccessTo("MyDesktopTool.Read"))
						<option value="4" #if($defaultToolId == "4")selected="1"#end>$ui.getString("tool.common.myDesktopTool.name")</option>
						#end
					</select>	
				</p>

				<p style="clear: both;">	
					<label for="defaultGUI">$ui.getString("tool.managementtool.mysettings.defaultGUI.label")</label>
					<select class="sitedropbox" name="defaultGUI">
						<option value="default" #if($defaultGUI == "default")selected="1"#end>$ui.getString("tool.common.default")</option>
						<option value="classic" #if($defaultGUI == "classic")selected="1"#end>$ui.getString("tool.common.classic")</option>
					</select>				
				</p>
				
				<p style="clear: both;">		
					<label for="theme">$ui.getString("tool.managementtool.mysettings.theme.label")</label>
					<select class="sitedropbox" name="theme">
						<option value="">Default (Outlook 2007)</option>
						#foreach($availableTheme in $themes)
							<option value="$availableTheme" #if($theme == "$availableTheme")selected="1"#end>$availableTheme</option>
						#end
					</select>				
				</p>

			</form>
		</div>
		
		<div id="subscriptionsTab" class="recipientTab inlineTabDiv">
			<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="subscriptionsFrame" id="subscriptionsFrame" src="Subscriptions!inputGlobalSubscriptions.action?standalone=false" width="690" height="450" ></iframe>
		</div>

		<div id="passwordTab" class="recipientTab inlineTabDiv">
			<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="passwordFrame" id="passwordFrame" src="UpdateSystemUserPassword!inputStandaloneV3.action?userName=$infoGluePrincipal.name&returnAddress=ViewMySettings.action" width="690" height="450" ></iframe>
		</div>

	</div>		
	
	#lightFooterToolbar($footerButtons)
	
	</form>

</div>

<div id="reloadDialog" title="$ui.getString("tool.managementtool.mysettings.fullReloadQuestionTitle")" style="display: none">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>$ui.getString("tool.managementtool.mysettings.fullReloadQuestionLabel")</p>
</div>

#endCommonToolV3()