<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementToolV3("tool.managementtool.viewSystemUserPasswordDialog.header" "$!userName" false)

#set($infogluePrincipalId = $formatter.encodeURI($userName)) 

<script type="text/javascript">
	
    YAHOO.example.init = function () 
    {
        YAHOO.util.Event.onContentReady("buttons", function () 
        {	        
			var oSaveButton = new YAHOO.widget.Button("saveButton");
			var oCancelButton = new YAHOO.widget.Button("cancelButton");

        	oSaveButton.on("click", function (p_oEvent){
        		document.editForm.submit();
        	});
        	oCancelButton.on("click", function (p_oEvent){
        		document.location.href = 'ViewSystemUser!v3.action?userName=$infogluePrincipalId';
        	});			
        });
    }();

</script>

#menuToolbar("" $buttons $rightButtons) 

<div id="igEditArea">

<form method="POST" name="editForm" action="UpdateSystemUserPassword!v3.action">
	<input type="hidden" name="userName" value="$!userName">
	<input type="hidden" name="returnAddress" value="$!returnAddress">

	<fieldset class="ig-fieldset">

	#editPasswordFieldCSS("SystemUser.oldPassword" "oldPassword" "" "51" true "")
	#editPasswordFieldCSS("SystemUser.newPassword" "newPassword" "" "51" true "")
	#editPasswordFieldCSS("SystemUser.verifiedNewPassword" "verifiedNewPassword" "" "51" true "")
	
	<div id="buttons" class="ig-buttonRow">
		<input type="button" id="saveButton" name="saveButton" value="$ui.getString("tool.common.saveButton.label")" title="$ui.getString("tool.common.saveButton.title")"/>
		<input type="button" id="cancelButton" name="cancelButton" value="$ui.getString("tool.common.cancelButton.label")" title="$ui.getString("tool.common.cancelButton.title")"/>
	</div>
	
	</fieldset>
</form>
</div>

</body>
</html>
