#define($headerMarkup)

	<style type="text/css" title="currentStyle">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/cms.css" />
	<script type="text/javascript">
	<!-- 		
		$(document).ready(function(){
			
			$('#roles').dataTable({
				"sPaginationType": "full_numbers",
			    "iDisplayLength": 20,
			    "bAutoWidth": false,
			    "oLanguage": {
							"sLengthMenu": "$ui.getString("tool.common.datatable.sLengthMenu")",
							"sZeroRecords": "$ui.getString("tool.common.datatable.sZeroRecords")",
							"sInfo": "$ui.getString("tool.common.datatable.sInfo")",
							"sInfoEmtpy": "$ui.getString("tool.common.datatable.sInfoEmtpy")",
							"sInfoFiltered": "$ui.getString("tool.common.datatable.sInfoFiltered")",
							"sSearch": "$ui.getString("tool.common.datatable.sSearch")",
							"oPaginate": {
								"sFirst":    "$ui.getString("tool.common.datatable.oPaginate.sFirst")",
								"sPrevious": "$ui.getString("tool.common.datatable.oPaginate.sPrevious")",
								"sNext":     "$ui.getString("tool.common.datatable.oPaginate.sNext")",
								"sLast":     "$ui.getString("tool.common.datatable.oPaginate.sLast")"
							}
						}
			});
			
			setTimeout("resizeInlineTabDivs()", 100);
		});
	-->
	</script>
	
	<style type="text/css">
		.listheader
		{
			border-bottom: 1px solid #999999; 
			border-top: 1px solid #ffffff; 
			border-right: 0px solid #999999; 
			white-space:nowrap
		}
	</style>

#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.managementtool.viewRoleList.header" "" "" false true $!disableCloseButton $headerMarkup)

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.viewRoleList.header")</h3>
	
	<div id="rolesArea" class="igScrollArea">
		
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="roles">
			<thead>
				<tr>
					<th>$ui.getString("entity.Role.roleName.label")</th>
					<th>$ui.getString("entity.Role.displayName.label")</th>
					<th>$ui.getString("entity.Role.description.label")</th>
				</tr>
			</thead>
			<tbody>
			
				#foreach($role in $roles)
					<tr>
						<td>
							##<a href="#" class="role" onclick="top.openUrlInWorkArea('ViewRole!V3.action?roleName=$role.name', '$role.name', 'management', '$ui.getString("tool.common.managementTabLabelPrefix")'); return false;">$role.name</a>
							<a href="#" class="role" onclick="top.openUrlInWorkArea('ViewRole.action?roleName=$role.name', '$role.name', 'management', '$ui.getString("tool.common.managementTabLabelPrefix")'); return false;">$role.name</a>
						</td>
						<td>
							<span>$role.displayName</span>
						</td>
						<td>
							<span>$role.description</span>
						</td>
					</tr>
				#end
				
			</tbody>
		</table>
				
	</div>
		
#endLightCommonToolV3()