<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementToolV3("tool.managementtool.viewRoleList.header" "tool.managementtool.viewRoleList.header" "")

#set($buttons = $this.getToolbarButtons("tool.managementtool.viewRoleList.header", "", ""))

<link rel="stylesheet" type="text/css" href="script/yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="script/yui/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="script/yui/build/utilities/utilities.js"></script>
<script type="text/javascript" src="script/yui/build/datasource/datasource-beta.js"></script>
<script type="text/javascript" src="script/yui/build/datatable/datatable-beta.js"></script>

<script type="text/javascript" src="script/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="script/yui/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="script/yui/build/button/button-min.js"></script>
<style type="text/css">

#foreach($button in $buttons)
	.yui-button#button$velocityCount button {
	    background: url($button.backgroundImageURL) 2px 6px no-repeat;
	    text-indent: 20px;
	    padding: 6px;
	    min-width: 50px;
	    amax-width: 100px;
	    border: 0px;
	    height: 28px;
	}
#end
	
	table.yui-dt-table {
		width: 100%;
	}
	
	.yui-skin-sam .yui-dt-table th {
		background: url(images/v3/tableHeaderBackground.gif) repeat-x 0 0;
		font-family: arial;
		font-size: 8pt;
		padding: 1px 10px 1px 10px;
		text-align: left;
	}
	.yui-skin-sam .yui-dt-table {
		font-family: arial;
		font-size: inherit;
	}

	.yui-skin-sam .yui-dt-table td {
		font-family: arial;
		font-size: 8pt;
	}
</style>

<script type="text/javascript">

    YAHOO.example.init = function () 
    {

        function onButtonClick(p_oEvent) 
        {
            alert("You clicked button: " + this.get("id"))
        }

        YAHOO.util.Event.onContentReady("menutoolbar", function () 
        {
			#foreach($button in $buttons)
				var oButton${velocityCount} = new YAHOO.widget.Button("button${velocityCount}");
            	oButton${velocityCount}.on("click", function (p_oEvent){
            		document.location.href = '$button.actionURL';
            	});
            #end
        });
    }();

</script>

<script type="text/javascript">
	YAHOO.example.Data = {
	    roles: 
	    [
	    	#foreach ($roleVO in $roles)
	    		{sel:0,id:"$roleVO.name", displayName:"$roleVO.displayName", description:"$roleVO.description"}#if($velocityCount < $roles.size()),#end
		 	#end
	    ]
	}
	
</script>
<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.Basic = new function() {
        var myColumnDefs = [
            {key:"sel", label:"", formatter:"checkbox", width:"30px"},
            {key:"id", label:"Name", sortable:true, resizeable:true, formatter:"link"},
            {key:"displayName", label:"DisplayName", sortable:true, resizeable:true},
            {key:"description", label:"Description", sortable:true, resizeable:true}
        ];
		
		this.myDataSource = new YAHOO.util.DataSource(YAHOO.example.Data.roles);
        this.myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
        this.myDataSource.responseSchema = {
            fields: ["id","name","displayName","description"]
        };
		
        this.myDataTable = new YAHOO.widget.DataTable("roles", myColumnDefs, this.myDataSource);
        this.myDataTable.subscribe("rowClickEvent",this.myDataTable.onEventSelectRow);
        this.myDataTable.subscribe("checkboxClickEvent", this.myDataTable.onEventSelectRow);
		
		this.myDataTable.subscribe("linkClickEvent", function(oArgs){
			YAHOO.util.Event.stopEvent(oArgs.event);
            var oRecord = this.getRecord(oArgs.target);
            //alert(YAHOO.lang.dump(oRecord.getData()));
            document.location.href = "ViewRole!v3.action?roleName=" + oRecord.getData().id;
        });
        
    };
});
</script>

<div id="menutoolbar">

#foreach($button in $buttons)
	<input type="button" id="button$velocityCount" name="button$velocityCount" value="$button.text" title="$button.title"/>
	<!--
	<span id="button$velocityCount" class="yui-button yui-push-button"><span class="first-child"><input type="button" id="button$velocityCount" name="button$velocityCount" value="$button.text"/></span></span>
	-->
#end
</div>

<div style="clear: both;"></div>

<div id="roles"></div>

#endManagementTool()