<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Inline image</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script type="text/javascript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/calendar1.js"></script>
	<script type="text/javascript" src="script/editor.js"></script>
	<script type="text/javascript" src="applications/HTMLArea/InfoGlueHTMLArea.js"></script>
	<script type="text/javascript" src="applications/HTMLArea/htmlarea.js"></script>
	<script type="text/javascript" src="applications/HTMLArea/popups/popup.js"></script>
	
	<script language="JavaScript">
	<!--			
		var param = null;
		
		function init() 
		{
			window.resizeTo(750,600);
			__dlg_init();
		  	param = window.dialogArguments;
		  	//alert("param AA:" + param);
		}
		
		function onYes(param)
		{
			param["linkToPage"] = true;
			__dlg_close(param);
			return false;
		}

		function onNo(param)
		{
			param["inlineLinkToPage"] = false;
			__dlg_close(param);
			return false;
		}
	-->
	</script>
	
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="contenttooledit" onload="init();">

<div class="fullymarginalized">
Do you want to link to a page on the site or to a asset located in InfoGlue?
<p>
<input type="button" value="Yes" onclick="onYes(param);">
<input type="button" value="No" onclick="onNo(param);">
</p>
</div>

</body>
</html>
