<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginContentTool("tool.contenttool.searchHeader" "tool.contenttool.searchHeader" "" "0" "0" "0")

<script type="text/javascript">
<!--
	function showUsers()
	{
		openPopup('ViewListSystemUser!userListForPopup.action', 'Users', 'width=800,height=600,resizable=yes,scrollbars=yes');
	}
	
	function selectUser(userName)
	{
		document.getElementById("name").value = userName;
	}

	function selectMyself()
	{
		document.getElementById("name").value = "$infoGluePrincipal.name";
	}
-->	
</script>

	
<div class="fullymarginalized">

<form method="POST" name="editForm" action="SearchContent.action">
<input type="hidden" name="advancedEnabled" id="advancedEnabled" value="true"/>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="7">	
		<div>
			#editTextField3($ui.getString("tool.contenttool.searchString.label") "tool.contenttool.searchString.label" "searchString" $searchString "30" "normaltextfield") 
		</div>
		<div>
			<div style="float: left;">
				$ui.getString("tool.contenttool.contentTypeFilter.label")<br>
				<select class="dropbox" name="contentTypeDefinitionId" multiple="true" size="5">
					#foreach ($contentTypeDefinition in $contentTypeDefinitions)
						<option value="$contentTypeDefinition.id" #checkSelected("$contentTypeDefinition.id" "$contentTypeDefinitionId")>$contentTypeDefinition.name</option>
				    #end
				</select>
			</div>
			
			<div style="float: left; margin-left: 20px;">
				$ui.getString("tool.contenttool.chooseRepositoryLabel")<br>
				<select class="dropbox" name="repositoryIdToSearch" multiple="true" size="5">
					#foreach ($repositoryVO in $repositories)
						<option value="$repositoryVO.id" #checkSelected("$repositoryVO.id" "$repositoryId")>$repositoryVO.name</option>
				    #end
				</select>
			</div>
			<div style="clear:both"></div>
			
		</div>
		<div>
			$ui.getString("tool.contenttool.modifierFilter.label"):<br/>
			<input type="textfield" id="name" name="name" value=""/>
			<a href="javascript:showUsers();"><img src="images/spyglassIcon.gif" width="16" height="16" border="0"/></a>
			<a href="javascript:selectMyself();"><img src="images/user18.gif" width="16" height="16" border="0"/></a>
		</div>
		<div>
			<b>Only show contents modfied between these dates:</b><br/>
			<div style="float: left;">
			#set( $customConfig = ', ifFormat:    "%Y-%m-%d", align : "BR", showsTime: false, timeFormat: "24", cache: true' )
			#editDateFieldCustom("tool.contenttool.versionModifiedDateTimeNotOlderThan" "modifiedDateTimeStart" $!modifiedDateTimeStart "30" "date" "ViewCalendar.action?date=&formPath=document.editForm.modifiedDateTimeStart" "$dateReadonly" $customConfig )
			</div>
			<div style="float: left; margin-left: 20px;">
			#set( $customConfig = ', ifFormat:    "%Y-%m-%d", align : "BR", showsTime: false, timeFormat: "24", cache: true' )
			#editDateFieldCustom("tool.contenttool.versionModifiedDateTimeNotNewerThan" "modifiedDateTimeEnd" $!modifiedDateTimeEnd "30" "date" "ViewCalendar.action?date=&formPath=document.editForm.modifiedDateTimeEnd" "$dateReadonly" $customConfig )
			</div>
			<div style="clear:both"></div>
		</div>
		<div>
		#if($allowCaseSensitive)
			<div style="float: left;">
			$ui.getString("tool.contenttool.caseSensitive.label")<br>
			<input type="checkbox" name="caseSensitive" value="1" #checkChecked("1" "$caseSensitive")> Yes 
			</div>
		#end
			<div style="float: left; margin-left: 20px;">
			$ui.getString("tool.contenttool.includeAssets.label")<br>
			<input type="checkbox" name="includeAssets" value="true" #checkChecked("true" "$includeAssets")> Yes 
			</div>

			<div style="float: left; margin-left: 20px;">
			$ui.getString("tool.contenttool.onlyIDSearch.label")<br>
			<input type="checkbox" name="onlyIDSearch" value="true" #checkChecked("true" "$onlyIDSearch")> Yes 
			</div>
			<div style="clear:both"></div>
		</div>
		<div>	
			<div style="float: left;">
				#selectBox("tool.contenttool.languageFilter.label" "languageId" $languageId $availableLanguages "tool.contenttool.filterShowAll.label")
			</div>
			<div style="float: left; margin-left: 20px;">
				$ui.getString("tool.contenttool.stateSearch.label")<br>
				<select class="dropbox" name="stateId">
					<option value="">$ui.getString("tool.contenttool.filterShowAll.label")</option>
					<option value="">---------------</option>
					<option value="0" #checkSelected("0" $stateId)>$ui.getString("tool.contenttool.state.working")</option>
					<!--
					<option value="1" #checkSelected("1" $stateId)>$ui.getString("tool.contenttool.state.final")</option>
					-->				
					<option value="2" #checkSelected("2" $stateId)>$ui.getString("tool.contenttool.state.publish")</option>
					<option value="3" #checkSelected("3" $stateId)>$ui.getString("tool.contenttool.state.published")</option>
				</select>
			</div>
			<div style="clear:both"></div>
		</div>
	</td>
</tr>
<tr>
	<td colspan="7"><img src="images/trans.gif" height="10" width="1"></td>
</tr>

<tr>
	<input type="hidden" name="repositoryId" value="$!repositoryId">
	<td colspan="7">
		<input type="image" src="$ui.getString("images.managementtool.buttons.searchLong")">
		<a href="javascript:clearForm();"><img src="$ui.getString("images.managementtool.buttons.clearLong")" border="0"></a>
	</td>
</tr>
</table>
</form>

</div>

#endContentTool()

