<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>InfoGlue Image Editor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>
	<script type="text/javascript" src="script/imageEditor/imageEditor.js"></script>
	<script type="text/javascript" src="script/imageEditor/imageEditorCore.js"></script>
	
	<script language="JavaScript">
		<!--
		
		/**
		 * This method submits the form and shows a uploading-dialog.
		 */
		 
		function submitForm()
		{
			if(document.getElementById("tt").value != "")
			{
				if(document.getElementById("file1").value != "")
				{
					moveDiv("savingLayer", "20px", "20px");
					resizeDiv("savingLayer", "350px", "150px");
					showDiv("savingLayer");
					document.editForm.submit();
				}
				else
				{
					alert("$ui.getString("tool.contenttool.fileUpload.assetMissing")");
				}
			}
			else
			{
				alert("$ui.getString("tool.contenttool.fileUpload.assetKeyMissing")");
			}
		}

		/**
		 * This method submits the form and shows a uploading-dialog.
		 */
		 
		function submitAndCloseForm()
		{
			if(document.getElementById("tt").value != "")
			{
				if(document.getElementById("file1").value != "")
				{
					moveDiv("savingLayer", "20px", "20px");
					resizeDiv("savingLayer", "350px", "150px");
					showDiv("savingLayer");
					document.editForm.closeOnLoad.value = "true";
					document.editForm.submit();
				}
				else
				{
					alert("$ui.getString("tool.contenttool.fileUpload.assetMissing")");
				}
			}
			else
			{
				alert("$ui.getString("tool.contenttool.fileUpload.assetKeyMissing")");
			}
		}
		
		//*******************************************
		//This method refreshes the caller
		//*******************************************
	
		function refreshCaller()
		{
			if(window.opener && window.opener.parent && window.opener.parent.frames['main'])
				window.opener.parent.frames['main'].location.reload();
			else
				window.opener.location.reload();	
	
			window.close();
		}
	
		function ddClick()
		{
			// Show / hide list
			var list = document.getElementById("dd");
			
			if (list.style.visibility == "hidden")
			{
				list.style.visibility = "";
			}
			else
			{
				list.style.visibility = "hidden";
			}
		}
		function ddListClick()
		{
			// Show / hide list
			var tt = document.getElementById("tt");
			var list = document.getElementById("dd");
			var val = list.options[list.selectedIndex].value
			tt.value=val;
			list.style.visibility = "hidden";
			// alert(val);
		}
		function ddHide()
		{
			var list = document.getElementById("dd");
			list.style.visibility = "hidden";
		}

		function activateResizeTool()
		{
			document.location.href = "ImageEditor!resize.action?digitalAssetId=$digitalAssetId&contentVersionId=$contentVersionId&width=100&height=70";			
		} 		
		
		function activateCropTool()
		{
			document.location.href = "ImageEditor!crop.action?digitalAssetId=$digitalAssetId&contentVersionId=$contentVersionId&xpos1=" + sx + "&ypos1=" + sy + "&xpos2=" + ex + "&ypos2=" + ey;
		} 		

		function saveImage()
		{
			document.location.href = "ImageEditor!save.action?digitalAssetId=$digitalAssetId&contentVersionId=$contentVersionId";
		} 		
		
		-->
	</script>
	
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="contenttooledit" #if($closeOnLoad == "true")onload="refreshCaller();"#end>

<div class="fullymarginalized">

<div id="savingLayer" class="infobackground">
	<div class="infoheader">Saving changes</div>
	<div class="infobody">
		<br>Generating file - please wait!<br><br>
		<img src="images/progressbar.gif">
	</div>
</div>

	<div style="position: absolute; left: 10px; width: 50px;">
		<p>
			<a href="javascript:activateMarkTool();"><img src="images/markIcon.gif" width="20" height="20" border="0" alt="Mark section of image"/></a>
		</p>
		<p>
			<a href="javascript:activateResizeTool();"><img src="images/resizeIcon.gif" width="20" height="20" border="0" alt="Resize image"/></a>
		</p>
		<p>
			<a href="javascript:activateCropTool();"><img src="images/cropIcon.gif" width="20" height="20" border="0" alt="Crop image"/></a>
		</p>
		<p>
			<a href="javascript:saveImage();"><img src="images/saveIcon.gif" width="20" height="20" border="0" alt="Save image"/></a>
		</p>
	</div>
	
	<div style="position: absolute; left: 60px; width: 800px;">
		<div id="pxn8_canvas">
		<div id="pxn8_image_container" >
		  
		  <img id="pxn8_image" border="0" src="$modifiedFileUrl"/>
		  
		</div>  
		
		<!-- selectBox -->
		<div id="pxn8_select_rect" name="pxn8_select_rect" style=""></div>
		
		<!-- these areas surround the selection area -->
		<div id="pxn8_left_rect"   style=""></div>
		<div id="pxn8_top_rect"    style="border-bottom: 1px dashed white;"></div>
		<div id="pxn8_bottom_rect" style="border-top: 1px dashed white;"></div>
		<div id="pxn8_right_rect"  style=""></div>
		
		</div><!-- end of canvas -->
		
	</div>


<!--
			<img src="$digitalAssetUrl"/> 
			<br/>
			<img src="$modifiedFileUrl"/> 
	<tr>
		<td colspan="2">
			<a href="javascript:submitForm();"><img src="$ui.getString("images.contenttool.buttons.save")" width="50" height="25" border="0"></a>
			<a href="javascript:submitAndCloseForm();"><img src="$ui.getString("images.contenttool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="javascript:refreshCaller();"><img border="0" src="$ui.getString("images.contenttool.buttons.close")" width="50" height="25"></a>
		</td>
	</tr>
-->
	</form>	
</table>
</div>

<script type="text/javascript">
<!--
	PXN8.initialize('$modifiedFileUrl');
-->
</script>
</body>
</html>