<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Toolbar</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" language="JavaScript">
	<!-- 
		function openMainArea(url)
		{
			//alert('url:' + url);
			parent.frames["main"].location.href = '' + url;
		}

		function reload(url, title)
		{
			//alert('url:' + url);
			this.location.href = 'ViewContentToolToolBar.action?url=' + url + '&title=' + title;
		}
		
		//-----------------------------------------------
		// This function invokes compare on the two selected items in the list 
		//-----------------------------------------------
		
		function compareVersions(entityName)
		{
			var listForm = parent.frames["main"].document.listForm;
			var selectedObjects = getSelectedContentVersions(listForm, entityName);
			var selectedTexts = getSelectedTexts(listForm);
			//alert("selectedObjects:" + selectedObjects.length);
			if (selectedObjects.length != 2)
			{
				alert('Select exactly two versions to compare.');
			  	return;
			}
			else
			{
				//alert("selectedObjects[0]:" + selectedObjects[0]);
				//alert("selectedObjects[1]:" + selectedObjects[1]);
				window.open("ViewContentVersionDifference.action?contentVersionId1=" + selectedObjects[1] + "&contentVersionId2=" + selectedObjects[0]);
			}

		}
		
		//-----------------------------------------------
		// This function iterates through the list of select-boxes 
		// and add the selected ones id's to the id-List 
		//-----------------------------------------------

		function getSelectedContentVersions(listForm, entityName)
		{
			var str = '';
		
			var length = listForm.sel.length;
		  	if(length == null)
		  	{
		  		if (listForm.sel.checked)
			    {
			    	if(str == '')
				    	str += escape(listForm.sel.value);
			    	else
				    	str += ',' + escape(listForm.sel.value);
		  		}
		  	}
		  	else
		  	{	
			  	for (i=0; i<length; i++)
			  	{
			   		if (listForm.sel[i].checked)
			   		{
			    		if(str == '')
				    		str += escape(listForm.sel[i].value);
						else
				    		str += ',' + escape(listForm.sel[i].value);
			 		}
			 	}
			}
					 	
		 	return str.split(",");
		}
		
		
		
		//-----------------------------------------------
		// This function reloads the toolbar above the current 
		// active action so that buttons related to the view 
		// can be shown and a suitable headline be written.
		//-----------------------------------------------
		
		function submitListForm(entityName)
		{
			var listForm = parent.frames["main"].document.listForm;
			var selectedObjects = getSelectedObjects(listForm, entityName);
			var selectedTexts = getSelectedTexts(listForm);
			//alert("selectedObjects:" + selectedObjects);
			if (selectedObjects == "")
			{
				alert('Select one or more objects to delete');
			  	return;
			}
			else
			{
				listForm.message.value = listForm.message.value;
				//listForm.extraParameters.value = selectedTexts;
				listForm.yesDestination.value = listForm.yesDestination.value + '?' + selectedObjects;
				listForm.submit();
			}

		}
		
		
		//-----------------------------------------------
		// This function iterates through the list of select-boxes 
		// and add the selected ones id's to the id-List 
		//-----------------------------------------------

		function getSelectedObjects(listForm, entityName)
		{
			var str = '';
		
			var length = listForm.sel.length;
		  	if(length == null)
		  	{
		  		if (listForm.sel.checked)
			    	str += '&' + entityName + 'Id=' + escape(listForm.sel.value);
		  	}
		  	else
		  	{	
			  	for (i=0; i<length; i++)
			  	{
			   		if (listForm.sel[i].checked)
			    		str += '&' + entityName + 'Id=' + escape(listForm.sel[i].value);
			 	}
			}
					 	
		 	return str;
		}


		//-----------------------------------------------
		// This function iterates through the list of select-boxes 
		// and add the selected ones names to the messagesList 
		//-----------------------------------------------
		
		function getSelectedTexts(listForm)
		{
			var str = '';

			var length = listForm.sel.length;
		  	if(length == null)
		  	{
		  		if (listForm.sel.checked)
			    	str += listForm.rowtitle.value + "<br/>";
		  	}
		  	else
		  	{	
				for (i=0; i<length; i++)
				{
					if (listForm.sel[i].checked)
				    	str += listForm.rowtitle[i].value + "<br/>";
				}
			}
					
			return str;
		}

		
	-->
	</script>
	
	<style type="text/css">
	
	  .menuItem {
		  position: absolute;
		  background-color: #C7D1B3;
		  overflow: hidden;
		  top: 3px; 
		  height: 24px;
	  }
	  .selectedMenuItem {
		  position: absolute;
		  background-color: #C7D1B3;
		  overflow: hidden;
		  top: 3px; 
		  height: 48px;
		  border: 1px solid gray;
	  }

	  .menuButton {
		  background-color: #C7D1B3;
		  border: 1px solid #C7D1B3;
	  }
	  .selectedMenuButton {
	  	  background-color: #B4C299;
	  	  border: 1px outset #C2D0E2;
	  }
	
	</style>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
</head>

<body class="contenttool">

<!-- This is the toolbar --->
<div style="LEFT:1px; RIGHT:2px; position:absolute; TOP:1px; BOTTOM:1px; visibility:visble; z-index:1">
<table class="contenttool" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td colspan="3" bgcolor="#FFFFFF"><image src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#FFFFFF"><image src="images/trans.gif" width="1" height="28"></td>
	<td valign="middle" width="100%" height="100%">
		#*
		#foreach($button in $buttons)
			#if($button.isSelfContained)
				<a href="$button.getActionUrl()"><img src="$button.getImageUrl()" border="0" class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a><img src="images/splitter.gif">						 
			#else
				<a href="javascript:openMainArea('$button.getActionUrl()', '$button.getTitle()');"><img src="$button.getImageUrl()" border="0"class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a>
				<img src="images/splitter.gif">		
			#end
		#end
		*#
		
		#set($left = 0)
		#foreach($button in $buttons)
			#set($width = $button.width + 2)
			
			#if($button.isSelfContained)
			<div class="menuItem" #if($button.subButtons.size() > 0)onmouseover="this.className='selectedMenuItem';" onmouseout="this.className='menuItem';"#end style="left: ${left}px; width: ${width}px;">
				<a href="$button.getActionUrl()"><img src="$button.getImageUrl()" border="0" class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a>
			#else
				<div class="menuItem" #if($button.subButtons.size() > 0)onmouseover="this.className='selectedMenuItem';" onmouseout="this.className='menuItem';"#end style="left: ${left}px; width: ${width}px;">
					<a id="$button.getTitle()" $style href="javascript:openMainArea('$button.getActionUrl()', '$button.getTitle()');"><img src="$button.getImageUrl()" border="0" class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a>
			#end
			
		    #foreach($subButton in $button.subButtons)
				#set($width = $subButton.width + 2)
				#if($subButton.isSelfContained)
					<a href="$subButton.getActionUrl()"><img src="$subButton.getImageUrl()" border="0" class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a>						 
				#else
					<a id="$subButton.getTitle()" $style href="javascript:openMainArea('$subButton.getActionUrl()', '$subButton.getTitle()');"><img src="$subButton.getImageUrl()" border="0" class="menuButton" onmouseover="this.className='selectedMenuButton';" onmouseout="this.className='menuButton';"></a>
				#end
			#end
			  				
			#if($button.subButtons.size() > 0)
				<div style="position: absolute; right: 0px; bottom: 2px; width: 3px; height: 3px;">
					<img src="images/expandMenu.gif">
				</div>
			#end
	 		  </div>

			#set($left = $left + $button.width + 5)
				<div style="position: absolute; left: ${left}px; top: 5px; width: 2px; height: 20px;">
					<img src="images/splitter.gif">
				</div>
			#set($left = $left + 3)
			
		#end
 		
	</td>
	<td bgcolor="#999999"><image src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td colspan="3" bgcolor="#999999"><image src="images/trans.gif" width="1" height="1"></td>
</tr>
</table>
</div>

<!-- This is the headline --->
<div style="LEFT:1px; RIGHT:0px; position:absolute; TOP:32px; BOTTOM:1px; visibility:visble; z-index:0">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
	<td colspan="3" bgcolor="FFFFFF"><image src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td class="actionheader"><image src="images/trans.gif" width="15" height="1">$ui.getString($title)</td>
</tr>
<tr class="lightgreen">
	<td colspan="3" height="1"><img src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td colspan="3" height="1"><img src="images/trans.gif" width="1" height="1"></td>
</tr>
</table>

</body>
</html>
