<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Upload attachment</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>
	
	<script type="text/javascript" src="script/jquery/jquery-1.2.3.min.js"></script>

	<link href="applications/swfupload/css/default.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="applications/swfupload/swfupload.js"></script>
	<script type="text/javascript" src="applications/swfupload/handlers.js"></script>
	<script type="text/javascript">
	
		var swfu;
		window.onload = function () {
			swfu = new SWFUpload({
				// Backend Settings
				upload_url: "../../CreateDigitalAsset!multiple.action",	// Relative to the SWF file
				post_params: {
					"contentTypeDefinitionId": "$contentTypeDefinitionVO.id",
					"entity": "$!entity",
					"entityId": "$!entityId",
					"contentVersionId": "$!contentVersionId",
					"uploadedFilesCounter": "$!uploadedFilesCounter",
					"closeOnLoad": "$!closeOnLoad",
					"JSESSIONID": "$this.getRequest().getSession().getId()"
					},

				// File Upload Settings
				#set($maxSizeInKB = $this.userUploadMaxSize / 1000)
				file_size_limit : "$maxSizeInKB",	// 2MB
				file_types : "*.*",
				file_types_description : "All files",
				file_upload_limit : "0",

				// Event Handler Settings - these functions as defined in Handlers.js
				//  The handlers are not part of SWFUpload but are part of my website and control how
				//  my website reacts to the SWFUpload events.
				file_queue_error_handler : fileQueueError,
				file_dialog_complete_handler : fileDialogComplete,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,

				// Flash Settings
				flash_url : "applications/swfupload/swfupload_f9.swf",	// Relative to this file

				custom_settings : {
					upload_target : "divFileProgressContainer"
				},
				
				// Debug Settings
				debug: false
			});
		};
	</script>	

	<script language="JavaScript">
		<!--
		
		/**
		 * This method submits the form and shows a uploading-dialog.
		 */
		 
		function submitForm()
		{
			var value = document.getElementById("tt").value;
			var trimmed = value.replace(/^\s+|\s+$/g, '');
			if(trimmed != "")
			{
				if(document.getElementById("file1").value != "")
				{
					moveDiv("savingLayer", "20px", "20px");
					resizeDiv("savingLayer", "350px", "150px");
					showDiv("savingLayer");
					document.editForm.submit();
				}
				else
				{
					alert("$ui.getString("tool.contenttool.fileUpload.assetMissing")");
				}
			}
			else
			{
				alert("$ui.getString("tool.contenttool.fileUpload.assetKeyMissing")");
			}
		}

		/**
		 * This method submits the form and shows a uploading-dialog.
		 */
		 
		function submitAndCloseForm()
		{
			if(document.getElementById("tt").value != "")
			{
				if(document.getElementById("file1").value != "")
				{
					moveDiv("savingLayer", "20px", "20px");
					resizeDiv("savingLayer", "350px", "150px");
					showDiv("savingLayer");
					document.editForm.closeOnLoad.value = "true";
					document.editForm.submit();
				}
				else
				{
					alert("$ui.getString("tool.contenttool.fileUpload.assetMissing")");
				}
			}
			else
			{
				alert("$ui.getString("tool.contenttool.fileUpload.assetKeyMissing")");
			}
		}
		
		//*******************************************
		//This method refreshes the caller
		//*******************************************
	
		function refreshCaller()
		{
			if(window.opener && window.opener.parent && window.opener.parent.frames['main'])
				window.opener.parent.frames['main'].location.reload();
			else
				window.opener.location.reload();	
	
			window.close();
		}
	
		function ddClick()
		{
			// Show / hide list
			var list = document.getElementById("dd");
			
			if (list.style.visibility == "hidden")
			{
				list.style.visibility = "";
			}
			else
			{
				list.style.visibility = "hidden";
			}
		}
		function ddListClick()
		{
			// Show / hide list
			var tt = document.getElementById("tt");
			var list = document.getElementById("dd");
			var val = list.options[list.selectedIndex].value
			tt.value=val;
			list.style.visibility = "hidden";
			// alert(val);
			//alert("New assetKey:" + val + ":" + assetSizeArray["" + val + ""]);
			document.getElementById("maxSize").innerHTML = "(Max " + assetSizeArray["" + val + ""] + ")";
		}
		function ddHide()
		{
			var list = document.getElementById("dd");
			list.style.visibility = "hidden";
		}
		
		function keyChanged()
		{
			var tt = document.getElementById("tt");
			var val = tt.value;
			var userMaxSize = "$formatter.formatFileSize($this.userUploadMaxSize)";
			var keySize = "" + assetSizeArray["" + val + ""];
			//alert("userMaxSize: " + userMaxSize + ":" + keySize);
			if(keySize != 'undefined')
				document.getElementById("maxSize").innerHTML = "(Max " + keySize + ")";
			else
				document.getElementById("maxSize").innerHTML = "(Max " + userMaxSize + ")";			
		}
		
		function setAssetKey()
		{
			var assetKeyElement = document.getElementById("tt");
			//alert("assetKeyElement:" + assetKeyElement.value);
			if(assetKeyElement.value == '')
			{
				var fileName = document.getElementById("file1").value;
				//alert("fileName:" + fileName);
				var indexOfLastDot = fileName.lastIndexOf(".");
				var indexOfLastSlash = fileName.lastIndexOf("/");
				if(indexOfLastSlash == -1)
					indexOfLastSlash = fileName.lastIndexOf("\\");
				//alert("indexOfLastDot:" + indexOfLastDot);	
				//alert("indexOfLastSlash:" + indexOfLastSlash);	
				var assetKey = fileName.substring(indexOfLastSlash + 1, indexOfLastDot);
				//alert("assetKey:" + assetKey);	
				assetKeyElement.value = assetKey;
			}
		}
		
		var assetSizeArray = new Array();
		#foreach($assetKeyDefinition in $definedAssetKeys)
			assetSizeArray["$assetKeyDefinition.assetKey"] = "$formatter.formatFileSize($assetKeyDefinition.maximumSize)";
		#end
		-->
		
		var previousTabId = "";
		var previousLiTabId = "";
		
		function activateTab(tabId)
		{
			if(previousTabId != "")
				document.getElementById(previousTabId).style.display = "none";
			document.getElementById(tabId).style.display = "block";

			if(previousLiTabId != "")
				document.getElementById(previousLiTabId).className = "";
			document.getElementById(tabId + "Tab").className = "activeTab";
						
			previousTabId = tabId;
			previousLiTabId = tabId + "Tab";
		}
		
		$(document).ready(function(){
			window.resizeTo(500,450);
			activateTab('detailedUpload');
		});
	</script>
	
	<style type="text/css">
		.settingsTabs
		{
			margin: 0;	
			padding-left: 10px;
			aborder: 1px solid #ccc;
			abackground-color: white;
			clear: both;
			overflow: auto;
		}
		
		.settingsTabs li
		{
			margin: 0; 
			padding: 0;
			display: inline;	
			list-style-type: none;
		}

		.settingsTabs a:link, .settingsTabs a:visited {	
			float: left;
			background: #f3f3f3;
			font-size: 10px;	
			line-height: 14px;	
			padding: 2px 10px 2px 10px;
			margin-right: 4px;	
			border: 1px solid #ccc;	
			border-bottom: 0px solid white;
			text-decoration: none;	
			color: #666;
		}

		.settingsTabs a:link.active, .settingsTabs a:visited.active {
			border-bottom: 1px solid #fff;
			background: #fff;	
			color: #000;
		}
		
		.settingsTabs a:hover	{
			background: #fff;
		}
		
		.activeTab {
			color: #000;
			font-weight: bold;
		}

		.activeTab a:link, .activeTab a:link.visited {
			color: #000;
			font-weight: bold;
		}

		.tabs
		{
			display: block;
		}
		
		.tab
		{
			display: none;
			padding: 8px;
			border: 1px solid #ccc;
		}
	</style>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="contenttooledit" #if($closeOnLoad == "true")onload="refreshCaller();"#end>

<div id="savingLayer" class="infobackground">
	<div class="infoheader">Saving changes</div>
	<div class="infobody">
		<br>Uploading file - please wait!<br><br>
		<img src="images/progressbar.gif">
	</div>
</div>

<div class="fullymarginalized">

<ul class="settingsTabs">
	<li id="detailedUploadTab" class=""><a href="javascript:activateTab('detailedUpload');">Detailed upload</a></li>
	<li id="bulkUploadTab" class=""><a href="javascript:activateTab('bulkUpload');">Bulk upload</a></li>
</ul>
<div style="clear: both;"/>

<div class="tabs">
	<div class="tab" id="detailedUpload">

	<form enctype="multipart/form-data" name="editForm" method="POST" action="CreateDigitalAsset.action">
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionVO.id">
	<input type="hidden" name="entity" value="$!entity">
	<input type="hidden" name="entityId" value="$!entityId">
	<input type="hidden" name="contentVersionId" value="$!contentVersionId">
	<input type="hidden" name="uploadedFilesCounter" value="$!uploadedFilesCounter">
	<input type="hidden" name="closeOnLoad" value="false">
	<table width="350" border="0">
		<tr>
			<td class="biglabel" width="250">
				#if($uploadedFilesCounter == 0)
					$ui.getString("tool.contenttool.fileUpload.fileUploadHeader")
				#else
					$ui.getString("tool.contenttool.fileUpload.fileUploadedSoFarLabel"): $uploadedFilesCounter
				#end
				<span id="maxSize">(Max $formatter.formatFileSize($this.userUploadMaxSize))</span>
			</td>
			<td rowspan="2" width="100" style="border: 1px solid black; background-color: white;" align="center" valign="middle">
				#if($uploadedFilesCounter != 0)
					#set($digitalAssetUrl = "$digitalAssetUrl")
					<a href="javascript:openPopup('$digitalAssetUrl', 'Preview', 'width=600,height=500,resizable=yes');"><img class="scaledbordered" src="$assetThumbnailUrl"><br>
					#if($digitalAssetKey.length() > 15)
						$digitalAssetKey.substring(0, 12)...
					#else
						$digitalAssetKey
					#end
					</a>
				#end
				&nbsp;
			</td>
		</tr>		
		<tr>
			<td>
				$ui.getString("tool.contenttool.fileUpload.fileUploadKeyLabel")
				<br/>
				<div id="comboBox">
				  <table border="0" cellspacing="0" id="cboBoxTable">
				    <tr>
				      <td width="10" style="border: 1px solid black;">
				  		<input type="text" name="digitalAssetKey" id="tt" size="20" onfocus="ddHide();" onChange="keyChanged();" style="border: 1px solid #FFFFFF" #if($definedAssetKeys.size() > 0)value="$definedAssetKeys.get(0).assetKey" #end></td>
				      	<td onClick="ddClick();" style="border: 1px solid black;">
				      	<img border="0" src="images/combodown.gif" width="15" height="20">
				      </td>
				    </tr>
				  </table>
				  <select size="5" name="dd" id="dd" style="border:0px solid #FFFFFF; width: 163px; height: 100; visibility: hidden; z-index: 100; position: absolute;" onClick="ddListClick();">
					#foreach($assetKeyDefinition in $definedAssetKeys)
						<option value="$assetKeyDefinition.assetKey">$assetKeyDefinition.assetKey</option>
					#end
				  </select>
				  <script type="text/javascript">
				  <!--	
					var maxSize = "$formatter.formatFileSize($this.userUploadMaxSize)";
				 	#foreach($assetKeyDefinition in $definedAssetKeys)
				 		#if($velocityCount == 1)
					 		maxSize = "$formatter.formatFileSize($assetKeyDefinition.maximumSize)";
				 		#end
				  	#end
					document.getElementById("maxSize").innerHTML = "(Max " + maxSize + ")";
				  -->
				  </script>
				</div>
			</td>
		</tr>		
		<tr>
			<td colspan="2">
				$ui.getString("tool.contenttool.fileUpload.fileUploadFileLabel")<br/>
				<input size=30 type="FILE" name="file1" id="file1" onchange="setAssetKey();">
			</td>
		</tr>		
		<tr>
			<td colspan="2">
				<a href="javascript:submitForm();"><img src="$ui.getString("images.contenttool.buttons.save")" width="50" height="25" border="0"></a>
				<a href="javascript:submitAndCloseForm();"><img src="$ui.getString("images.contenttool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
				<a href="javascript:refreshCaller();"><img border="0" src="$ui.getString("images.contenttool.buttons.close")" width="50" height="25"></a>
			</td>
		</tr>
	
		</form>	
	</table>
	</div>
</div>

	<div class="tab"id="bulkUpload">
		
		<form>
			<div id="intro">
				<strong>$ui.getString("tool.contenttool.fileUpload.fileUploadHeader")<span id="maxSize">(Max $formatter.formatFileSize($this.userUploadMaxSize))</span></strong><br/>
				<button id="btnBrowse" type="button" style="margin-top: 5px; padding: 2px;" onclick="swfu.selectFiles(); this.blur();"><img src="applications/swfupload/images/page_white_add.png" style="padding-right: 3px; vertical-align: bottom;">$ui.getString("tool.contenttool.fileUpload.fileUploadFileLabel")</button>
			</div>
			<div id="divFileProgressContainer" style="height: 5px; margin: 0px; padding: 0px;"></div>
			<div id="thumbnails" style="border: 0px; height: 5px; overflow: auto;"></div>
			
			<div style="margin-top: 5px;">
				<a href="javascript:refreshCaller();"><img border="0" src="$ui.getString("images.contenttool.buttons.close")" width="50" height="25"></a>
			</div>
		</form>
		
	</div>
</div>

</body>
</html>