<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginContentTool("tool.contenttool.searchResultHeader" $ui.getString("tool.contenttool.searchResultHeader") "" "0" "0" "0")

<div class="fullymarginalized">
<table tableborder=0 border=0 bgcolor=#C7D1B3 width=100% cellpadding="1" cellspacing="0"><tr><td>
#set($lvConstraint = 0) 
<!--lvHead(["Content Version Title","Type","Content Title","Repository Name","Score"] "" "" "" "") -->
#lvHead([$ui.getString("tool.contenttool.searchResultContentHeader"), $ui.getString("tool.contenttool.searchResultLanguageHeader"), $ui.getString("tool.contenttool.searchResultStateHeader"), $ui.getString("tool.contenttool.searchResultLastModifiedHeader")] "" "" "" "")

#set($cnt = 0)
#foreach ($contentVersionVO in $contentVersionVOList)
	#set( $rowUrl = "ViewContentVersion.action?contentId=$contentVersionVO.contentId&languageId=$contentVersionVO.languageId")
	#set( $row = ["<a href=$rowUrl>$this.getContentVO($contentVersionVO.contentId).name</a>", "$this.getLanguageVO($contentVersionVO.languageId).name", "$contentVersionVO.stateId", "$contentVersionVO.modifiedDateTime"] )
	#set($cnt = $cnt + 1)
	
	#lvAddRow($row $cnt $id)
#end
#if($cnt == 0)
##	<tr><td>No matches found!</td></tr>
	#lvAddRow([$ui.getString("tool.contenttool.searchResultNoMatchesText"), "", "", ""] 1 0)
#end

#lvEnd()
#endContentTool()

