<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script type="text/javascript" src="script/overlib.js"></script>
<script type="text/javascript">
<!--
	if(parent.refreshTopToolBar)
		parent.refreshTopToolBar('tool.publishingtool.repositoryPublications', 'tool.publishingtool.repositoryPublications', 'repositoryId=$repositoryId', -1, -1, -1);
	else
		refreshManagementToolBar('tool.publishingtool.repositoryPublications', '');

	function showHide(a)
	{
		parent.openInlineDiv("ViewPublications!showPublicationDetails.action?publicationId=" + a, 500, 600, true, true, "PublicationDetails");
	}
	
	function ruSure(txt, url)
	{
		question = confirm(txt);
		if (question !="0")
		{
			document.location = url;
		}
	}
	
	function filter(select)
	{
		var filterValue = select.options[select.selectedIndex].value
		var url = "ViewPublications.action?repositoryId=$repositoryId&filter=" + filterValue;
		document.location.href = url;
	}
	
	function submitToCreate()
	{
		var listForm = document.listForm;
		if (checkMarkedVersions(listForm) == 0)
		{
			alert('Select one or more versions to publish');
		  	return;
		}
		else
		{
			listForm.action = "CreateEdition!inputV3.action";
			listForm.submit();
		}
	}
	
	function submitToUnpublish(entityName)
	{
		var listForm = document.listFormPublication;
		if (listForm.sel == null)
		{
			alert("There is no editions available to unpublish");
			return;
		}
	
		var selectedObjects = getSelectedObjects(listForm, entityName);
		var selectedTexts = getSelectedTexts(listForm);
		
		// alert("selectedObjects:" + selectedObjects);
		
		if (selectedObjects == "")
		{
			alert('Select one edition to unpublish');
		  	return;
		}
		else
		{
			listForm.header.value = "tool.publishtool.unpublishEdition.header";
			listForm.message.value = "tool.publishtool.unpublishEdition.text"; 
			listForm.extraParameters.value = selectedTexts;
			listForm.yesDestination.value = listForm.yesDestination.value + selectedObjects;
			listForm.submit();
		}
	
	}
	
	function submitToDeny()
	{
		var listForm = document.listForm;
		if (checkMarkedVersions(listForm) == 0)
		{
			alert('Select one or more items to deny');
		  	return;
		}
		else
		{
			listForm.action = "DenyPublicationRequest!commentV3.action";
			listForm.submit();
		}
	}
	
	function submitToPreview()
	{
		var listForm = document.listForm;
		if (checkMarkedVersions(listForm) == 0)
		{
			alert('Select one or more versions to preview');
		  	return;
		}
		else
		{
			arguments = getSelectedChkObjects(listForm.sel, "event");
			previewWindow=window.open("PreviewEdition.action?" + arguments, "Preview", "toolbar=no, width=800, height=650, directories=no,  status=no, scrollbars=yes, resize=no, menubar=no");
			previewWindow.focus();
			
			previewWindow.document.write("<html><head><title>Preview edition</title></head>");
			previewWindow.document.write("<frameset FRAMESPACING='0' FRAMEBORDER='NO' BORDER='0' rows='50,600'>");
			previewWindow.document.write("<frame noresize frameborder=0 scrolling=no name='previewTop' src='PreviewEdition.action?" + getSelectedChkObjects(listForm.sel, "event") +"'>");
			previewWindow.document.write("<frame name='previewMain' src=''>");
			previewWindow.document.write("</frameset></html>");
		}
	}
	
	function checkMarkedVersions(listForm)
	{
		var lengthsel = null;
		var lengthsit = null;
		var ret = 0;
		if (listForm.sel != null)
			lengthsel = listForm.sel.length;
		if (listForm.sit != null)
			lengthsit = listForm.sit.length;
	
		if (lengthsel == null && listForm.sel != null)
	  	{
	  		if (listForm.sel.checked)
		    	ret++;
	  	}
		else
		{
		  	for (i=0; i<lengthsel; i++)
		   		if (listForm.sel[i].checked)
		    		ret++;
		}
		    		
		if (lengthsit == null && listForm.sit != null)
	  	{
	  		if (listForm.sit.checked)
		    	ret++;
	  	}
	  	else
	  	{
		  	for (i=0; i<lengthsit; i++)
		   		if (listForm.sit[i].checked)
		    		ret++;
		}
	    		
		return ret;
	}
	
	//-----------------------------------------------
	// This function iterates through the list of select-boxes 
	// and add the selected ones id's to the id-List 
	//-----------------------------------------------
	
	function getSelectedObjects(listForm, entityName)
	{
		var str = '';
		var length = listForm.sel.length;
	  	if(length == null)
	  	{
	  		if (listForm.sel.checked)
		    	str += '&' + entityName + 'Id=' + escape(listForm.sel.value);
	  	}
	  	else
	  	{	
		  	for (i=0; i<length; i++)
		  	{
		   		if (listForm.sel[i].checked)
		    		str += '&' + entityName + 'Id=' + escape(listForm.sel[i].value);
		 	}
		}
				 	
	 	return str;
	}
	
	function getSelectedChkObjects(chkBox, entityName)
	{
		if (chkBox == null)
			return "";
			
		var str = '';
		var length = chkBox.length;
	  	if(length == null)
	  	{
	  		if (chkBox.checked)
		    	str += '&' + entityName + 'Id=' + escape(chkBox.value);
	  	}
	  	else
	  	{	
		  	for (i=0; i<length; i++)
		  	{
		   		if (chkBox[i].checked)
		    		str += '&' + entityName + 'Id=' + escape(chkBox[i].value);
		 	}
		}
				 	
	 	return str;
	}
	
	//-----------------------------------------------
	// This function iterates through the list of select-boxes 
	// and add the selected ones names to the messagesList 
	//-----------------------------------------------
	
	function getSelectedTexts(listForm)
	{
		var str = '';
	
		var length = listForm.sel.length;
	  	if(length == null)
	  	{
	  		if (listForm.sel.checked)
		    	str += listForm.rowtitle.value + "<br/>";
	  	}
	  	else
	  	{	
			for (i=0; i<length; i++)
			{
				if (listForm.sel[i].checked)
			    	str += listForm.rowtitle[i].value + "<br/>";
			}
		}
				
		return str;
	}
	
	function checkUncheckAll(checkbox)
	{
		if(checkbox.checked)
			checkAll();
		else
			uncheckAll();				
	}

	function checkAll()
	{
		checkAllBoxes(document.listForm.sel);					
	}

	function uncheckAll()
	{
		uncheckAllBoxes(document.listForm.sel);		
	}
		
-->	
</script>

#beginPublishingTool("tool.publishingtool.welcomeHeader" "Publications" "repositoryId=$repositoryId")

<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000; border: 1px solid #333333; background-color: #CCCCFF;"></div>

<table width=100%>
<tr>
<td width=50%><img src="images/trans.gif" width="350" height="1"></td><td></td><td width=50%><img src="images/trans.gif" width="350" height="1"></td>
</tr>

<tr>
<td valign="top">

#set($eh = $editionBrowser.editions.size())
#set($vh = $contentToPublish.size() + $siteNodeToPublish.size())

#if($eh > $vh)
	#set($vh=$eh)
#end

#set($vh=$vh * 30)


<!--   *****  VERSIONS FOR PUBLISHING  *******  -->
<div>
<div style="width: 40%; float: left">
<strong>Submitted for publishing</strong> 
</div>
<div style="float: right; text-align: right;">
Filter: 
#if($allowPublicationEventFilter == "true")
	<select style="width: 200px;" name="filter" onChange="filter(this);">
		<option value="all" #checkSelected("$filter" "all")>$ui.getString("entity.ServerNode.property.allPublicationEventFilter.label")</option>
		<option value="groupBased" #checkSelected("$filter" "groupBased")>$ui.getString("entity.ServerNode.property.groupBasedPublicationEventFilter.label")</option>
		#foreach($group in $infoGluePrincipal.groups)
			<option value="groupNameBased_$group.name" #checkSelected("$filter" "groupNameBased_$group.name")>$ui.getString("entity.ServerNode.property.groupNameBasedPublicationEventFilter.label") $group.name</option>
		#end
	</select>
#else
	Not enabled
#end
</div>
</div>
<br/><br/>

#set($lvBorder = 0)
#set($lvConstraint = -1)
#lvHeadV3(["Name (comment)","Modified", "User"] "Publish items" "" "" "" true)

#hiddenField("repositoryId" $repositoryId)

#set($cnt = 0)


## EVENTS UP FOR REVIEW
#foreach ($publicationEvent in $publicationEvents)
	#set($cId = $publicationEvent.id)
	#set($q='"')
	#set($singleQuote="'")
	#set($publicationName = $this.escape($publicationEvent.name))
	#set($deny="JavaScript:ruSure('Do you really want to deny $publicationName','DenyPublicationRequest.action?eventId=$publicationEvent.id&repositoryId=${repositoryId}');")
	#set($deny="$q$deny$q")
	#set($denyUrlStart = "<a title='Deny content, $publicationName, and send it back to content provider' href=")
	#set($denyUrlEnd="><img src=images/deny.gif border=0></a>")

	#set($rowUrl = "ViewContent.action?contentId=$contentVO.getContentId()&title=Content%20details")

	#if($publicationEvent.entityClass.indexOf("ContentVersion") > -1)
		#if($publicationEvent.typeId == 3)
			#set($icon = "<img src='images/tree/unpublishContentItem.gif' border=0>")
		#else
			#set($icon = "<img src='images/tree/contentItem.gif' border=0>")
		#end
	#else
		#if($publicationEvent.typeId == 3)
			#set($icon = "<img src='images/tree/unpublishSiteNodeItem.gif' border=0>")
		#else
			#set($icon = "<img src='images/tree/siteNodeItem.gif' border=0>")
		#end
	#end

	#if($publicationEvent.description.length() > 50)
		#set($description = "${publicationEvent.description.substring(0,50)}...")
	#else
		#set($description = "${publicationEvent.description}")
	#end

	#set($fnutt = '"')
	#set($creatorDisplayName = "$!this.getInfoGluePrincipal($publicationEvent.creator).displayName")
	#if($creatorDisplayName == "")
		#set($creatorDisplayName = "$publicationEvent.creator")
	#end
	#set($modifiedDate = $formatter.formatDate($publicationEvent.creationDateTime, "yyyy-MM-dd HH:mm"))
	##set( $row = ["$icon $publicationEvent.name ($description)","$modifiedDate", "$denyUrlStart$deny$denyUrlEnd"] )
	#set($span = "<span onmouseover='return overlib(${fnutt}${formatter.cleanForJavascriptStrings($publicationEvent.description)}${fnutt}, WIDTH, 400, BGCOLOR, ${fnutt}#FFFFFF${fnutt});' onmouseout='return nd();'>($description)</span>")
	#set( $row = ["$icon $publicationEvent.name $span", "$modifiedDate", "$creatorDisplayName"] )
	#set($cnt = $cnt + 1)

	#lvAddRowV3($row $cnt $cId false)
#end


#if( $cnt==0)
	<tr><td>&nbsp;No versions marked for publishing available</td><td><img src="images/trans.gif" width="200" height="1"/></td><td></td></tr>
#end

#lvEnd()

</td>

<!-- LINE BETWEEN TABLES -->
<td valign="top">&nbsp; <img src="images/greydot.gif" height="$vh" width="2" border=0 align=left></td>

<td valign="top">

<!--   *****  EDITIONS  *******  -->
#set( $start = $editionBrowser.startIndex + 1 )
#set( $end = $editionBrowser.startIndex + $editionBrowser.editions.size() )
<strong>Previous published editions ($start - $end of $editionBrowser.totalEditions)</strong><br/><br/>

#set($lvConstraint = 0)
#lvHead(["Name","Description", "Date"] "" "" "" "")

		<form name="listFormPublication" action="Confirm.action" method="POST">
			<input type="hidden" name="header" value=""/>
			<input type="hidden" name="yesDestination" value="DeleteEdition!V3.action?repositoryId=$repositoryId"/>
			<input type="hidden" name="noDestination" value="ViewPublications!V3.action?repositoryId=$repositoryId"/>
			<input type="hidden" name="message" value=""/>
			<input type="hidden" name="extraParameters" value=""/>

	#hiddenField("repositoryId" $repositoryId)


## Start on odd but dont reset cnt, for rowid´s sake
#set( $chk = $cnt % 2)
#if($chk==1)
	#set($cnt = $cnt + 1)
#end
#set($newcnt = $cnt)

#foreach ($publicationVO in $editionBrowser.editions)
	#set($cnt = $cnt + 1)
	#set( $cId = $publicationVO.getId() )

	#set( $rowUrl = "")

	## Only the most recent of all editions should be selectable
	#if($velocityCount == 1 && $editionBrowser.startIndex == 0)
		#set( $chkbox = "<input type='checkbox' id='sel' name='sel' value='$cId' onClick=CheckUncheck('r${cnt}',this); /><input type='hidden' name='rowtitle' value='$publicationVO.getName()'/>")
	#else
		#set( $chkbox = "<input type='checkbox' disabled='true'/>")
	#end

	#set( $row = "<a onclick=showHide('$publicationVO.getPublicationId()');><!--<img id='i$publicationVO.getPublicationId()' src='images/tree/smallplus.gif' border=0>--></a><a href=JavaScript:showHide('$publicationVO.getPublicationId()');>$publicationVO.getName()</a>")

	##set( $row = "$row <div id='e$publicationVO.getPublicationId()' style='width: 300px; display:none;'>")
	##set( $row = "$row <iframe frameborder='0' id='$publicationVO.getPublicationId()IFrame' src='' width='300' height='100' align='baseline' style='width:100%; height=100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;'></iframe> ")
	
	##set( $row = "$row </div>")

	#set($modifiedDate = $formatter.formatDate($publicationVO.getPublicationDateTime(), "yyyy-MM-dd HH:mm"))
	#set( $roww = ["$chkbox $row","$publicationVO.getDescription()", "$modifiedDate"] )

	#lvAddRow($roww $cnt $cId)
#end

#if( $cnt == 0 )
	<tr><td></td><td>&nbsp;No editions available</td></tr>
#end

#lvEnd()
</form>

#if( $cnt != 0 )
	#set( $pageUrl = "ViewPublications.action?repositoryId=$repositoryId")
	<table width="100%">
	<tr>
		<td align="left" width="33%">
			#if($editionBrowser.hasPreviousPage())
				#set( $prevStart = $editionBrowser.previousPageIndex + 1)
				#set( $prevEnd = $editionBrowser.previousPageIndex + $editionBrowser.previousPageSize)
				<a href="$pageUrl&startIndex=$editionBrowser.previousPageIndex">&lt;&lt; $prevStart - $prevEnd</a>
			#else
				<img src="images/trans.gif" width="10" height="1"/>
			#end
		</td>
		<td align="center" width="34%">Page $editionBrowser.currentPage of $editionBrowser.totalPages</td>
		<td align="right" width="33%">
			#if($editionBrowser.hasNextPage())
				#set( $nextStart = $editionBrowser.nextPageIndex + 1)
				#set( $nextEnd = $editionBrowser.nextPageIndex + $editionBrowser.nextPageSize)
				<a href="$pageUrl&startIndex=$editionBrowser.nextPageIndex">$nextStart - $nextEnd &gt;&gt;</a>
			#else
				<img src="images/trans.gif" width="10" height="1"/>
			#end
		</td>
	</tr>
	</table>
#end

</td>
</tr>

</table>


#endPublishingTool()