<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/cms.css" />
	<script language="JavaScript" src="script/listview.js"></script>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style>
	<!--
		.marginalized {
			border: solid 0px red;
			padding: 5px 5px 5px 5px;
		}

		.display {
			width: 100%;
			border: 1px solid #ccc;
		}
		
		.display th {
			text-align: left;
			font-size: 10px;
			background-color: #ddd;
		}
		.display td {
		}
	-->
	</style>
</head>

<body class="marginalized" style="background-color: WHITE;">

<div style="color: 000000; font-family: verdana, arial, sans-serif; font-size: 8pt;">

#set( $row = "<h3>Items in publication</h3>")
#foreach ($publicationEvent in $publicationDetailVOList)

	#if($publicationEvent.entityClass.indexOf("ContentVersion") > -1)
		#if($publicationEvent.typeId == 3)
			#set($icon = "<img src='images/tree/unpublishContentItem.gif' border=0>")
		#else
			#set($icon = "<img src='images/tree/contentItem.gif' border=0>")
		#end
	#else
		#if($publicationEvent.typeId == 3)
			#set($icon = "<img src='images/tree/unpublishSiteNodeItem.gif' border=0>")
		#else
			#set($icon = "<img src='images/tree/siteNodeItem.gif' border=0>")
		#end
	#end

	#if($velocityCount != $publicationDetailVOList.size() || $publicationDetailVOList.size() > 0)
		#set( $tree = "<img src='images/tree/space05.gif'><img src='images/tree/space0.gif'><img src='images/tree/space3.gif'>  $icon")
		#set($newLine = "<br/><img src='images/tree/space05.gif'><img src='images/tree/space0.gif'><img src='images/tree/space1.gif'> <img src='images/tree/space0.gif'>")
	#else
		#set( $tree = "<img src='images/tree/space05.gif'><img src='images/tree/space0.gif'><img src='images/tree/space2.gif'> $icon")
		#set($newLine = "<br/><img src='images/tree/space05.gif'><img src='images/tree/space0.gif'><img src='images/tree/space0.gif'> <img src='images/tree/space0.gif'>")
	#end

	#set($modifiedDate = $formatter.formatDate($publicationEvent.creationDateTime, "yyyy-MM-dd HH:mm"))
	#set( $row = "$row<nobr>$tree $publicationEvent.name ($publicationEvent.description) $newLine <font color=669999><small>modified: $modifiedDate </small></font></nobr> <br>")
	
#end
$row
<br>
<br>

		<h3>Publication status</h3>

		<table cellpadding="2" cellspacing="2" class="display" id="dataTable2">
			<thead>
				<tr>
					<th>Server</th>
					<th>Status</th>
					<th>Information</th>
				</tr>
			</thead>
			<tbody>

				#foreach ($status in $publicationStatusList)
					<tr>
						#foreach ($stat in $status)
						<td>$stat</td>
						#end	
					</tr>
				#end
				
			</tbody>
		</table>
	</div>
<br>
<br>
<a href="javascript:window.close();"><img border="0" src="$ui.getString("images.contenttool.buttons.close")" width="50" height="25"></a>
</div>
</body>
</html>