<script type="text/javascript" src="script/dom-drag.js"></script>
<script type="text/javascript" src="script/componentEditor.js"></script>
<link rel="stylesheet" type="text/css" href="css/componentEditor.css" />

</head>