<script type="text/javascript">
	var componentEditorUrl = "${componentEditorUrl}";
	var currentContext = "${contextName}";
	var currentUrl = "${currentUrl}";
	var userPrefferredLanguageCode = "${userPrefferredLanguageCode}";
	var editOnSightAttributeNames = new Array();
		
	${limitedUserWarning}
	
	try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
	try 
	{ 
		var agt=navigator.userAgent.toLowerCase();
		var reloadToolbar = window.location.href.indexOf("reloadToolbar=true") !== -1;
   	    if(agt.indexOf("safari")!=-1)
   	    {
   	   	    if(parent && parent.frames[2] && parent.frames[2].refreshStructureToolBar) 
			{
   	   	  		var position = parent.frames[2].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
   	   	  		if(position == -1 || reloadToolbar)
 	   	    		parent.frames[2].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
   		}
   	    else	
   	    {
			if(parent && parent.frames["igtoolbar"] && parent.frames["igtoolbar"].refreshStructureToolBar)
			{
				var position = parent.frames["igtoolbar"].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
				if(position == -1 || reloadToolbar) 
					parent.frames["igtoolbar"].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
		}
	} 
	catch(e) {/*alert("e:" + e);*/}

	setTimeout("keepSession()", 60000);

	window.onbeforeunload = function (e) {
	  document.getElementById("processDiv").style.display = 'block';
	};

</script>
<script type="text/javascript" src="${contextName}/script/componentEditor.js"></script>
<link rel="stylesheet" type="text/css" href="${contextName}/css/componentEditor.css" />

<script type="text/javascript" src="${contextName}/script/jquery/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/jquery.dimensions.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/jquery-ui-dragDropTabs-1.6rc2.min.js"></script>
<!--
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.mouse.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.draggable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.draggable.ext.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.droppable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.droppable.ext.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.sortable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.sortable.ext.js"></script>
-->

<script type="text/javascript" src="${contextName}/script/jqueryplugins/thickbox/thickbox-compressed.js"></script>
<style type="text/css" media="all">@import "${contextName}/script/jqueryplugins/thickbox/thickbox.css";</style>

<script type="text/javascript" src="${contextName}/applications/FCKEditor/fckeditor.js"></script>

<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="${contextName}/applications/jscalendar/skins/aqua/theme.css" title="aqua" />

<script type="text/javascript">
<!--
	function keepSession() 
	{ 
		jQuery.get("UpdateCache!testV3.action"); 
		setTimeout("keepSession()", 60000); 
	}
		
   	function openInlineDiv(url, height, width, modal) {
		var windowHeight = getWindowHeight();
   		//alert("windowHeight:" + windowHeight);
   		if(windowHeight < height)
   			height = windowHeight - 60;

		var windowWidth = getWindowWidth();
   		//alert("windowWidth:" + windowWidth);
   		if(windowWidth < width)
   			width = windowWidth - 60;
   			
   	  	var separatorSign = "?";
   		if(url.indexOf("?") > -1)
	  		separatorSign = "&";
   		
   		var addition = separatorSign + "KeepThis=true&TB_iframe=true&height=" + height + "&width=" + width + "&modal=true";
   		
   		tb_show('Redigera', url + addition, 'Redigera');
   		hideIGMenu();
   	}
-->
</script>

<!--[if lte IE 6]>
<style type="text/css">
<!--
.questionMark {	
    display: none;
}
.tooltipDiv {	
    width: 1px;
    height: 1px;
    display: none;
}
</style>

-->
</style>
<![endif]-->

</head>