<div id="processDiv">
	<div style="float: left; width: 100%; text-align: center; margin-bottom: 10px;">
		<font face="Verdana" size="-1" color="#006699"><strong>$loading</strong></font>
	</div>
	<div style="float: left; width: 100%; text-align: center;"><img alt="" src="images/v3/loadingAnimation.gif" /></div>
</div>

<div id="emptySlotMenu" class="skin0">
<div class="igmenuitems linkPublish" onClick="submitToPublish($siteNodeId, $contentId, $languageId, $repositoryId, '$originalFullURL');"><a href='#'>$submitToPublishHTML</a></div>
<div id="addComponentMenuItem" class="igmenuitems linkNotify" onclick="openInlineDiv('$notifyUrl', 700, 750, true);"><a name='notify'><a href='#'>$notifyHTML</a></div>
<div id="addComponentMenuItem" class="igmenuitems linkTakePage" onclick="openInlineDiv('$pageSubscriptionUrl', 700, 750, true);"><a name='subscribePage'>$subscribeToPageHTML</a></div>
<div id="addComponentMenuItem" class="igmenuitems linkAddComponent" onClick="insertComponent();"><a href='#'>$addComponentHTML</a></div>
<div class="igmenuitems linkCreatePageTemplate" onClick="$saveTemplateUrl"><a href='#'>$savePageTemplateHTML</a></div>
<hr id="emptySlotMenuTopSeparator" style="border:0px; border-top:1px solid #bbb; margin-top:4px;"/>
<div id="accessRightsMenuItem" class="igmenuitems linkAccessRights" onClick="setAccessRights(slotName, slotContentId);"><a href='#'>$accessRightsHTML</a></div>
<div id="pageComponentsMenuItem" class="igmenuitems linkPageComponents" onClick="toggleDiv('pageComponents');"><a href='#'>$pageComponents</a></div>
<div id="openInNewWindowMenuItem" class="igmenuitems linkOpenInNewWindow" onClick="window.open(document.location.href,'PageComponents','');"><a href='#'>$componentEditorInNewWindowHTML</a></div>
<div id="viewSourceMenuItem" class="igmenuitems linkViewSource"><a href='javascript:viewSource();'>$viewSource</div>
</div>

<div id="componentMenu" class="skin0">
<div class="igmenuitems linkEditArticle" onClick="edit();"><a href='#'>$editHTML</a></div>
<div id="addComponentMenuItem" class="igmenuitems linkAddComponent" onClick="insertComponent();"><a href='#'>$addComponentHTML</a></div>
<div id="deleteComponentMenuItem" class="igmenuitems linkDeleteComponent" onClick="deleteComponent();"><a href='#'>$deleteComponentHTML</a></div>
<div id="changeComponentMenuItem" class="igmenuitems linkChangeComponent" onClick="changeComponent();"><a href='#'>$changeComponentHTML</a></div>
<div class="igmenuitems linkCreatePageTemplate" onClick="$saveTemplateUrl"><a href='#'>$savePageTemplateHTML</a></div>
<div class="igmenuitems linkCreatePageTemplate" onClick="$savePartTemplateUrl"><a href='#'>$savePagePartTemplateHTML</a></div>
<hr id="componentMenuTopSeparator" style="border:0px; border-top:1px solid #bbb; margin-top:4px;">
<div class="igmenuitems linkComponentProperties" onClick="javascript:showComponent();"><a href='#'>$propertiesHTML</a></div>
<hr id="componentMenuMiddleSeparator" style="border:0px; border-top:1px solid #bbb; margin-top:4px;"/>
<div id="pageComponentsMenuItem" class="igmenuitems linkPageComponents" onClick="toggleDiv('pageComponents');"><a href='#'>$pageComponents</a></div>
<div id="openInNewWindowMenuItem" class="igmenuitems linkOpenInNewWindow" onClick="window.open(document.location.href,'PageComponents','');"><a href='#'>$componentEditorInNewWindowHTML</a></div>
<div id="viewSourceMenuItem" class="igmenuitems linkViewSource"><a href='javascript:viewSource();'>$viewSource</a></div>
</div>

<div id="componentInTreeMenu" class="skin0">
<div id="deleteComponentInTreeMenuItem" class="igmenuitems linkDeleteComponent" onClick="deleteComponent();"><a href='#'>$deleteComponentHTML</a></div>
<div id="changeComponentInTreeMenuItem" class="igmenuitems linkChangeComponent" onClick="changeComponent();"><a href='#'>$changeComponentHTML</a></div>
<div class="igmenuitems linkCreatePageTemplate" onClick="$saveTemplateUrl"><a href='#'>$savePageTemplateHTML</a></div>
<div class="igmenuitems linkCreatePageTemplate" onClick="$savePartTemplateUrl"><a href='#'>$savePagePartTemplateHTML</a></div>
<hr id="componentInTreeMenuTopSeparator" style="border:0px; border-top:1px solid #bbb; margin-top:4px;"/>
<div class="igmenuitems linkComponentProperties" onClick="javascript:showComponent();"><a href='#'>$propertiesHTML</a></div>
<hr id="emptySlotMenuMiddleSeparator" style="border:0px; border-top:1px solid #bbb; margin-top:4px;">
<div id="pageComponentsMenuItem" class="igmenuitems linkPageComponents" onClick="toggleDiv('pageComponents');"><a href='#'>$pageComponents</a></div>
<div id="openInNewWindowMenuItem" class="igmenuitems linkOpenInNewWindow" onClick="window.open(document.location.href,'PageComponents','');"><a href='#'>$componentEditorInNewWindowHTML</a></div>
<div id="viewSourceMenuItem" class="igmenuitems linkViewSource"><a href='javascript:viewSource();'>$viewSource</a></div>
</div>
<script type="text/javascript">
$addComponentJavascript
$deleteComponentJavascript
$changeComponentJavascript
$changeAccessJavascript

$submitToPublishJavascript
$pageStructureJavascript
$openInNewWindowJavascript
$allowViewSourceJavascript

$submitToNotifyJavascript
$contentNotificationsJavascript
$pageNotificationsJavascript		    
</script>