<div id="processDiv">
	<div style="float: left; width: 100%; text-align: center; margin-bottom: 10px;">
		<font face="Verdana" size="-1" color="#006699"><strong>$loading</strong></font>
	</div>
	<div style="float: left; width: 100%; text-align: center;"><img alt="" src="images/v3/loadingAnimation.gif" /></div>
</div>

<div id="emptySlotMenu" class="skin0">
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="submitToPublish($siteNodeId, $contentId, $languageId, $repositoryId, '$originalFullURL');">$submitToPublishHTML</div>
<div id="addComponentMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="insertComponent();">$addComponentHTML</div>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="$saveTemplateUrl">$savePageTemplateHTML</div>
<hr id="emptySlotMenuTopSeparator"/>
<div id="accessRightsMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="setAccessRights(slotName, slotContentId);">$accessRightsHTML</div>
<div id="pageComponentsMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="javascript:viewSource();">$viewSource</div>
</div>

<div id="componentMenu" class="skin0">
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="edit();">Edit</div>
<div id="addComponentMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="insertComponent();">$addComponentHTML</div>
<div id="deleteComponentMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="deleteComponent();">$deleteComponentHTML</div>
<div id="changeComponentMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="changeComponent();">$changeComponentHTML</div>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="$saveTemplateUrl">$savePageTemplateHTML</div>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="$savePartTemplateUrl">$savePagePartTemplateHTML</div>
<hr id="componentMenuTopSeparator">
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="javascript:showComponent();">Properties</div>
<hr id="componentMenuMiddleSeparator"/>
<div id="pageComponentsMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="javascript:viewSource();"><nobr>View Source</nobr></div>
</div>

<div id="componentInTreeMenu" class="skin0">
<div id="deleteComponentInTreeMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="deleteComponent();">$deleteComponentHTML</div>
<div id="changeComponentInTreeMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="changeComponent();">$changeComponentHTML</div>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="$saveTemplateUrl">$savePageTemplateHTML</div>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="$savePartTemplateUrl">$savePagePartTemplateHTML</div>
<hr id="componentInTreeMenuTopSeparator"/>
<div class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="javascript:showComponent();">Properties</div>
<hr id="emptySlotMenuMiddleSeparator">
<div id="pageComponentsMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onMouseover="javascript:highlightie5(event);" onMouseout="javascript:lowlightie5(event);" onClick="javascript:viewSource();">View Source</div>
</div>
<script type="text/javascript">
$addComponentJavascript
$deleteComponentJavascript
$changeComponentJavascript
$changeAccessJavascript

$submitToPublishJavascript
$pageStructureJavascript
$openInNewWindowJavascript
$allowViewSourceJavascript
</script>