<script type="text/javascript">
	var componentEditorUrl = "${componentEditorUrl}";
	var currentContext = "${contextName}";
	var currentUrl = "${currentUrl}";
	
	${limitedUserWarning}
</script>
<script type="text/javascript" src="${contextName}/script/dom-drag.js"></script>
<script type="text/javascript" src="${contextName}/script/ajaxComponentEditor.js"></script>

<script type="text/javascript" src="${contextName}/script/jquery/jquery-1.2.3.min.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/jquery.dimensions.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.mouse.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.draggable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.draggable.ext.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.droppable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.droppable.ext.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.sortable.js"></script>
<script type="text/javascript" src="${contextName}/script/jqueryplugins/ui/ui.sortable.ext.js"></script>

<script type="text/javascript" src="${contextName}/applications/FCKEditor/fckeditor.js"></script>

<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="${contextName}/applications/jscalendar/skins/aqua/theme.css" title="aqua" />

<script type="text/javascript">
			
	$(function()
	{
		
		$(".dragableComponent").draggable({cursorAt: {left: -10 }, cursor: 'move', distance: 10, helper: 'clone', stop: function(ev, ui) {
				$("#ghost").remove();
				clearMovedComponent = true;
			}, start: function(ev, ui) {
		    	$(ui.helper).css('border', '1px solid #ccc');
		    	$(ui.helper).css('background-color', 'white');
		    	var currentMovedComponentId = $(ui.helper).attr("id");
		    	if(currentMovedComponentId != '-1' && currentMovedComponentId != movedComponentId)
				{
					movedElementId = currentMovedComponentId;
					currentMovedComponentId = currentMovedComponentId.substring(currentMovedComponentId.indexOf("_") + 1, currentMovedComponentId.indexOf("Comp"));
					movedComponentId = currentMovedComponentId;
				}
			}
		});
			
        var $activeElement = $('#${focusElementId}Comp');
        if($activeElement && $activeElement.offset())
        {
			$(window)[0].scrollTo(0, $activeElement.offset().top - 300);
		}
		var activatedComponentId = ${activatedComponentId};

        if(activatedComponentId > 0)
        {
        	var alternateComponentPropertiesDiv = $("#alternateComponentPropertiesDiv");
			//alert("alternateComponentPropertiesDiv:" + alternateComponentPropertiesDiv);
			if(alternateComponentPropertiesDiv)
				showComponentInDiv('alternateComponentPropertiesDiv', '${parameters}', true);
			else
				showComponentInDiv('componentPropertiesDiv', '${parameters}', false);
		}
	});	

</script>

<link rel="stylesheet" type="text/css" href="${contextName}/css/ajaxComponentEditor.css" />

</head>