<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="WARNING"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] [%t] [%c] - %m%n"/>
		</layout>
	</appender>

	<!-- File appender with rollover
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="infoglue.log"/>
		<param name="MaxFileSize" value="1MB"/>
		<param name="MaxBackupIndex" value="2"/>
		<param name="Threshold" value="WARNING"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%-5p] [%t] [%c] - %m%n"/>
		</layout>
	</appender>
	-->

	<!-- Appender Chainsaw GUI Log viewer
	<appender name="CHAINSAW" class="org.apache.log4j.net.SocketAppender">
		<param name="remoteHost" value="localhost"/>
		<param name="port" value="4445"/>
		<param name="locationInfo" value="true"/>
	</appender>
	-->

	<!-- ==================================	-->
	<!-- Use categories to control logging  -->
	<!-- down to the package or class level	-->
	<!-- ==================================	-->
	
	<category name="org.infoglue.deliver.applications.filters.PortalParameterFilter">
		<priority value="WARN"/>
	</category>
	<category name="org.apache.commons.fileupload">
		<priority value="WARN"/>
	</category>
	
	<category name="org.infoglue.cms">
		<priority value="WARN"/>
	</category>

	<category name="org.infoglue.deliver">
		<priority value="WARN"/>
	</category>

	<category name="com.frovi.vmi">
		<priority value="WARN"/>
	</category>
	
	<category name="org.exolab.castor">
		<priority value="ERROR"/>
	</category>

	<category name="org.exolab.castor.jdo">
      <priority value="WARN" />
    </category>

	<category name="webwork">
		<priority value="WARN"/>
	</category>

	<category name="com.opensymphony.oscache">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.jasper">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.commons">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.axis">
		<priority value="WARN"/>
	</category>
	
	<!--
	<category name="org.apache.axis.encoding">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.axis.message.MessageElement">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.axis.message.BodyBuilder">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.axis.message.SAXOutputter">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.axis.utils">
		<priority value="WARN"/>
	</category>
	-->

	<category name="org.apache.pluto">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.catalina">
		<priority value="WARN"/>
	</category>

	<category name="org.quartz.xml">
		<priority value="WARN"/>
	</category>

	<category name="net.sf.hibernate">
		<priority value="WARN"/>
	</category>

	<!-- For builds xdoclet is noisy and I'm not interested -->
	<category name="xdoclet">
		<priority value="FATAL"/>
	</category>

	<!-- Anyhing not caught by the above categories will be caught here -->
	<root>
		<priority value="WARNING"/>
		<appender-ref ref="CONSOLE"/>
	</root>

</log4j:configuration>


