#if(($closeOnLoad == "true" && !$errors.hasErrors()) || $publishOnLoad == "true" && !$errors.hasErrors())
<html>
<head>
	<script type="text/javascript">
		
		function refreshCaller()
		{
			if(window.opener)
			{
				refreshCallerWindow();
			}
			else
			{
				parent.closeDialog();
				parent.location.reload();
			}
		}
		
		function refreshCallerWindow()
		{
			try 
        	{
                if(window.opener && window.opener.parent && window.opener.parent.frames['main'])
                	window.opener.parent.frames['main'].location.reload();
                else
                    window.opener.location.reload();
            }
            catch(err) {console.log("Could not update parent window: " + err);}	
			window.close();
		}
		
		function submitToPublish()
		{
			var returnAddress = "$formatter.encodeURI("ViewContentVersion!standalone.action?contentId=$contentId&languageId=$languageId&closeOnLoad=true", 'UTF-8')";
			document.location.href = "ViewListContentVersion.action?contentId=$contentId&returnAddress=" + returnAddress;
		}
		
	</script>
</head>
<body>
	Saving and reloading...
	<script type="text/javascript">
		#if($closeOnLoad)
			refreshCaller();
		#elseif($publishOnLoad)
			submitToPublish();
		#end
	</script>
</body>
</html>

#else


#beginLightCommonToolV3("tool.contenttool.contentVersionHeader" "$!contentVersionId" "contentId=$!contentId&languageId=$languageId" false false $!disableCloseButton)

	<script type="text/javascript" src="${root}/applications/FCKEditor/fckeditor.js"></script>

	<script type="text/javascript">
		
		function hotkeyS()
		{
			validateAndSubmitContentForm();
		}
			
		//*******************************************
		//This method refreshes the caller
		//*******************************************
	
		function refreshCaller()
		{
			parent.closeDialog();
			parent.location.reload();
			/*
			if(window.opener && window.opener.parent && window.opener.parent.frames['main'])
				window.opener.parent.frames['main'].location.reload();
			else
				window.opener.location.reload();	
	
			window.close();
			*/
		}
	
		//*******************************************
		//This method submits the content to publishing dialog
		//*******************************************
	
		function submitToPublish()
		{
			var returnAddress = "$formatter.encodeURI("ViewContentVersion!standalone.action?contentId=$contentId&languageId=$languageId&closeOnLoad=true", 'UTF-8')";
			document.location.href = "ViewListContentVersion.action?contentId=$contentId&returnAddress=" + returnAddress;
		}
				
		var inlineImageDefaultRepositoryId = null;
		#set($inlineImageDefaultRepositoryId = $map.get("inlineImageDefaultRepositoryId"))
		#if($inlineImageDefaultRepositoryId && $inlineImageDefaultRepositoryId != "")
			var inlineImageDefaultRepositoryId = $inlineImageDefaultRepositoryId;
		#end

	</script>
 
	<script type="text/javascript" src="${root}/script/listview.js"></script>
	<script type="text/javascript" src="${root}/script/calendar1.js"></script>
	<script type="text/javascript" src="${root}/script/editorForFCKEditor.js"></script>
	<script type="text/javascript" src="${root}/script/hotkeys.js"></script>

</head>

#if($contentTypeDefinitionVO.name == "Meta info")
	#set($masterContentVersionVO = $this.getMasterContentVersionVO($contentId, $repositoryId))
	#if($masterContentVersionVO.stateId == 1 || $masterContentVersionVO.stateId == 2 || $masterContentVersionVO.stateId == 3)
		#set($readonly = "disabled") 
	#else
		#set($readonly = "")
	#end
#else
	#set($latestContentVersionVO = $this.getLatestContentVersionVO($contentId, $languageId))
	#if($latestContentVersionVO.id != $contentVersionId)
		#set($readonly = "disabled") 
	#else
		#set($readonly = "")
	#end	
#end

<body class="generaltooledit yui-skin-sam" onkeypress="hotKeys(event);">

<script type="text/javascript">
<!--
	var allowSave = true;  //Sets to false if one does not close like one should
	var currentEditorIdHash = new Array();
	var attributesStatus = new Array();
	var plainEditors = new Array();
	var plainEditorsToolbars = new Array();
	var plainEditorsExtraConfig = new Array();
	var htmlEditors = new Array();


	function getContentVersionId()
	{
		return "$!contentVersionId";
	}

	function checkWYSIWYGDirty()
	{
		var isDirty = false;
		for (var i in plainEditors) 
		{
			var plainTextAreaName = plainEditors[i];
			oEditor = FCKeditorAPI.GetInstance(plainTextAreaName);
			if(oEditor.IsDirty())
				isDirty = true;
		}
		
		return isDirty;
	}
	
	//*******************************************
	// This function changes language version
	//*******************************************
	
	function changeLanguage(contentId, languageId)
	{
		attributeName = document.editForm.attributeName.value;
		
		if (confirm('$ui.getString("tool.contenttool.languageVersionChangeWarning")'))
		{
			window.location.href="ViewContentVersion!standalone.action?contentId=" + contentId + "&languageId=" + languageId + "&attributeName=" + attributeName;
		}
		else
		{
			document.editForm.languageId.selectedIndex = originalIndex - 1;
		}
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openFormEditor(url)
	{
		if ((!getDirty() && !checkWYSIWYGDirty()) || confirm('$ui.getString("tool.contenttool.formIsDirtyWarning")'))
		{
			allowSave = false;
			openPopup(url, "FormEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=50,toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
		}
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openRelationEditor(url)
	{
		if ((!getDirty() && !checkWYSIWYGDirty()) || confirm('$ui.getString("tool.contenttool.formIsDirtyWarning")'))
		{
			allowSave = false;
			openPopup(url, "RelationEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=50,toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
		}
	}
	

	//*******************************************
	// This is a timer that warns the user about saving his work once in a while so he does not
	// get a new login-screen next time he saves.
	//*******************************************
	var beenWarned = false;
	var inaktiveTime = 0;
	var timeout = ($sessionTimeout / 60) * 60 * 1000;
    function warnForTimeout()
    {
       	alert("Please save your work often to avoid loosing it due to the security timeout. If you suspect you might not have saved for " + ($sessionTimeout / 60) + " minutes or so we recommend you copy all of your text before you press save so you don't risk loosing it.");
		beenWarned = true;
		inaktiveTime = inaktiveTime + timeout;
		setTimeout("warnForTimeout()", timeout);
	}
	
	
	//*******************************************
	// This is the method that generates the wysiwygs when the page is loaded
	//*******************************************

	function generateWYSIWYGS()
	{
		#if($readonly == "")
			for (var i in plainEditors) 
			{
				var plainTextAreaName = plainEditors[i];
				var WYSIWYGToolbar = plainEditorsToolbars[plainTextAreaName];
				var WYSIWYGExtraConfig = plainEditorsExtraConfig[plainTextAreaName];
				//alert("Creating a textarea for " + plainTextAreaName + " = " + i);
				document.getElementById(plainTextAreaName).value = transformAttribute(document.getElementById(plainTextAreaName).value);
				
				var oFCKeditor = new FCKeditor(plainTextAreaName);
				oFCKeditor.Width = document.getElementById(plainTextAreaName).style.width;
				oFCKeditor.Height = document.getElementById(plainTextAreaName).style.height;
				oFCKeditor.BasePath = "${root}/applications/FCKEditor/";
				oFCKeditor.Config["CustomConfigurationsPath"] = "${root}/WYSIWYGProperties.action?repositoryId=$!repositoryId&contentId=$!contentId&languageId=$languageId&contentVersionId=$!contentVersionId";
				oFCKeditor.Config["AutoDetectLanguage"] = false ;
				oFCKeditor.Config["DefaultLanguage"]    = '$languageCode' ;
				oFCKeditor.ToolbarSet = WYSIWYGToolbar ;
				
				if(WYSIWYGExtraConfig && WYSIWYGExtraConfig != '')
					eval(WYSIWYGExtraConfig);
					
				//oFCKeditor.Config["ToolbarStartExpanded"] = false;
				//oFCKeditor.ToolbarStartExpanded = false ;
				oFCKeditor.ReplaceTextarea();
				
				htmlEditors[plainTextAreaName + "WYSIWYGEditor"] = oFCKeditor;
				
			}
		#end
		
		#if($readonly == "disabled")
			#if($contentTypeDefinitionVO.name == "Meta info" && $closeOnLoad != true)
				alert("$ui.getString("tool.contenttool.readOnlyFollowingSiteNodeVersionLabel")");
			#else if($closeOnLoad != true)
				alert("$ui.getString("tool.contenttool.readOnlyLabel")");
			#end
		#end
		
		#if($concurrentModification && $closeOnLoad != true)
			alert("$ui.getString("tool.contenttool.concurrentModificationLabel")");
		#end
		
	}	

	function addCategory(attributeName, selectName)
	{
		if ((!getDirty() && !checkWYSIWYGDirty()) || confirm('$ui.getString("tool.contenttool.formIsDirtyWarning")'))
		{
			var categoryId = document.getElementById(selectName).value;
			document.getElementById("model/attributeName").value = attributeName;
			document.getElementById("model/category/categoryId").value = categoryId;
			document.catForm.submit();
		}
	}

	function deleteCategory(contentCategoryId, contentId, languageId)
	{
		if ((!getDirty() && !checkWYSIWYGDirty()) || confirm('$ui.getString("tool.contenttool.formIsDirtyWarning")'))
		{
			var url = "ContentCategory!deleteStandalone.action?contentCategoryId=" + contentCategoryId;
			url += "&contentId=" + contentId;
			url += "&languageId=" + languageId;
			window.location.href = url;
		}
	}
	
	
	//*******************************************
	// This is a timer that keeps track of the number of minutes the user has been on the page without saving.
	//*******************************************
	var textArea;
	var contentVersionId 	= "$contentVersionId";
	var contentId 			= "$contentId";
	var repositoryId 		= "$repositoryId";
	var languageId 			= "$languageId";
	
	var count = 0;
	var minute = 60000;
	function doTimer()
	{
		count += 1;
		setTimeout("doTimer();", minute);
	}
	
	//doTimer();
	//setTimeout("warnForTimeout()", timeout);
-->
</script>

<script type="text/javascript">
<!--
	$(document).ready(function(){
		var assetSrcUrl = "${root}/ViewContentVersion!viewContentAssetsForFCKEditorV3.action?contentVersionId=$!contentVersionId&assetTypeFilter=.*";
    	#if($anchor)
	    	#if($!anchor == "contentVersionBlock")
		    	$("#tabsContainer > ul").tabs({ selected: 0, cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }}  });
		    #elseif($!anchor == "categoriesBlock")
		    	$("#tabsContainer > ul").tabs({ selected: 1, cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }}  });
		    #elseif($!anchor == "digitalAssetsBlock")
		    	$("#tabsContainer > ul").tabs({ selected: 2, cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }}  });
		    	$("#contentVersionAssetsFrame").attr("src", assetSrcUrl);
		    #else 
	  			$("#tabsContainer > ul").tabs({ cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }}  });
		    	alert("Anchor: $anchor");
	  		#end
	  	#else
	  		$("#tabsContainer > ul").tabs({ cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }} });
		#end	

		#if($translate)
		  	$("#otherLanguageTabsContainer > ul").tabs({ cache: false, show:function() { resizeInlineTabDivs();}, select: function(e, ui) { if (ui.index == 2) { $("#contentVersionAssetsFrame").attr("src", assetSrcUrl); }}  });
		#end
		
		$(window).resize( function() {
     		resizeInlineTabDivs();
 		});
 			
		setTimeout("resizeInlineTabDivs()", 100);
		
		generateWYSIWYGS();

		$("#contentTypeAttributesTable :input").change(function () {
			if($(this).attr("id").indexOf("categoryId") == -1)
			{		  
				setDirty();
			}
	    });
					
		$("#editForm").submit(function () { return false; });			
  	});
  	
-->
</script>

<link rel="stylesheet" href="${root}/css/v3/tabs.css" type="text/css" media="screen" title="IG (Default)">
<link rel="stylesheet" href="${root}/css/cms.css" type="text/css" media="screen" title="IG (Default)">

<div style="z-index: 3;">
    
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3 style="text-indent: 16px;">#if($translate)$ui.getString('tool.contenttool.translationViewLabel') #else $ui.getString('tool.contenttool.editingViewLabel') #end $ui.getString('tool.contenttool.contentLabel') "$contentVO.name" ($currentLanguageVO.name)</h3>
	
	<div id="allDivs">
	
	<div id="tabsContainer" class="flora" style="#if($translate == false)width: 95%;#else width: 550px; #end float:left; aborder: 1px solid red;">
	
	<ul>
        <li><a href="#contentVersionDiv"><span>$ui.getString('tool.contenttool.textContentTab')</span></a></li>
        <li><a href="#contentVersionCategoriesDiv"><span>$ui.getString('tool.contenttool.categoriesTab')</span></a></li>
        <li><a href="#contentVersionAssetsDiv"><span>$ui.getString('tool.contenttool.assetsTab')</span></a></li>
        <li><a href="#contentCoverDiv"><span>$ui.getString('tool.contenttool.coverTab')</span></a></li>
    </ul>
	
	<div id="contentVersionDiv" class="inlineTabDiv">
		
		<form method="POST" name="editForm" id="editForm" action="UpdateContentVersion!standalone.action" style="float:left;">
			<input type="hidden" name="contentId" value="$!contentId">
			<input type="hidden" name="languageId" value="$!languageId">
			#if("$!contentVersionId" != "")
			<input type="hidden" name="contentVersionId" value="$!contentVersionId">
			#end
			<input type="hidden" name="repositoryId" value="$!repositoryId">
		
			#set($event = $this.getEvent($contentVersionId) )					
			#if($event.id > 0)
			<table border="0" width="500">
			<tr>
				<td colspan="3">
					<span class="warningText">
						#set($close = "<a href='DeleteEvent.action?eventId=$event.id&url=$currentUrl'>$ui.getString('tool.contenttool.close')</a>")
						#if($event.typeId == 2)
							$ui.getString("tool.contenttool.publishRejectedText") $close
						#elseif($event.typeId == 4)
							$ui.getString("tool.contenttool.unblishRejectedText") $close
						#end
					</span> 
				</td>
			</tr>
			</table>	
			#end
			
			<table border="0" width="500" id="contentTypeAttributesTable">	
				<!-- here goes the field generation -->
							
				#foreach($attribute in $contentTypeAttributes)
					
					## ANNOTATION ELEMENTS
					#set($attributeTitle = "")
					#set($attributeTitle = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($attributeTitle == "")
						#set($attributeTitle = "$attribute.name")
					#end
			
					#set($attributeDescription = "")
					#set($attributeDescription = $!attribute.getContentTypeAttribute("description").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($attributeDescription != "")
						#set($attributeDescription = "- $attributeDescription")
					#end
				
					#set($attributeInitialData = "")
					#set($attributeInitialData = $!attribute.getContentTypeAttribute("initialData").getContentTypeAttributeParameterValue().getValue("label"))
					#if($attributeInitialData != "")
						#set($attributeInitialData = "$attributeInitialData")
					#end
				
					#set($class = "")
					#set($class = $!attribute.getContentTypeAttribute("class").getContentTypeAttributeParameterValue().getValue("label"))
					#if($class == "")
						#set($class = "longtextfield")
					#end
			
					#set($rows = "")
					#set($rows = $!attribute.getContentTypeAttribute("rows").getContentTypeAttributeParameterValue().getValue("label"))
					#if($rows == "")
						#set($rows = "5")
					#end
			
					#set($cols = "")
					#set($cols = $!attribute.getContentTypeAttribute("cols").getContentTypeAttributeParameterValue().getValue("label"))
					#if($cols == "")
						#set($cols = "75")
					#end
			
					#set($enableWYSIWYG = "")
					#set($enableWYSIWYG = $!attribute.getContentTypeAttribute("enableWYSIWYG").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableWYSIWYG == "")
						#set($enableWYSIWYG = "false")
					#end
			
					#set($WYSIWYGToolbar = "")
					#set($WYSIWYGToolbar = $!attribute.getContentTypeAttribute("WYSIWYGToolbar").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($WYSIWYGToolbar == "")
						#set($WYSIWYGToolbar = "Default")
					#end
			
					#set($WYSIWYGExtraConfig = "")
					#set($WYSIWYGExtraConfig = $!attribute.getContentTypeAttribute("WYSIWYGExtraConfig").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($WYSIWYGExtraConfig == "")
						#set($WYSIWYGExtraConfig = "")
					#end
			
					#set($enableTemplateEditor = "")
					#set($enableTemplateEditor = $!attribute.getContentTypeAttribute("enableTemplateEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableTemplateEditor == "")
						#set($enableTemplateEditor = "false")
					#end
					
					#set($enableFormEditor = "")
					#set($enableFormEditor = $!attribute.getContentTypeAttribute("enableFormEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableFormEditor == "")
						#set($enableFormEditor = "false")
					#end
			
					#set($enableContentRelationEditor = "")
					#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableContentRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
						#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
						#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
							#set($enableContentRelationEditor = "false")
						#end
					#end
					
					#set($enableStructureRelationEditor = "")
					#set($enableStructureRelationEditor = $!attribute.getContentTypeAttribute("enableStructureRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableStructureRelationEditor == "")
						#set($enableStructureRelationEditor = "false")
					#end
					
					#set($activateExtendedEditorOnLoad = "")
					#set($activateExtendedEditorOnLoad = $!attribute.getContentTypeAttribute("activateExtendedEditorOnLoad").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if(!$activateExtendedEditorOnLoad || $activateExtendedEditorOnLoad == "")
						#set($activateExtendedEditorOnLoad = "false")
					#end
					<script type="text/javascript">
					<!--
						attributesStatus["${attribute.name}ActivateExtendedEditorOnLoad"] = $activateExtendedEditorOnLoad;
					-->
					</script>
					
					#set($currentEditorId = 0)
					
					#set($tdClass = "")
					#if($attribute.name == "$attributeName")
						#set($tdClass = "highlightedAttribute")
					#end
					
					<tr>
						<td colspan="3"><a id="${attribute.name}Anchor" name="${attribute.name}Anchor"/><img src="images/trans.gif" width="1" height="5"/></td>
					</tr>
					<tr>
						<td colspan="3" class="$tdClass">
							#set($value = "$!this.getAttributeValue($attribute.name)")
							#if("$!contentVersionId" == "" && "$value" == "")
								#set($value = $attributeInitialData)
							#end
										
							#if($attribute.inputType == "hidden")
								<input type="hidden" id="$attribute.name" name="$attribute.name" value="$value"/>
							#elseif($attribute.inputType == "datefield")
								$attributeTitle ("$attribute.name") $attributeDescription
								#printError("ContentVersion.$attribute.name")
								<input $readonly type="text" length="20" class="date" maxlength="20" id="$attribute.name" name="$attribute.name" value="$value"/>&nbsp;<a name="calendar_$attribute.name" id="calendar_$attribute.name"><img src="images/calendar.gif" border="0"/></a>
								<script type="text/javascript">
									Calendar.setup({
									        inputField     :    "$attribute.name",     		// id of the input field
									        ifFormat       :    "%Y-%m-%d %H:%M",      	// format of the input field
									        button         :    "calendar_$attribute.name",  // trigger for the calendar (button ID)
									        align          :    "BR",           		// alignment (defaults to "Bl")
									        singleClick    :    true,
									        firstDay  	   : 	1,
									        showsTime	   :    true,
									        timeFormat     :    "24"
									});
								</script>
							#elseif($attribute.inputType == "textfield")
								$attributeTitle ("$attribute.name") $attributeDescription
								#printError("ContentVersion.$attribute.name")
								<input $readonly type="text" length="50" class="$class" maxlength="" id="$attribute.name" name="$attribute.name" value="$value"/>
							#elseif($attribute.inputType == "textarea")
								
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
								    <tr>
								    	<td align="left">
											$attributeTitle ("$attribute.name") $attributeDescription
											#printError("ContentVersion.$attribute.name")
										</td>
								    	<td align="right">
								    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false" && $enableTemplateEditor == "true")
								    			<a href="javascript:changeEditor(0, '${attribute.name}');">$ui.getString("tool.contenttool.editorPlainLabel")</a> 
											#end
								    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false" && $enableTemplateEditor == "true")
								    		| <a href="javascript:changeEditor(2, '${attribute.name}');">$ui.getString("tool.contenttool.editorInfoGlueTemplateEditor")</a>
											#end
										</td>
								    </tr>
								</table>
								
								#set($width = 0)
								#set($width = $!attribute.getContentTypeAttribute("width").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
								#if($width == 0)
									#set($width = 700)
								#end
			
								#set($height = 0)
								#set($height = $!attribute.getContentTypeAttribute("height").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
								#if($height == 0)
									#set($height = 150)
								#end
								
								#set($wysiwygHeight = $height - 40)
								#if($width >= 700)
									#set($wysiwygHeight = $height - 20)
								#end
						
								<textarea $readonly rows="$rows" cols="$cols" style="visibility: visible; width:${width}px; height:${height}px; border: 1px solid #C2D0E2;font-family:verdana,arial,sans-serif;font-size:8pt;" id="$attribute.name" name="$attribute.name" $readonly>$value</textarea> 
								
								#if($enableWYSIWYG == "true")
									<!-- Here comes the WYSIWYG-editor layer -->
									
									<script type="text/javascript">
										// Replace an existing textarea with an HTMLArea object having the above config.
										plainEditors["${attribute.name}"] = "${attribute.name}";
										plainEditorsToolbars["${attribute.name}"] = "${WYSIWYGToolbar}";
										plainEditorsExtraConfig["${attribute.name}"] = "${WYSIWYGExtraConfig}";
										
										currentEditorIdHash["${attribute.name}CurrentEditorId"] = 1;
										#set($currentEditorId = 1)
									</script>
			
								#end
								
								#if($enableTemplateEditor == "true" && $readonly == "")
									<!-- Here comes the Template Code editor layer -->
									<input type="hidden" id="${attribute.name}EditorType2IsActive" name="${attribute.name}EditorType2IsActive" value="false">
									<div id="${attribute.name}EditorType2" name="${attribute.name}EditorType2" style="display:block; width:${width}px; height:${height}px; z-index:1; border: 0px none #C2D0E2;">
										<script type="text/javascript">
							        		noJava = false;
							        	</script>
									    <table cellpadding="0" cellspacing="0" border="0">
									    <tr>
									    	<td colspan="2" align="right" bgcolor="white">
									    		#showTemplateEditor("${width}" "${height}" "${attribute.name}" "${deliveryBaseUrl}")						    		
											</td>
									    </tr>
									    </table>
									</div>
									
									<script type="text/javascript">
										if(!noJava)
										{
											document.getElementById('${attribute.name}').style.display = "none";
											document.getElementById('${attribute.name}EditorType2').style.display = "block";	
											
											currentEditorIdHash["${attribute.name}CurrentEditorId"] = 2;
											#set($currentEditorId = 2)						
										}
										else
										{
											document.getElementById('${attribute.name}').style.display = "block";
											document.getElementById('${attribute.name}EditorType2').style.display = "none";	
											
											currentEditorIdHash["${attribute.name}CurrentEditorId"] = 0;
										}
									</script>
									
								#end
								
								#if($enableFormEditor == "true" && $readonly == "")
									<!-- Here comes the Form editor layer -->
									<input type="hidden" id="${attribute.name}EditorType3IsActive" name="${attribute.name}EditorType3IsActive" value="false">
									<div id="${attribute.name}EditorType3" name="${attribute.name}EditorType3" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2;">
									    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
									    <tr>
									    	<td colspan="2" bgcolor="white" valign="top">
												#if($contentVersionId > -1)
												As the form editor is somewhat complex you have to open it in a new window.
												Click <a href="javascript:openFormEditor('ViewFormEditor.action?contentVersionId=$!contentVersionId&contentVersionAttributeName=$!attribute.name');"><strong>here</strong></a> for it.
												Edit the form there and close the window when you are done. 
												#else
												You cannot use the editor until you have saved the first version of this content. Fill
												in the rest of the form values and save without entering anything in this field. After that you
												will be able to use the editor.
												#end
											</td>
									    </tr>
									    </table>
									</div>
									<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
									
									<script type="text/javascript">
										document.getElementById('${attribute.name}').style.display = "none";
										document.getElementById('${attribute.name}EditorType3').style.display = "block";							
									</script>
									
								#end
			
								#if($enableContentRelationEditor == "true" && $readonly == "")
									<!-- Here comes the Content Relation editor layer -->
									<input type="hidden" id="${attribute.name}EditorType4IsActive" name="${attribute.name}EditorType4IsActive" value="false">
									<div id="${attribute.name}EditorType4" name="${attribute.name}EditorType4" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2; overflow: auto;">
									    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
									    <tr>
									    	<td colspan="2" bgcolor="white" valign="top">
									    		<p style="margin-top:5px; margin-left:5px;">
												#if($contentVersionId > -1)
												Related Contents (<a href="javascript:openRelationEditor('ViewContentRelationEditor.action?updateAction=ViewContentRelationEditor!updateQualifyer.action&entityName=ContentVersion&entityId=$!contentVersionId&attributeName=$!attribute.name');"><strong>Edit relations</strong></a>)
												<hr noshade size="1">
												#set($qualifyers = $this.getContentRelationQualifyers($this.getUnescapedAttributeValue($attribute.name)))
												<table border="0">
												#foreach($qualifyer in $qualifyers)
													<tr>
														<td valign="middle">
														<img src="images/tree/xp/item.png"> 
														</td>
														<td valign="middle">
														$qualifyer.getPath() 
														</td>
														<td></td>
														<td valign="middle">
														(<a href="javascript:openPopup('ViewContent!standalone.action?contentId=${qualifyer.getValue()}', 'editcontent', 'width=600,height=500,resizable=yes,scrollbars=yes');">Edit</a>)
														</td>
													</tr>
												#end
												</table>
												#else
												You cannot use the editor until you have saved the first version of this content. Fill
												in the rest of the form values and save without entering anything in this field. After that you
												will be able to use the editor.
												#end
												</p>									
											</td>
									    </tr>
									    </table>
									</div>
									<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
									
									<script type="text/javascript">
										document.getElementById('${attribute.name}').style.display = "none";
										document.getElementById('${attribute.name}EditorType4').style.display = "block";							
									</script>
								#end
			
								#if($enableStructureRelationEditor == "true" && $readonly == "")
									<!-- Here comes the Structure Relation editor layer -->
									<input type="hidden" id="${attribute.name}EditorType5IsActive" name="${attribute.name}EditorType5IsActive" value="false">
									<div id="${attribute.name}EditorType5" name="${attribute.name}EditorType5" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2; overflow: auto;">
									    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
									    <tr>
									    	<td colspan="2" bgcolor="white" valign="top">
												<p style="margin-top:5px; margin-left:5px;">
												#if($contentVersionId > -1)
												Related SiteNodes (<a href="javascript:openRelationEditor('ViewStructureRelationEditor.action?updateAction=ViewStructureRelationEditor!updateQualifyer.action&entityName=ContentVersion&entityId=$!contentVersionId&attributeName=$!attribute.name');"><strong>Edit relations</strong></a>)
												<hr noshade size="1">
												#set($qualifyers = $this.getSiteNodeRelationQualifyers($this.getUnescapedAttributeValue($attribute.name)))
												<table border="0">
												#foreach($qualifyer in $qualifyers)
													<tr>
														<td valign="middle">
														<img src="images/tree/xp/item.png"> 
														</td>
														<td valign="middle">
														$qualifyer.getPath() 
														</td>
													</tr>
												#end
												</table>
												#else
												You cannot use the editor until you have saved the first version of this content. Fill
												in the rest of the form values and save without entering anything in this field. After that you
												will be able to use the editor.
												#end
												</p>
											</td>
									    </tr>
									    </table>
									</div>
									<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
									
									<script type="text/javascript">
										document.getElementById('${attribute.name}').style.display = "none";
										document.getElementById('${attribute.name}EditorType5').style.display = "block";							
									</script>
								#end
								
					    		#if($enableFormEditor == "true" && $readonly == "" && $contentVersionId > -1)
					    		<script type="text/javascript">
					    			document.getElementById('${attribute.name}').style.display = "none";
					    			showdiv = document.getElementById('${attribute.name}EditorType3');
									showdiv.style.visibility = "visible";
					    		</script>
					    		#end
					    		#if($enableContentRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
					    		<script type="text/javascript">
						    		document.getElementById('${attribute.name}').style.display = "none";
					    			showdiv = document.getElementById('${attribute.name}EditorType4');
									showdiv.style.visibility = "visible";
					    		</script>
					    		#end
					    		#if($enableStructureRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
					    		<script type="text/javascript">
						    		document.getElementById('${attribute.name}').style.display = "none";
					    			showdiv = document.getElementById('${attribute.name}EditorType5');
									showdiv.style.visibility = "visible";
					    		</script>
					    		#end
									
            				#elseif($attribute.inputType == "select")
            				<!-- Handles the input type select = dropbox -->
            					$attributeTitle ("$attribute.name") $attributeDescription <br/>
            					#printErrorV3("ContentVersion.$attribute.name" false)
            					#selectAttribute($attribute)
            				#elseif($attribute.inputType == "checkbox")
            				<!-- Handles the input type checkbox -->
            					$attributeTitle ("$attribute.name") $attributeDescription <br/>
            	    			#printErrorV3("ContentVersion.$attribute.name" false)
            					#checkboxAttribute($attribute)
            				#elseif($attribute.inputType == "radiobutton")
            				<!-- Handles the input type radiobutton -->
            					$attributeTitle ("$attribute.name") $attributeDescription <br/>
            	    			#printErrorV3("ContentVersion.$attribute.name" false)
            					#radiobuttonAttribute($attribute)
            				#elseif($attribute.inputType == "customfield")
            				<!-- Handles the input type customfield -->
            					#set($attributeMarkup = $!attribute.getContentTypeAttribute("Markup").getContentTypeAttributeParameterValue().getValue("label"))
            					$attributeTitle ("$attribute.name") $attributeDescription
            					#printError("ContentVersion.$attribute.name")
            					#set($processedMarkup = $attributeMarkup.replaceAll("attributeName", "$attribute.name"))
            					#set($processedMarkup = $processedMarkup.replaceAll("attributeValue", "$value"))
            	    			$processedMarkup
            				#end
							
						</td>
					</tr>
				#end
	
				#if($contentVersionVO)
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3">$ui.getString("tool.contenttool.versionLastUpdatedByLabel") $contentVersionVO.versionModifier ($formatter.formatDate($contentVersionVO.modifiedDateTime, "yyyy-MM-dd HH:mm") - $contentVersionVO.versionComment)</td>
				</tr>
				#end
				
				<script type="text/javascript">
										
					function validateAndSubmitContentForm()
					{
						if(allowSave == false)
						{
							alert("$ui.getString("tool.contenttool.cannotSaveBecauseInvalidClose")");
							return;
						}
					
						pastedTime = count; 
						
						if(beenWarned)
						{
							answer = confirm("You have not saved for " + pastedTime + " minutes. We strongly recommends you copy the text so you don't risk loosing it if you have been inactive for to long. Do you want to save anyway?");
						}
						
						if (!beenWarned || answer)
						{
							isValid = true;
							
							#foreach($attribute in $contentTypeAttributes)
				   				currentEditorId = currentEditorIdHash["${attribute.name}CurrentEditorId"];
				   				if(currentEditorId)
				   					document.getElementById("currentEditorId").value = currentEditorId;
				   				
				   				//alert("currentEditorId:" + currentEditorId);
								if(currentEditorId == 1)
								{
									var wysiwygEditor = htmlEditors["${attribute.name}WYSIWYGEditor"];
									var oEditor = FCKeditorAPI.GetInstance('${attribute.name}') ;
									
									//alert("untransformedAttribute:" + untransformedAttribute);
									document.getElementById("$attribute.name").value = untransformAttribute(oEditor.GetXHTML(false));
								}
								else if(currentEditorId == 2)
								{
									document.getElementById("$attribute.name").value = document.applets("${attribute.name}InfoGlueCodeEditor").getText();
								}
				
				   				#if($attribute.inputType != "digitalAsset")
									//isCurrentValid = validate${attribute.name}();
									//if(isCurrentValid == false)
									//	isValid = false;
								#end
							#end
							
							if(isValid)
							{
								$(".optionListWidget option").attr('selected', 'selected');
								buildVersionValue(); 
								document.editForm.submit();
							}
						}
					}
				
					function validateAndSubmitContentFormThenExit()
					{
						//alert("Action:" + document.editForm.action);
						document.editForm.action = "UpdateContentVersion!saveAndExitStandalone.action";
						validateAndSubmitContentForm();		
					}
					
					function validateAndSubmitContentFormThenClose()
					{
						//alert("Action:" + document.editForm.action);
						document.editForm.closeOnLoad.value = "true";
						//document.editForm.action = "UpdateContentVersion!saveAndExitStandalone.action";
						validateAndSubmitContentForm();		
					}
			
					function validateAndSubmitContentFormThenSubmitToPublish()
					{
						//alert("Action:" + document.editForm.action);
						document.editForm.publishOnLoad.value = "true";
						//document.editForm.action = "UpdateContentVersion!saveAndExitStandalone.action";
						validateAndSubmitContentForm();
					}
				
					
					function buildVersionValue()
					{
						var versionValue = "<?xml version='1.0' encoding='UTF-8'?>";
						versionValue += "<article xmlns='x-schema:ArticleSchema.xml'>";
						versionValue += "<attributes>";
						
						#foreach($attribute in $contentTypeAttributes)
			   				#if($attribute.inputType != "digitalAsset")
								versionValue += "<$attribute.name>";
								
								var value = "" + getValue("${attribute.name}");
								var re = new RegExp("templateLogic\\.languageId,.{0,1}\\)", "g");
								value = value.replace(re, "templateLogic.languageId, -1)");	
								versionValue += "<![CDATA[" + value + "]]>";
								
								//versionValue += "<![CDATA[" + getValue("${attribute.name}") + "]]>";
								
								versionValue += "</$attribute.name>";
							#end
						#end

						versionValue += "<IGAuthorFullName>";
						versionValue += "<![CDATA[$infoGluePrincipal.firstName $infoGluePrincipal.lastName]]>";
						versionValue += "</IGAuthorFullName>";

						versionValue += "<IGAuthorEmail>";
						versionValue += "<![CDATA[$infoGluePrincipal.email]]>";
						versionValue += "</IGAuthorEmail>";
						
						versionValue += "</attributes>";
						versionValue += "</article>";
						
						//alert("versionValue:" + versionValue);				
						document.editForm.versionValue.value = versionValue;
					}

					</script>
					<input type="hidden" id="versionValue" name="versionValue" value=""/>
					<input type="hidden" id="currentEditorId" name="currentEditorId" value=""/>
					<input type="hidden" id="attributeName" name="attributeName" value="$attributeName"/>
					<input type="hidden" name="closeOnLoad" value="false">
					<input type="hidden" name="publishOnLoad" value="false">
					</td>
				</tr>
				
				<!-- end fields -->
			
				<tr>
					<td colspan="3">&nbsp;</td>
				</tr>
				<tr>
					<input type="hidden" id="contentId" name="contentId" value="$!contentId">
					<input type="hidden" name="repositoryId" value="$!repositoryId">
					#if($contentVersionId > -1)
						<input type="hidden" name="contentVersionId" value="$!contentVersionId">
						#if("$oldModifiedDateTime" == "-1")
							<input type="hidden" name="oldModifiedDateTime" value="$!contentVersionVO.modifiedDateTime.time">
						#else
							<input type="hidden" name="oldModifiedDateTime" value="$!oldModifiedDateTime">
						#end
					#end
				</tr>
			</table>
			</form>
					
		</div>
	
		<div id="contentVersionCategoriesDiv" class="inlineTabDiv">
			
			#set($allCategoryKeys = $definedCategoryKeys)
			#if($allCategoryKeys.size() > 0)
				#foreach($categoryKey in $allCategoryKeys)
					#if($velocityCount > 1)
					<br>
					#end
					
					#set($keyAttribute = $categoryKey.value)
					#set($dropdownName = "${keyAttribute}${velocityCount}categoryId")
					#set($availableCategories = $this.getAvailableCategories($categoryKey.categoryId))
					<table border="0" width="100%" cellspacing="0" style="background-color: white;">
						<tr valign="bottom" class="sectionDivider">
							<td width="80%">$categoryKey.title ("$keyAttribute") - $categoryKey.description</td>
							<td align="right">
                            #if($contentVersionId)
								#addCategorySelect($dropdownName $availableCategories "")
							#end
							</td>
							<td align="right">
                            #if($contentVersionId)
								<a href="javascript:addCategory('${keyAttribute}', '${dropdownName}');"><img src="$ui.getString("images.contenttool.buttons.addCategory")" border="0"/></a>
							#end
							</td>
						</tr>
					</table>
					<table border="0" width="100%" cellspacing="0" cellpadding="2" aclass="bordered" style="border-top: 1px solid black;">
					#set($relatedCategories = $this.getRelatedCategories($keyAttribute))
					#foreach($relation in $relatedCategories)
                        #set($isOdd = $velocityCount % 2)
						#set($class = "class='white'")
						#if($isOdd == 0)
							##set($class = "class='darkgreen'")
							#set($class = "class='lightgreen'")
						#end
						<tr $class>
							<td width="50%">$relation.category.getLocalizedDisplayName($this.languageCode, "none") ($relation.category.name)</td>
							<td width="50%" align="right">
								<a href="javascript:deleteCategory('$relation.contentCategoryId', '$contentId', '$languageId');"><img src="images/delete.gif" border="0"/></a>
							</td>
						</tr>
					#end
					#if($relatedCategories.size() == 0)
						<tr class="white">
							<td colspan="2">
							#if(!$contentVersionId)
								$ui.getString("tool.contenttool.saveToRelateCategoriesPrefix") $keyAttribute
							#else
								$ui.getString("tool.contenttool.noCategoriesPrefix") $keyAttribute
							#end
							</td>
						</tr>
					#end
					</table>
				#end
			#else
				<table border="0" width="100%" cellspacing="0">
				<tr>
					<td>There are no category attributes defined in this content type</td>
				</tr>
				</table>
			#end
			
			<form id="catForm" name="catForm" action="${root}/ContentCategory!addStandalone.action" method="POST">
				<input type="hidden" id="model/attributeName" name="model/attributeName" value="">
				<input type="hidden" id="model/category/categoryId" name="model/category/categoryId" value="">
				<input type="hidden" name="model/contentVersionId" value="$contentVersionId">
				<input type="hidden" name="contentId" value="$contentId">
				<input type="hidden" name="languageId" value="$languageId">
			</form>
			
		</div>
		
		
		<div id="contentVersionAssetsDiv" class="inlineTabDiv">
			<iframe id="contentVersionAssetsFrame" name="contentVersionAssetsFrame" src="" asrc="${root}/ViewContentVersion!viewContentAssetsForFCKEditorV3.action?contentVersionId=$!contentVersionId&assetTypeFilter=.*" border="0" width="100%" height="500px" frameborder="0"></iframe>
		</div>
		
		<div id="contentCoverDiv" class="inlineTabDiv">
			<iframe src="${root}/ViewContent!v3.action?contentId=$contentId&stay=true" border="0" width="100%" height="500px" frameborder="0"></iframe>
		</div>
		
	</div><!-- End first tabs collection -->
	
	#if($translate)
	<div id="otherLanguageTabsContainer" style="float: right; aborder: 1px solid green; width: 450px;">
		
		<ul>
	        <li><a href="#otherContentVersionDiv"><span>$originalLanguageContentVersionVO.languageName</span></a></li>
	    </ul>
		
		<div id="otherContentVersionDiv" class="inlineTabDiv">
			
			<table width="100%">	
					<!-- here goes the field generation -->
								
					#foreach($attribute in $contentTypeAttributes)
						
						## ANNOTATION ELEMENTS
						#set($attributeTitle = "")
						#set($attributeTitle = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
						#if($attributeTitle == "")
							#set($attributeTitle = "$attribute.name")
						#end
				
						#set($attributeDescription = "")
						#set($attributeDescription = $!attribute.getContentTypeAttribute("description").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
						#if($attributeDescription != "")
							#set($attributeDescription = "- $attributeDescription")
						#end
					
						#set($attributeInitialData = "")
						#set($attributeInitialData = $!attribute.getContentTypeAttribute("initialData").getContentTypeAttributeParameterValue().getValue("label"))
						#if($attributeInitialData != "")
							#set($attributeInitialData = "$attributeInitialData")
						#end
					
						#set($class = "")
						#set($class = $!attribute.getContentTypeAttribute("class").getContentTypeAttributeParameterValue().getValue("label"))
						#if($class == "")
							#set($class = "longtextfield")
						#end
				
						#set($rows = "")
						#set($rows = $!attribute.getContentTypeAttribute("rows").getContentTypeAttributeParameterValue().getValue("label"))
						#if($rows == "")
							#set($rows = "5")
						#end
				
						#set($cols = "")
						#set($cols = $!attribute.getContentTypeAttribute("cols").getContentTypeAttributeParameterValue().getValue("label"))
						#if($cols == "")
							#set($cols = "75")
						#end
						
						<tr>
							<td colspan="3"><a id="${attribute.name}AnchorComp" name="${attribute.name}AnchorComp"/><img src="images/trans.gif" width="1" height="5"/></td>
						</tr>
						<tr>
							<td colspan="3">
								
								#set($value = "$!this.getOriginalLanguageAttributeValue($attribute.name)")
								#if("$!contentVersionId" == "" && "$value" == "")
									#set($value = $attributeInitialData)
								#end
											
								#if($attribute.inputType == "datefield")
									$attributeTitle ("$attribute.name") $attributeDescription<br/>
									<input readonly="readonly" style="max-width: 400px;" type="text" length="20" class="date" maxlength="20" id="${attribute.name}Comp" name="${attribute.name}Comp" value="$value"/>
								#elseif($attribute.inputType == "textfield")
									$attributeTitle ("$attribute.name") $attributeDescription<br/>
									<input readonly="readonly" style="max-width: 400px;" type="text" length="40" class="$class" maxlength="" id="${attribute.name}Comp" name="${attribute.name}Comp" value="$value"/>
								#elseif($attribute.inputType == "textarea")
									
									#set($unescapedValue = "$!this.getOriginalLanguageUnescapedAttributeValue($attribute.name)")
									#if("$!contentVersionId" == "" && "$unescapedValue" == "")
										#set($unescapedValue = $attributeInitialData)
									#end
	
									#set($height = 0)
									#set($height = $!attribute.getContentTypeAttribute("height").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
									#if($height == 0)
										#set($height = 150)
									#end
									
									$attributeTitle ("$attribute.name") $attributeDescription
									<div style="padding: 4px; visibility: visible; max-width:400px; height:${height}px; border: 1px solid #C2D0E2;font-family:verdana,arial,sans-serif;font-size:8pt;" id="${attribute.name}Comp" name="${attribute.name}Comp">
										$unescapedValue
									</div> 
										
								#elseif($attribute.inputType == "select")
								<!-- Handles the input type select = dropbox -->
									$attributeTitle ("$attribute.name") $attributeDescription <br/>
									<select readonly="readonly" style="max-width: 400px;" size="1" id="${attribute.name}Comp" name="${attribute.name}Comp" class="$class">
						    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
						    				<option value="$value.id" #checkSelected("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)</option>
						    			#end
						    		</select>
				
								#elseif($attribute.inputType == "checkbox")
								<!-- Handles the input type checkbox -->
									$attributeTitle ("$attribute.name") $attributeDescription <br/>
					    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
										<input readonly="readonly" style="max-width: 400px;" type="checkbox" id="${attribute.name}Comp" name="${attribute.name}Comp" value="$value.id" #checkCheckedBySplit("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
					    			#end
				
								#elseif($attribute.inputType == "radiobutton")
								<!-- Handles the input type radiobutton -->
									$attributeTitle ("$attribute.name") $attributeDescription <br/>
									#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
										<input readonly="readonly" style="max-width: 400px;" type="radio" id="${attribute.name}Comp" name="${attribute.name}Comp" value="$value.id" #checkCheckedBySplit("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
					    			#end
				
								#elseif($attribute.inputType == "customfield")
								<!-- Handles the input type customfield -->
									#set($attributeMarkup = $!attribute.getContentTypeAttribute("Markup").getContentTypeAttributeParameterValue().getValue("label"))
									$attributeTitle ("$attribute.name") $attributeDescription <br/>
									$value	
								#end
							</td>
						</tr>
					#end
					
				</table>
			##</div>
		</div>
	#end
	
	</div><!-- End double pane --> 
	
</div>	

#lightFooterToolbar($footerButtons)

#endCommonToolV3()

#end
