#beginLightCommonToolV3("tool.contenttool.assetDialog.assetDialogHeader" "" "" false false $!disableCloseButton)

<script type="text/javascript">
<!--
	$(document).ready(function(){
		$("#tabsContainer").tabs( { 
			show:function() { resizeInlineTabDivs(); },
			select:function(e, ui) { 
				//alert("ui: " + ui.index);
				if(ui.index == 1)
				{
					if($("#latestAssetsFrame").attr("src") == "")
					{
						#if($contentVO.id)
			 				$("#latestAssetsFrame").attr("src", "SearchContent!latestInlineAssetsV3.action?repositoryId=${contentVO.repositoryId}&assetTypeFilter=$assetTypeFilter"); 
						#else
					  		$("#latestAssetsFrame").attr("src", "SearchContent!latestInlineAssetsV3.action?assetTypeFilter=$assetTypeFilter"); 
						#end
			  		}
			  	}
				else if(ui.index == 2)
		  		{
		  			if($("#repositoryBrowserFrame").attr("src") == "")
		  			{
			  			#if($contentVO.id)
					  		$("#repositoryBrowserFrame").attr("src", "ViewContentVersion!viewAssetsDialogForFCKEditorV3.action?repositoryId=$contentVO.repositoryId&contentId=$contentId&languageId=$languageId&assetTypeFilter=$assetTypeFilter"); 
						#else
				  			$("#repositoryBrowserFrame").attr("src", "ViewContentVersion!viewAssetsDialogForFCKEditorV3.action?languageId=$languageId&assetTypeFilter=$assetTypeFilter"); 
						#end
					}	
		  		}
		  		else if(ui.index == 3)
		  		{
			  		if($("#contentVersionAssetSearchFrame").attr("src") == "")
			  		{
			  			#if($contentVO.id)
				  			$("#contentVersionAssetSearchFrame").attr("src", "SearchContent!inputInlineAssetV3.action?repositoryId=${contentVO.repositoryId}&assetTypeFilter=$assetTypeFilter"); 
						#else
				  			$("#contentVersionAssetSearchFrame").attr("src", "SearchContent!inputInlineAssetV3.action?assetTypeFilter=$assetTypeFilter"); 
						#end
					}	
			  	}
			  } 
		});
		setTimeout("init();", 50);
		setTimeout("resizeInlineTabDivs()", 100);
	});

	function getRequestParameter(url, parameterName)
	{
		var value = "";
		var valueIndex = url.indexOf(parameterName + "=");
		if(valueIndex > -1)
		{
			var endIndex = url.indexOf("&", valueIndex);
			if(endIndex != -1)
				value = url.substring(valueIndex + parameterName.length + 1, endIndex);
			else
				value = url.substring(valueIndex + parameterName.length + 1);
		}
		return value;
	}
	
	function init() 
	{
		#if($contentVO)
			//alert(top.opener.document.title);
			
			//alert("Hepp:" + window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.filebrowser.target);
			//alert("Hepp:" + window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.filebrowser.url);
			/*
			var sourceElement = window.opener.CKEDITOR.instances[editor]._.filebrowserSe;
		    var dialog = sourceElement.getDialog();
		    var targetElement = sourceElement.filebrowser.target || null;
		    url = fileUrl.replace( /#/g, '%23' );
		    */  
			//alert("TOP:" + window.top.opener.CKEDITOR.getDialog());
			
			
			//alert("Hepp originalElement:" + window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.getDialog().getSelectedElement().getAttribute("src"));
			
			var txtUrl = "";
			if(top.opener.document.title == "Image Properties")
			{
				txtUrl = top.opener.document.getElementById("txtLnkUrl").value;
				if(txtUrl == null || txtUrl == "")
				{
					//txtUrl = top.opener.document.getElementById("txtUrl").value;
					if(typeof(window.top.opener.CKEDITOR) != 'undefined' && window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.getDialog().getSelectedElement())
						txtUrl = window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.getDialog().getSelectedElement().getAttribute("src");
				}
			}
			else
			{
				if(typeof(window.top.opener.CKEDITOR) != 'undefined' && window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.getDialog().getSelectedElement())
					txtUrl = window.top.opener.CKEDITOR.instances["Leadin"]._.filebrowserSe.getDialog().getSelectedElement().getAttribute("src");
				//txtUrl = top.opener.document.getElementById("txtUrl").value;
			}
			
			var contentId = getRequestParameter(txtUrl, "contentId");
			if(!contentId || contentId == "")
				contentId = "$!contentId";
			var languageId = getRequestParameter(txtUrl, "languageId");
			var assetKey = getRequestParameter(txtUrl, "assetKey");
			
			document.getElementById("contentVersionAssetsFrame").src = "ViewContentVersion!viewContentAssetsForFCKEditorV3.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey + "&treatAsLink=$treatAsLink&assetTypeFilter=$assetTypeFilter";
		#end
	};
	
	function onOk(contentId, assetKey)
	{
		var url = "DownloadAsset.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey;
		#if($prefferedWYSIWYG == "ckeditor3")
			window.top.opener.CKEDITOR.tools.callFunction( '$CKEditorFuncNum', url, '');
		#else
			window.top.opener.SetUrl( url );
		#end
		window.top.close();
		window.top.opener.focus();
	}
-->
</script>		
</head>

<body class="generaltooledit yui-skin-sam">

<div onfocus="this.blur();">
    
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3 style="text-indent: 16px;">$ui.getString("tool.contenttool.assetDialog.assetDialogHeader")</h3>

	<div id="tabsContainer" class="flora">      

		<ul>
			#if($contentVO.id)
		    <li><a href="#currentContentAssetsTab"><span>$ui.getString("tool.contenttool.assetDialog.currentContentAssetsTabLabel")#* #if($contentVO.name.length() > 10)$contentVO.name.substring(0,10)...#else$contentVO.name#end*#</span></a></li>
	    	#end
	        <li><a href="#latestUploadedTab"><span>$ui.getString("tool.contenttool.assetDialog.latestAssetsTabLabel")</span></a></li>	        
	        <li><a href="#repositoryBrowserTab"><span>$ui.getString("tool.contenttool.assetDialog.repositoryBrowserTabLabel")</span></a></li>	        
	        <li><a href="#searchTab"><span>$ui.getString("tool.contenttool.assetDialog.searchAssetsTabLabel")</span></a></li>	        
	    </ul>
	
		#if($contentVO.id)
		<div id="currentContentAssetsTab" class="inlineTabDiv">
			#if($oldContentId > 0)
				<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="670" height="410" align="baseline"></IFRAME>
			#else
				<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="670" height="410" align="baseline"></IFRAME>
			#end
		</div>
		#end
		
		<div id="latestUploadedTab" class="inlineTabDiv">
			<IFRAME frameborder="0" name="latestAssetsFrame" id="latestAssetsFrame" src="" width="670" height="410" align="baseline"></IFRAME>
		</div>
		
		<div id="repositoryBrowserTab" class="inlineTabDiv">
			<IFRAME frameborder="0" name="repositoryBrowserFrame" id="repositoryBrowserFrame" src="" width="670" height="410" align="baseline"></IFRAME>
		</div>
			
		<div id="searchTab" class="inlineTabDiv">
			<IFRAME frameborder="0" name="contentVersionAssetSearchFrame" id="contentVersionAssetSearchFrame" src="" width="670" height="410" align="baseline"></IFRAME>
		</div>

	</div>
				
	#lightFooterToolbar($footerButtons)

</div>

#endCommonToolV3()
