<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.structuretool.chooseContentsLabel")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	<script type="text/javascript" src="script/vector.js"></script>
	<script type="text/javascript" src="script/qualifyer.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>
	
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/core.js"></script>
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/events.js"></script>
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/css.js"></script>
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/coordinates.js"></script>
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/drag.js"></script>
	<script language="JavaScript" type="text/javascript" src="script/tool-man/org/tool-man/dragsort.js"></script>

	<link rel="stylesheet" type="text/css" href="applications/jscalendar/skins/aqua/theme.css" />
	<script type="text/javascript" src="applications/jscalendar/calendar.js"></script>
	<script type="text/javascript" src="applications/jscalendar/lang/calendar-en.js"></script>
	<script type="text/javascript" src="applications/jscalendar/calendar-setup.js"></script>

	<link rel="stylesheet" type="text/css" href="script/jqueryplugins/dataTables/media/css/ig_table.css" /> 
	<script type="text/javascript" src="script/jquery/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>
	##<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<style type="text/css">
		body {overflow-x:hidden; margin: 10px;}
		#contentSearchForm {color: black;}
		#contentSearchForm fieldset {width: auto;}
		input.normaltextfield {width:100%;}
		.fieldGroup { float: left; }
		.fieldGroup div{ float: left; }
		.fieldGroup p
		{
			display: inline-block;
		}
		.fieldGroup p.description
		{
			display: block;
		}
		.fieldGroup label {
			width: auto; text-align: left;
		}
		.buttonPane { float: left; margin: 10px 0 0 0; width: 100%; }
		.buttonPane input { width: 100%; }
		#searchLayer label span {display:block;}
		.contentSearchForm fieldset {border-width:0;margin:0px;padding:0px;}
		#result {width: 100%;margin-bottom:16px;border-collapse:collapse; border: 1px solid #C7D1B3;}
		th.sorting {background-color: #ececec;}
		th.sorting_asc, th.sorting_desc {background-color: #ececec;}
		tr.even {background-color:white;}
		#result td, #result th {padding: 3px; line-height: 20px;}
		#result th {background-color: #C7D1B3;}
		#result tr {cursor: pointer;}
		#result tr {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		#result tr.even {background-color: #EEF7DC;}
		#result tr.odd {background-color: white;}
		#result_wrapper {margin: 0;}
		.languageColumn {}
		.nameColumn {}
		.nameColumn div {width: 140px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
		.dateColumn {max-width: 80px}


		@-webkit-keyframes fadePulse {
		    0%   {background-color: rgba(255,255,255,1);}
	    	100% {background-color: rgba(255,255,69,0.5);}
		}
		tr.selected td {background-color: #C7D1B3;}
	</style>
</head>

<body class="contenttooledit">## onload="javascript:init();"  onMouseUp="clearDrag(event);"

<form method="POST" id="contentSearchForm" class="contentSearchForm" name="editForm" action="SearchContent!searchBindingV3.action">
	<fieldset>
		<div id="searchLayer" style="display:block;">
			#foreach($allowedContentTypeDefinitionId in $allowedContentTypeIds)
			<input type="hidden" name="allowedContentTypeIds" value="$allowedContentTypeDefinitionId">
			#end
			<p>
				#editTextField3($ui.getString("tool.contenttool.contentSearch.search.label") "tool.contenttool.contentSearch.search.label" "searchString" $formatter.escapeHTML($searchString) "" "normaltextfield") 
			</p>

			<p>
				$ui.getString("entity.ServerNode.property.maxRows.label")<br>
				<select class="dropbox" name="maxRows">
					<option value="5" #checkSelected("5" "$maxRows")>5</option>
					<option value="10" #checkSelected("10" "$maxRows")>10</option>
					<option value="20" #checkSelected("20" "$maxRows")>20</option>
					<option value="50" #checkSelected("50" "$maxRows")>50</option>
					<option value="100" #checkSelected("100" "$maxRows")>100</option>
				</select>
			</p>

			#set( $customConfig = ', ifFormat:    "%Y-%m-%d", align : "BR", showsTime: false, timeFormat: "24", cache: true' )

			<div class="fieldGroup">
				<p class="description">
					$ui.getString("tool.contenttool.contentSearch.date.description")
				</p>
				<div>
					#editDateFieldCustom( "tool.contenttool.contentSearch.fields.fromDate" "modifiedDateTimeStart" $modifiedDateTimeStart "10" "" "" 'readonly="readonly"' $customConfig )
				</div>
				<div>
					#editDateFieldCustom( "tool.contenttool.contentSearch.fields.toDate" "modifiedDateTimeEnd" $modifiedDateTimeEnd "10" "" "" 'readonly="readonly"' $customConfig )
				</div>
			</div>

			<p class="buttonPane">
				<input type="submit" value="$ui.getString("tool.contenttool.contentSearch.button.search")" class="asearch"/>
			</p>
		</div>
	</fieldset>
</form>

#if( $!contentVersionVOList.size() > 0 )
<table id="result">
	<thead>
		<tr>
			<th id="nameHeader">$ui.getString("tool.contenttool.contentSearch.resultTable.header.name")</th>
			<th id="dateHeader">$ui.getString("tool.contenttool.contentSearch.resultTable.header.date")</th>
		</tr>
	</thead>
#foreach ($contentVersionVO in $contentVersionVOList)
	#set( $lang = $this.getLanguageVO($contentVersionVO.languageId) )
	#set( $contentName = "$this.getContentVO($contentVersionVO.contentId).name")
	#set( $path = "$contentName ($lang.languageCode)" ) ##$this.getContentPath($contentVO.contentId)
	#set( $availableLanguages = $contentVO.getExtraProperties().get('availableLanguages') )
	<tr title="$ui.getString("tool.contenttool.contentSearch.resultTable.dblClickHelp", $path)" onclick='select(this, $contentVersionVO.contentId, "$path")' ondblclick='add(this, $contentVersionVO.contentId, "$path")'>
		<td class="nameColumn">
			<div>
				$contentName
			</div>
		</td>
		<td class="dateColumn">$formatter.formatDate($contentVersionVO.modifiedDateTime, "yyyy-MM-dd")</td>
	</tr>
#end
</table>
#end

<script type="text/javascript">
<!-- 
	var resultTable = $("#result").dataTable({
	    "bAutoWidth": false,
	    "oLanguage": {
					"sZeroRecords": "$ui.getString("tool.common.datatable.sZeroRecords")",
				},
		"bSearchable": false,
		"bPaginate": false,
		"bFilter": false,
		"bInfo": false,
		"aaSorting": [[1,'desc'], [0,'asc']],
		"aoColumns": [
			  { "sType": "string" }
			, { "sType": "date" }]
	});

	function setSelected(itemId, path)
	{
		if(itemId)
			parent.document.inputForm.entityId.value     = itemId;
//		if(repoId)
//			parent.document.inputForm.repositoryId.value = repoId;
		if(path)
		 	parent.document.inputForm.path.value         = path;
	}
	
	function unsetSelected()
	{
		parent.document.inputForm.entityId.value     = '';
//		parent.document.inputForm.repositoryId.value = '';
		parent.document.inputForm.path.value         = '';
	}
	
	function clearSelection(row) {
		row.className = row.className.replace(/\bselected\b/, '');
	}

	function select(row, itemId, path)
	{
		if ($(row).hasClass("selected")) {
			$(row).removeClass("selected");
			unsetSelected();
		} else {
			$("#result tr").removeClass("selected");
			$(row).addClass("selected");
			setSelected(itemId, path);
		}
	};
	
	function add(row, itemId, path)
	{
		$("#result tr").removeClass("selected");

		setSelected(itemId, path)
		parent.addQualifyer();
	};

-->
</script>

	</body>
</html>
