#beginCommonToolV3("tool.contenttool.assetDialog.assetDialogHeader" "" "" false true $!disableCloseButton)

<script language="JavaScript">
<!--
	$(document).ready(function(){
		$("#tabsContainer > ul").tabs( { 
				show:function() { resizeInlineTabDivsWithAmount(20,20); },
			  	select:function(e, ui) { 
			  		//alert("ui: " + ui.index);
			  		if(ui.index == 1)
			  		{
			  			if($("#latestAssetsFrame").attr("src") == "")
			  			{
			  				#if($contentVO.id)
					  			$("#latestAssetsFrame").attr("src", "SearchContent!latestInlineAssetsV3.action?repositoryId=${contentVO.repositoryId}&assetTypeFilter=$assetTypeFilter"); 
							#else
					  			$("#latestAssetsFrame").attr("src", "SearchContent!latestInlineAssetsV3.action?assetTypeFilter=$assetTypeFilter"); 
							#end
			  			}
			  		}
			  		else if(ui.index == 2)
			  		{
			  			if($("#repositoryBrowserFrame").attr("src") == "")
			  			{
			  				#if($contentVO.id)
					  			$("#repositoryBrowserFrame").attr("src", "ViewContentVersion!viewAssetsDialogForFCKEditorV3.action?repositoryId=$contentVO.repositoryId&contentId=$contentId&languageId=$languageId&assetTypeFilter=$assetTypeFilter"); 
							#else
					  			$("#repositoryBrowserFrame").attr("src", "ViewContentVersion!viewAssetsDialogForFCKEditorV3.action?languageId=$languageId&assetTypeFilter=$assetTypeFilter"); 
							#end
						}	
			  		}
			  	} 
		});
		setTimeout("resizeInlineTabDivsWithAmount(20,20)", 100);
		setTimeout("init()", 10);
	});
	
	function getRequestParameter(url, parameterName)
	{
		value = "";
		valueIndex = url.indexOf(parameterName + "=");
		if(valueIndex > -1)
		{
			//alert("valueIndex:" + valueIndex);
			endIndex = url.indexOf("&", valueIndex);
			if(endIndex != -1)
				value = url.substring(valueIndex + parameterName.length + 1, endIndex);
			else
				value = url.substring(valueIndex + parameterName.length + 1);
			//alert("value:" + value);
		}
		return value;
	}
	
	function init() 
	{
		#if($contentVO.id)
			//alert(top.opener.document.title);
			if(top.opener.document.title == "Image Properties")
			{
				var txtUrl = top.opener.document.getElementById("txtLnkUrl").value;
				if(txtUrl == null || txtUrl == "")
					txtUrl = top.opener.document.getElementById("txtUrl").value;
			}
			else
				var txtUrl = top.opener.document.getElementById("txtUrl").value;
		
			//alert(txtUrl);
			contentId 		= getRequestParameter(txtUrl, "contentId");
			//alert("contentId:" + contentId);
			if(!contentId || contentId == "")
				contentId = "$!contentId";
			languageId 		= getRequestParameter(txtUrl, "languageId");
			assetKey 		= getRequestParameter(txtUrl, "assetKey");
			
			//alert("assetKey:" + assetKey);
			//document.getElementById("entityId").value = contentId;
		 	
			document.getElementById("contentVersionAssetsFrame").src = "ViewContentVersion!viewContentAssetsForFCKEditorV3.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey + "&treatAsLink=$treatAsLink&assetTypeFilter=$assetTypeFilter";
		#end
	};
	
	function onOk(contentId, assetKey)
	{
		var url = "DownloadAsset.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey;
		window.top.opener.SetUrl( url );
		window.top.close();
		window.top.opener.focus();
	}
-->
</script>		

<div onfocus="this.blur();">
    
	<div id="tabsContainer" class="flora" style="background-color: #f7f7f7;">      

		<ul>
			#if($contentVO.id)
			<li><a href="#currentContentAssetsTab"><span>$ui.getString("tool.contenttool.assetDialog.currentContentAssetsTabLabel")#* #if($contentVO.name.length() > 10)$contentVO.name.substring(0,10)...#else$contentVO.name#end*#</span></a></li>
	        #end
	        <li><a href="#latestUploadedTab"><span>$ui.getString("tool.contenttool.assetDialog.latestAssetsTabLabel")</span></a></li>	        
	        <li><a href="#repositoryBrowserTab"><span>$ui.getString("tool.contenttool.assetDialog.repositoryBrowserTabLabel")</span></a></li>	        
	        <li><a href="#searchTab"><span>$ui.getString("tool.contenttool.assetDialog.searchAssetsTabLabel")</span></a></li>	        
	    </ul>
	
		#if($contentVO.id)
		<div id="currentContentAssetsTab" class="inlineTabDiv" style="border-bottom: 0px solid red;">
			#if($oldContentId > 0)
				<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="660" height="410" align="baseline"></IFRAME>
			#else
				<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="660" height="410" align="baseline"></IFRAME>
			#end
		</div>
		#end
		
		<div id="latestUploadedTab" class="inlineTabDiv">
			<IFRAME frameborder="0" name="latestAssetsFrame" id="latestAssetsFrame" src="" width="660" height="410" align="baseline"></IFRAME>
		</div>
		
		<div id="repositoryBrowserTab" class="inlineTabDiv">
			<IFRAME frameborder="0" name="repositoryBrowserFrame" id="repositoryBrowserFrame" src="" width="660" height="410" align="baseline"></IFRAME>
		</div>
					
		<div id="searchTab" class="inlineTabDiv" style="border-bottom: 0px solid red;">
			#if($contentVO.id)
			<IFRAME frameborder="0" name="contentVersionAssetSearchFrame" id="contentVersionAssetSearchFrame" src="SearchContent!inputInlineAssetV3.action?repositoryId=${contentVO.repositoryId}&assetTypeFilter=$assetTypeFilter" width="660" height="410" align="baseline"></IFRAME>
			#else
			<IFRAME frameborder="0" name="contentVersionAssetSearchFrame" id="contentVersionAssetSearchFrame" src="SearchContent!inputInlineAssetV3.action?assetTypeFilter=$assetTypeFilter" width="660" height="410" align="baseline"></IFRAME>
			#end
		</div>

	</div>

</div>

#endCommonToolV3()
