/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: black;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 11px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0px 0px -1px 3px;
    font-weight: normal;
    border: 0px;
    padding-bottom: 0px;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 12px;
    background: url(../../images/v3/tabs.png) no-repeat;
}
.ui-tabs-nav a {
    margin: 0px; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */ 
}
.ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    color: rgb(85, 85, 85);
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 0px;
    z-index: 2;
    margin-top: 0px;
    background-position: 100% -28px;
}
.ui-tabs-nav a span {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 22px;
    background-position: 0 0;
    line-height: 22px;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 0;
    height: 22px;
    background-position: 0 -28px;
    line-height: 22px;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited {
    color: #000;
}
.ui-tabs-panel {
    border-top: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px;
    background-color: rgb(246, 246, 246); /* declare background color for container to avoid distorted fonts in IE while fading */
    outline: 0;
}
/*.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}*/

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

.inlineTabDiv {
	height: 556px; 
	padding-left: 20px;
	overflow: auto;
}

#contentVersionDiv {
	height: 556px; 
	overflow: auto;
}
#contentVersionCategoriesDiv {
	height: 556px; 
	overflow: auto;
}
#contentVersionAssetsDiv {
	height: 556px; 
	overflow: auto;
}
#contentCoverDiv {
	height: 556px; 
	overflow: auto;
}