<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.deployment.header" "tool.managementtool.deployment.header" "")

<script type="text/javascript" src="script/jsdiff.js"></script>
<style>
<!--
	ins 
	{
	  background-color: #ccffcc;
	}
	
	del 
	{
	  background-color: #ff6666;
	}
-->
</style>

<div class="fullymarginalized">
<table>
	<tr>
		<td><p>$ui.getString("tool.managementtool.deployment.introduction")</p></td>
	</tr>

	#if($synchronizeContentTypeDefinitions)
	<tr>
		<td>
			<form name="contentTypesForm" action="ViewDeploymentSynchronizeServers!updateContentTypes.action" method="post">
				<input type="hidden" name="deploymentServerIndex" value="$deploymentServerIndex"/>
			
			<h3>Content types that deviates</h3>
			#set($indexMissingTypes = 0)
			#foreach($deviatingContentType in $deviatingContentTypes)
				#if(!$deviatingContentType.localVersion)
					<input type="checkbox" name="missingContentTypeName" value="$deviatingContentType.remoteVersion.name"/> Missing local version of $deviatingContentType.remoteVersion.name<br/> 
				#else
					#set($value1 = "$formatter.cleanForJavascriptStrings($deviatingContentType.remoteVersion.schemaValue)")
					#set($value2 = "$formatter.cleanForJavascriptStrings($deviatingContentType.localVersion.schemaValue)")

					#if($value1 != $value2)
						<input type="checkbox" name="deviatedContentTypeName" value="$deviatingContentType.remoteVersion.name"/> $deviatingContentType.remoteVersion.name<br/> 
						<ul>
						<li><strong>Attributes</strong></li>
						#set($deviatingAttributes = $this.getDeviatingAttributes($deviatingContentType.remoteVersion.schemaValue, $deviatingContentType.localVersion.schemaValue))
						#foreach($deviatingAttribute in $deviatingAttributes)
							<li>
								<input type="checkbox" name="${deviatingContentType.remoteVersion.name}_attributeName" value="$deviatingAttribute.name"/> $deviatingAttribute.name
							</li>
						#end

						<li><strong>Categories</strong></li>
						#set($deviatingCategories = $this.getDeviatingCategories($deviatingContentType.remoteVersion.schemaValue, $deviatingContentType.localVersion.schemaValue))
						#foreach($deviatingCategory in $deviatingCategories)
							<li>
								<input type="checkbox" name="${deviatingContentType.remoteVersion.name}_categoryName" value="$deviatingCategory.value"/> $deviatingCategory.value
							</li>
						#end

						<li><strong>Asset keys</strong></li>
						#set($deviatingAssetKeys = $this.getDeviatingAssetKeys($deviatingContentType.remoteVersion.schemaValue, $deviatingContentType.localVersion.schemaValue))
						#foreach($deviatingAssetKey in $deviatingAssetKeys)
							<li>
								<input type="checkbox" name="${deviatingContentType.remoteVersion.name}_assetKey" value="$deviatingAssetKey.assetKey"/> $deviatingAssetKey.assetKey
							</li>
						#end
						</ul>
					#else
						##Exakt compare: $deviatingContentType.remoteVersion.name<br/> 
					#end
				#end
	
				#set($indexMissingTypes = $indexMissingTypes + 1)
			#end
				<br/>
				<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
			</form>
		</td>
	</tr>		
	#end
		
	#if($synchronizeCategories)
	<tr>
		<td>
			<form name="categoriesForm" action="ViewDeploymentSynchronizeServers!updateCategories.action" method="post">
				<input type="hidden" name="deploymentServerIndex" value="$deploymentServerIndex"/>
			
				<h3>Categories that deviates</h3>
				#set($indexMissingCategories = 0)
				#foreach($deviatingCategory in $deviatingCategoryVOList)
					#if(!$deviatingCategory.localVersion)
						$deviatingCategory.remoteVersion.categoryPath
						<input type="checkbox" name="${deviatingCategory.remoteVersion.categoryPath}_transfer" value="true"/> Missing local version of $deviatingCategory.remoteVersion.name<br/> 
					#end
		
					#set($indexMissingCategories = $indexMissingCategories + 1)
				#end
				<br/>
				<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
			</form>
		</td>
	</tr>
	#end
	
	#if($synchronizeWorkflows)	
	<tr>
		<td>
			<form name="workflowsForm" action="ViewDeploymentSynchronizeServers!updateWorkflows.action" method="post">
				<input type="hidden" name="deploymentServerIndex" value="$deploymentServerIndex"/>
			
				<h3>Workflows that deviates</h3>
				#set($indexMissingWorkflows = 0)
				#foreach($deviatingWorkflow in $deviatingWorkflows)
					#if(!$deviatingWorkflow.localVersion)
						<input type="checkbox" name="missingWorkflowDefinitionName" value="$deviatingWorkflow.remoteVersion.name"/> Missing local version of $deviatingWorkflow.remoteVersion.name<br/> 
					#else
						#set($value1 = "$formatter.cleanForJavascriptStrings($deviatingWorkflow.remoteVersion.value)")
						#set($value2 = "$formatter.cleanForJavascriptStrings($deviatingWorkflow.localVersion.value)")
	
						#if($value1 != $value2)
							<input type="checkbox" name="missingWorkflowDefinitionName" value="$deviatingWorkflow.remoteVersion.name"/> $deviatingWorkflow.remoteVersion.name<br/> 
						#else
							##Exakt compare: $deviatingWorkflows.remoteVersion.name<br/> 
						#end
					#end
		
					#set($indexMissingWorkflows = $indexMissingWorkflows + 1)
				#end
				<br/>
				<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
			</form>
		</td>
	</tr>		
	#end
	
	<tr>
		<td>
			<form name="contentsForm" action="ViewDeploymentSynchronizeServers!updateContents.action" method="post">
				<input type="hidden" name="deploymentServerIndex" value="$deploymentServerIndex"/>
			
				<h3>Contents that deviates</h3>
				#set($indexMissingContents = 0)
				#foreach($deviatingContent in $deviatingContents)
					#if(!$deviatingContent.localVersion)
						<input type="checkbox" name="missingContentId" value="$deviatingContent.remoteVersion.name"/> Missing local version of $deviatingContent.remoteVersion.name ($deviatingContent.remoteVersion.fullPath)<br/> 
					#else
						#set($value1 = "$formatter.cleanForJavascriptStrings($deviatingContent.remoteVersion.value)")
						#set($value2 = "$formatter.cleanForJavascriptStrings($deviatingContent.localVersion.value)")
	
						#if($deviatingContent.remoteVersion.name == "2-column component")
							$value1.length() - $value1.length()		
							<!--
							$value1 
							-->
							<!--
							$value2
							-->
						#end
						
						#if("$value1" == "$value2")
							Equals
						#end
						
						#if("$value1" != "$value2")
							<input type="checkbox" name="missingContentId" value="$deviatingContent.remoteVersion.name"/> $deviatingContent.remoteVersion.name<br/>
						#else
							##Exakt compare: $deviatingContent.remoteVersion.name<br/> 
						#end
					#end
		
					#set($indexMissingContents = $indexMissingContents + 1)
				#end
				<br/>
				<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
			</form>
		</td>
	</tr>		
	<tr>
		<td>
			Structure
		</td>
	</tr>		
	<tr>
		<td>
			<form method="POST" action="ViewDeploymentSynchronizeServers.action">
				<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
			</form>
		</td>
	</tr>
</table>
</div>
</body>
</html>
