#if ($isAutomaticRedirect)		
	<script type="text/javascript">
		top.location.href = "$firstActionLink.actionURL";
	</script>	
#else

	#beginCommonToolV3("tool.common.inlineOperationDoneHeader" "" "" false true)
		
	<div onfocus="this.blur();">
	    
		#menuToolbar("" $buttons $rightButtons) 
	
		<div style="clear: both;"></div>
		
		<h3 style="text-indent: 16px;">$message</h3>
		
		<div class="inlineTabDiv" onfocus="this.blur();">	
		
			#foreach($link in $actionLinks)			
			<p>
				<a id="$link.id" href="$link.actionURL" target="_top" style="display:block; #if($link.backgroundImageURL != '') background-image: url('$link.backgroundImageURL'); background-repeat: no-repeat; padding-left: 26px;#end padding-top: 8px; height: 20px;"><strong>$link.text</strong></a>
				$link.description
			</p>
			#end
		
		</div>
	
		#footerToolbar($footerButtons)
			
	</div>
	
	#endCommonToolV3()

#end