#beginLightCommonToolV3("tool.common.subscriptions.header" "" "" false true $!disableCloseButton)

<link rel="stylesheet" type="text/css" href="css/cms.css" />

<script type="text/javascript">
<!--
	function submitForm()
	{
		document.editForm.submit();
	}
	
	$(document).ready(function(){
		#set($selectedCode = ", selected: 0")
		#if("$entity" == "Content")
			#set($selectedCode = ", selected: 1 ")
		#elseif("$entity" == "SiteNode")
			#set($selectedCode = ", selected: 2 ")
		#end
		$("#tabsContainer").tabs({ show:function() { resizeInlineTabDivs();}$selectedCode });
	});
	
//-->
</script>

#lightMenuToolbar("" $buttons $rightButtons)

<div style="clear: both;"></div>

<h3 style="text-indent: 16px;">
	$ui.getString("tool.common.trashcan.title")
	#if($errorMessage && $!errorMessage != "")<span style="color:red">$errorMessage</span>#end
</h3>

<div onfocus="this.blur();">
    
	<form method="POST" name="editForm" action="Trashcan!delete.action">
		<input type="hidden" name="returnAddress" value="$returnAddress"/>
		<input type="hidden" name="userSessionKey" value="$userSessionKey"/>
		
		<div id="tabsContainer" class="flora">      
		
			<ul>
		        <li><a href="#repositoriesTab"><span>$ui.getString("tool.common.trashcanDialog.repositoriesTabLabel")</span></a></li>	        
		        <li><a href="#contentsTab"><span>$ui.getString("tool.common.trashcanDialog.contentsTabLabel")</span></a></li>	        
		        <li><a href="#siteNodesTab"><span>$ui.getString("tool.common.trashcanDialog.pagesTabLabel")</span></a></li>	        
		    </ul>
		
			<div id="repositoriesTab" class="inlineTabDiv">
				##<h4 style="margin-left: 0px;">Repositories</h4>
				<ul>
				#foreach($repositoryVO in $repositoriesMarkedForDeletion)
					<li class="repository" style="border-bottom: 1px solid #ddd; margin-top: 4px;">
						$repositoryVO.name <a href="Trashcan!restore.action?entity=Repository&entityId=$repositoryVO.id" style="float: right;">Restore</a>
					</li>
				#end
				</ul>
			</div>
			<div id="contentsTab" class="inlineTabDiv">
				##<h4 style="margin-left: 0px;">Contents</h4>
				<ul>
				#foreach($contentVO in $contentsMarkedForDeletion)
					<li class="content" style="border-bottom: 1px solid #ddd; margin-top: 4px;">
						$contentVO.name <a href="Trashcan!restore.action?entity=Content&entityId=$contentVO.id" style="float: right;">Restore</a>
					</li>
				#end
				</ul>
			</div>
			<div id="siteNodesTab" class="inlineTabDiv">
				##<h4 style="margin-left: 0px;">Pages</h4>
				<ul>
				#foreach($siteNodeVO in $siteNodesMarkedForDeletion)
					<li class="page" style="border-bottom: 1px solid #ddd; margin-top: 4px;">
						$siteNodeVO.name <a href="Trashcan!restore.action?entity=SiteNode&entityId=$siteNodeVO.id" style="float: right;">Restore</a>
					</li>
				#end
				</ul>
			</div>

	</form>
		
</div>

#lightFooterToolbar($footerButtons)

#endCommonToolV3()