<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginStructureTool("tool.structuretool.deleteSiteNode.header" "tool.structuretool.deleteSiteNode.header" "siteNodeId=$siteNodeId&repositoryId=$!repositoryId&changeTypeId=$changeTypeId" "null" "null" "null")

<script language="JavaScript">
<!--
	
	
-->
</script>

<div class="fullymarginalized">
<form method="POST" name="editForm" action="DeleteSiteNode.action">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td colspan="7" class="label">
			$ui.getString("tool.structuretool.fixReferencesBeforeDelete.header")
		</td>
	</tr>
	<tr>
		<td colspan="7"><img src="images/trans.gif" height="10" width="1"></td>
	</tr>
	<tr class="darkapricot">
		<td class="smalllabel" colspan="7" width="100%">$ui.getString("tool.structuretool.siteNodeReferences.header")</td>
	</tr>
	<tr>
		<td bgcolor="#FEF8D0" colspan="7" height="1"><img src="images/trans.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#F0E1B4" colspan="7" height="1"><img src="images/trans.gif" width="1" height="1"></td>
	</tr>
	#set($hasPageReferences = false)
	#set($isOdd = true)
	#foreach ($referenceBean in $referenceBeanList)
		#if($referenceBean.referencingObject.class.name.indexOf("SiteNode") > -1)
			#set($hasPageReferences = true)
			#if($isOdd)
				#set($class = "class='lightapricot'")
				#set($isOdd = false)
			#else
				#set($class = "class='white'")
				#set($isOdd = true)
			#end
			<tr $class>
				<td><img src="images/tree/structureRoot.gif"></td>
				<td colspan="3" width="100%"><a href="DeleteContent!fixPage.action?siteNodeId=$referenceBean.referencingObject.siteNodeId&contentId=-1" target="_blank">$referenceBean.name</a> #if($referenceBean.registryVOList.size() > 1)- $referenceBean.registryVOList.size() $ui.getString("tool.structuretool.referencesFound")#end</td>
				<!--<td colspan="4"><a href="${componentRendererUrl}${componentRendererAction}?siteNodeId=$referenceBean.referencingObject.siteNodeId&contentId=-1" target="_blank">$referenceBean.name</a></td>-->
				<td nowrap="1"><a href="DeleteReference.action?xxxx"><img src="images/delete.gif" border="0"></a><img src="images/trans.gif" border="0" width="5" height="5"></td>
				<!--<td><a href="${componentRendererUrl}${componentRendererAction}?siteNodeId=$referenceBean.referencingObject.siteNodeId&contentId=-1" target="_blank"><img src="images/edit.gif" border="0"></a></td>-->
				<td><a href="DeleteContent!fixPage.action?siteNodeId=$referenceBean.referencingObject.siteNodeId&contentId=-1" target="_blank"><img src="images/edit.gif" border="0"></a></td>
				<td><a href="#"><img src="images/approve.gif" border="0"></a></td>
			</tr>	
		#end
	#end
	#if(!$hasPageReferences)
		<tr $class>
			<td colspan="7">$ui.getString("tool.structuretool.noPageReferencesFound")</td>		
		</tr>	
	#end
	
	<tr>
		<td colspan="7"><img src="images/trans.gif" height="10" width="1"></td>
	</tr>
	<tr class="darkapricot">
		<td class="smalllabel" colspan="7" width="100%">$ui.getString("tool.structuretool.contentVersionReferences.header")</td>
	</tr>
	<tr>
		<td bgcolor="#FEF8D0" colspan="7" height="1"><img src="images/trans.gif" width="1" height="1"></td>
	</tr>
	<tr>
		<td bgcolor="#F0E1B4" colspan="7" height="1"><img src="images/trans.gif" width="1" height="1"></td>
	</tr>
	#set($hasContentReferences = false)
	#set($isOdd = true)
	#foreach ($referenceBean in $referenceBeanList)
		#if($referenceBean.referencingObject.class.name.indexOf("Content") > -1)
			#set($hasContentReferences = true)
			#if($isOdd)
				#set($class = "class='lightapricot'")
				#set($isOdd = false)
			#else
				#set($class = "class='white'")
				#set($isOdd = true)	
			#end
			<tr $class>
				<td><img src="images/tree/contentRoot.gif"></td>
				<td colspan="3" width="100%"><a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingObject.contentId&languageId=$referenceBean.referencingObject.languageId" target="_blank">$referenceBean.name</a> #if($referenceBean.registryVOList.size() > 1)- $referenceBean.registryVOList.size() $ui.getString("tool.structuretool.referencesFound")#end</td>
				<td nowrap="1"><a href="#"><img src="images/delete.gif" border="0"></a><img src="images/trans.gif" border="0" width="5" height="5"></td>
				<td><a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingObject.contentId&languageId=$referenceBean.referencingObject.languageId" target="_blank"><img src="images/edit.gif" border="0"></a></td>
				<td><a href="#"><img src="images/approve.gif" border="0"></a></td>		
			</tr>	
		#end
	#end
	#if(!$hasContentReferences)
		<tr $class>
			<td colspan="7">$ui.getString("tool.structuretool.noContentReferencesFound")</td>		
		</tr>	
	#end
		
</table>
</div>

#endStructureTool()
