<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Choose SiteNodes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	<script type="text/javascript" src="script/vector.js"></script>
	<script type="text/javascript" src="script/qualifyer.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>
	<script type="text/javascript" src="script/jquery/jquery-1.3.2.min.js"></script>
	
	<script language="JavaScript"> 
		window.resizeTo(570,640);
	</script> 
		
	<script type="text/javascript" language="JavaScript">
		
	<!-- 
		var exp;
		
		/**
		 * This is just a hook for the tree to notify us about whats expanded.
		 */
		 
		function notifyExp(v)
	    {
	    	exp=v;
	    }
	    
		/**
		 * This method changes to another repository.
		 */
		 
		function changeRepository(selectBox)
		{
			//qualifyerXML = createXML();
			var repositoryId = selectBox.value;
			submitQualifyerWhenRepositoryChanges(repositoryId);
			//var url = "${changeRepositoryAction}?updateAction=$updateAction&repositoryId=" + repositoryId + "&entityName=$entityName&entityId=$entityId&attributeName=$attributeName&entityName=${currentEntity}&tree=$tree&qualifyerXML=" + escape(qualifyerXML);
			//document.location.href = url;
		}
		
		/**
		 * This submits the qalifyers.
		 */
		 
		function finish()
		{
		   	document.inputForm.newParentSiteNodeId.value = document.inputForm.entityId.value;
			$("#inputForm").attr("target","_top");
			document.inputForm.submit();

			setTimeout(function() {
				updateProcessInfo();
			}, 500);
		}
	
		function updateProcessInfo()
		{
			setTimeout(function() {
				$("#processFrame").attr("src", "CopyMultipleSiteNodes!showProcessesAsJSON.action").show();
				updateProcessInfo();
			}, 500);
		}
		
		/**
		 * This submits the qalifyers.
		 */
		
		function submitQualifyerWhenRepositoryChanges(repositoryId)
		{
		   	document.inputForm.repositoryId.value = repositoryId;
			
			document.inputForm.action = 'CopyMultipleSiteNodes.action';
			document.inputForm.submit();
		}
			
	</script>
	
</head>

<body class="structuretooledit">

<table class="structuretooledit" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td valign="top">
		
		<table id="mainTable" cellpadding="0" cellspacing="0" border="0">
		<tr class="darkapricot">
			<td class="smalllabel">Mark the destination folder and press "Save".</td>
		</tr>
		<tr>
			<td bgcolor="#FEF8D0" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td bgcolor="#F0E1B4" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<tr>
			<td>
		  		<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);">
				    <option value="">$ui.getString("tool.contenttool.chooseRepositoryLabel")</option>
				    #foreach ($repositoryVO in $repositories)
				    <option value="$repositoryVO.getRepositoryId()">$repositoryVO.getName()</option>
				    #end
				</select>
			</td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>	
		<tr>
			<td class="menu">   
				<iframe frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewStructureHtmlTree!bindingView.action?repositoryId=${repositoryId}&showLeafs=false" width="550" height="450" align="baseline"></iframe>
			</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<a href="javascript:finish();"><img src="$ui.getString("images.contenttool.buttons.save")" border="0"></a>
				<a href="javascript:window.close();"><img src="$ui.getString("images.contenttool.buttons.cancel")" width="50" height="25" border="0"></a>
			</td>
		</tr>		
		<tr>
			<td>
				<form id="inputForm" name="inputForm" action="CopyMultipleSiteNodes.action">
					<input type="hidden" name="siteNodeId" value="$siteNodeId">
					<input type="hidden" name="entityId" value="">
					<input type="hidden" name="path" value="">
					<input type="hidden" name="repositoryId" value="">
					<input type="hidden" name="newParentSiteNodeId" value="">
					<input type="hidden" name="qualifyerXML" value="$qualifyerXML">
				</form>
			</td>
		</tr>		
		</table>
	</td>	
</tr>
</table>

<iframe frameborder="0" name="processFrame" id="processFrame" src="" width="560" height="400" align="baseline" style="display: none; position: absolute; top: 100px; left: 4px; border: 1px solid #666; background-color: white;"></iframe>
<iframe frameborder="0" name="actionFrame" id="actionFrame" src="" width="360" height="1" align="baseline"></iframe>

</body>
</html>
