<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("Create new InterceptionPoint" "New InterceptionPoint" "")

<div class="fullymarginalized">
<form method="POST" action="CreateInterceptionPoint.action">
<table>
	<tr>
		<td>#editField("InterceptionPoint.category" "category" $!category "51")</td>
	</tr>	
	<tr>
		<td>#editField("InterceptionPoint.name" "name" $!name "51")</td>
	</tr>
	<tr>
		<td>#editField("InterceptionPoint.description" "description" $!description "51")</td>
	</tr>	
	<tr>
		<td>#selectField("InterceptionPoint.usesExtraDataForAccessControl" "usesExtraDataForAccessControl" $!usesExtraDataForAccessControl [["true", "Yes"], ["false", "No"]])</td>
	</tr>	
	<tr>	
		<td>
			<input type="image" img src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="ViewListInterceptionPoint.action"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
	</tr>
</table>
</div>
</body>
</html>
