<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.createGroup.header" "tool.managementtool.createGroup.header" "")

<div class="fullymarginalized">
<form method="POST" action="CreateGroup.action">
<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
	<tr>
		<td>#editField("Group.name" "groupName" $!groupName "51")</td>
	</tr>	
	<tr>
		<td width="400">#editTextArea("Group.description" "description" $description "50" "5" "normaltextarea")</td>
	</tr>
	<tr>
		<td width="400">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="ViewListSystemUser.action"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
	</tr>
</table>
</form>
</div>

</body>
</html>
