<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.createInterceptionPoint.header" "tool.managementtool.createInterceptionPoint.header" "")

<div class="fullymarginalized">
<form method="POST" action="CreateInterceptionPoint.action">
<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
<table>

	<tr>
		<td>
			<table>
			<tr>
				<td>$ui.getString("entity.InterceptionPoint.interceptionPointVOName.label")
					#if($errors.hasErrors($errorKey))
						#foreach($errorMessage in $errors.getErrors($errorKey))
					    	<font color="red"> - $errorMessage</font>
					    #end
					#end
				</td>
			</tr>
			<tr>
				<td>
					<select name="interceptionPointVOName" class="dropbox">
						<option value="">$ui.getString("entity.InterceptionPoint.chooseInterceptionPoint.label")</option>
						#foreach($inactiveInterceptionPointVO in $inactiveInterceptionPointVOList)
							<option value="$inactiveInterceptionPointVO.name" #if("$inactiveInterceptionPointVO.name" == "$!interceptionPointVOName") selected #end>$inactiveInterceptionPointVO.name - $inactiveInterceptionPointVO.description</option>
						#end
					</select>
				</td>
			</tr>
			</table>
		</td>
	</tr>	
	
	<tr>
		<td><p class="subtitle">$ui.getString("entity.InterceptionPoint.createNew.label")</p></td>
	</tr>
	<tr>
		<td>#editField("InterceptionPoint.category" "category" $!category "51")</td>
	</tr>	
	<tr>
		<td>#editField("InterceptionPoint.name" "name" $!name "51")</td>
	</tr>
	<tr>
		<td>#editField("InterceptionPoint.description" "description" $!description "51")</td>
	</tr>	
	<tr>
		<td>#selectField("InterceptionPoint.usesExtraDataForAccessControl" "usesExtraDataForAccessControl" $!usesExtraDataForAccessControl [["true", "Yes"], ["false", "No"]])</td>
	</tr>	
	<tr>	
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="ViewListInterceptionPoint.action"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
	</tr>
</table>
</div>
</body>
</html>
