<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.serverNodeProperties.header" "tool.managementtool.serverNodeProperties.header" "serverNodeId=$serverNodeId")

<div class="fullymarginalized">

<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
<form name="editForm" method="POST" action="ViewServerNodeProperties!save.action">

	<tr>
		<td>#subTitle("entity.ServerNode.property.cacheSettings.label")</td>
	</tr>	
	
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.isPageCacheOn" "isPageCacheOn" "$this.getPropertyValue('isPageCacheOn')")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.useSelectivePageCacheUpdate" "useSelectivePageCacheUpdate" "$this.getPropertyValue('useSelectivePageCacheUpdate')")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.expireCacheAutomatically" "expireCacheAutomatically" "$!expireCacheAutomatically")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.cacheExpireInterval" "cacheExpireInterval" "$this.getPropertyValue('cacheExpireInterval')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.session.timeout" "session.timeout" "$this.getPropertyValue('session.timeout')" "51")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.compressPageCache" "compressPageCache" "$this.getPropertyValue('compressPageCache')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.siteNodesToRecacheOnPublishing" "siteNodesToRecacheOnPublishing" "$this.getPropertyValue('siteNodesToRecacheOnPublishing')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.recachePublishingMethod" "recachePublishingMethod" "$this.getPropertyValue('recachePublishingMethod')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.recacheUrl" "recacheUrl" "$this.getPropertyValue('recacheUrl')" "51")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.useUpdateSecurity" "useUpdateSecurity" "$this.getPropertyValue('useUpdateSecurity')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.allowedAdminIP" "allowedAdminIP" "$this.getPropertyValue('allowedAdminIP')" "51")</td>
	</tr>
	
	<tr>
		<td>#editField("ServerNode.property.pageKey" "pageKey" "$this.getPropertyValue('pageKey')" "51")</td>
	</tr>
	
	<tr>
		<td>#subTitle("entity.ServerNode.property.cmsConnection.label")</td>
	</tr>	
	<tr>
		<td>#editField("ServerNode.property.cmsBaseUrl" "cmsBaseUrl" "$this.getPropertyValue('cmsBaseUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.componentEditorUrl" "componentEditorUrl" "$this.getPropertyValue('componentEditorUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.componentRendererUrl" "componentRendererUrl" "$this.getPropertyValue('componentRendererUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.componentRendererAction" "componentRendererAction" "$this.getPropertyValue('componentRendererAction')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.editOnSiteUrl" "editOnSiteUrl" "$this.getPropertyValue('editOnSiteUrl')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.templateProcessing.label")</td>
	</tr>	
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.useFreeMarker" "useFreeMarker" "$this.getPropertyValue('useFreeMarker')")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.webSpecifics.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.webServerAddress" "webServerAddress" "$this.getPropertyValue('webServerAddress')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.applicationBaseAction" "applicationBaseAction" "$this.getPropertyValue('applicationBaseAction')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.digitalAssetBaseUrl" "digitalAssetBaseUrl" "$this.getPropertyValue('digitalAssetBaseUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.imagesBaseUrl" "imagesBaseUrl" "$this.getPropertyValue('imagesBaseUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.digitalAssetPath" "digitalAssetPath" "$this.getPropertyValue('digitalAssetPath')" "51")</td>
	</tr>
	
	<tr>
		<td>#subTitle("entity.ServerNode.property.urlFormatting.label")</td>
	</tr>		
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.enableNiceURI" "enableNiceURI" "$this.getPropertyValue('enableNiceURI')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.niceURIEncoding" "niceURIEncoding" "$this.getPropertyValue('niceURIEncoding')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.niceURIAttributeName" "niceURIAttributeName" "$this.getPropertyValue('niceURIAttributeName')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.requestArgumentDelimiter" "requestArgumentDelimiter" "$this.getPropertyValue('requestArgumentDelimiter')" "51")</td>
	</tr>
	
	<tr>
		<td>#subTitle("entity.ServerNode.property.errorHandling.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.errorUrl" "errorUrl" "$this.getPropertyValue('errorUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.errorBusyUrl" "errorBusyUrl" "$this.getPropertyValue('errorBusyUrl')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.thumbnailGeneration.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.externalThumbnailGeneration" "externalThumbnailGeneration" "$this.getPropertyValue('externalThumbnailGeneration')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.urlEncoding.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.URIEncoding" "URIEncoding" "$this.getPropertyValue('URIEncoding')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.workflowEncoding" "workflowEncoding" "$this.getPropertyValue('workflowEncoding')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.formsEncoding" "formsEncoding" "$this.getPropertyValue('formsEncoding')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.databaseSettings.label")</td>
	</tr>		
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.useShortTableNames" "useShortTableNames" "$this.getPropertyValue('useShortTableNames')")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.logSettings.label")</td>
	</tr>		
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.logDatabaseMessages" "logDatabaseMessages" "$this.getPropertyValue('logDatabaseMessages')")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.statistics.enabled" "statistics.enabled" "$this.getPropertyValue('statistics.enabled')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.statisticsLogPath" "statisticsLogPath" "$this.getPropertyValue('statisticsLogPath')" "51")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.statisticsLogOneFilePerDay" "statisticsLogOneFilePerDay" "$this.getPropertyValue('statisticsLogOneFilePerDay')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.statisticsLogger" "statisticsLogger" "$this.getPropertyValue('statisticsLogger')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.portalSettings.label")</td>
	</tr>		
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.enablePortal" "enablePortal" "$this.getPropertyValue('enablePortal')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.portletBase" "portletBase" "$this.getPropertyValue('portletBase')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.mailSettings.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.mail.smtp.host" "mail.smtp.host" "$this.getPropertyValue('mail.smtp.host')" "51")</td>
	</tr>
	<tr>
		<td>#yesNoDropDownWithInherit("ServerNode.property.mail.smtp.auth" "mail.smtp.auth" "$this.getPropertyValue('mail.smtp.auth')")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.mail.smtp.user" "mail.smtp.user" "$this.getPropertyValue('mail.smtp.user')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.mail.smtp.password" "mail.smtp.password" "$this.getPropertyValue('mail.smtp.password')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.systemEmailSender" "systemEmailSender" "$this.getPropertyValue('systemEmailSender')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.securitySettings.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.loginUrl" "loginUrl" "$this.getPropertyValue('loginUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.logoutUrl" "logoutUrl" "$this.getPropertyValue('logoutUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.invalidLoginUrl" "invalidLoginUrl" "$this.getPropertyValue('invalidLoginUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.successLoginBaseUrl" "successLoginBaseUrl" "$this.getPropertyValue('successLoginBaseUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authenticatorClass" "authenticatorClass" "$this.getPropertyValue('authenticatorClass')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authorizerClass" "authorizerClass" "$this.getPropertyValue('authorizerClass')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.serverName" "serverName" "$this.getPropertyValue('serverName')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authConstraint" "authConstraint" "$this.getPropertyValue('authConstraint')" "51")</td>
	</tr>
	<!--
	<tr>
		<td>#editField("ServerNode.property.extraParametersFile" "extraParametersFile" "$this.getPropertyValue('extraParametersFile')" "51")</td>
	</tr>
	-->
	<tr>
		<td>#editTextArea("ServerNode.property.extraSecurityParameters" "extraSecurityParameters" "$this.getDataPropertyValue('extraSecurityParameters')" "50" "10" "normaltextarea")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casValidateUrl" "casValidateUrl" "$this.getPropertyValue('casValidateUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casServiceUrl" "casServiceUrl" "$this.getPropertyValue('casServiceUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casLogoutUrl" "casLogoutUrl" "$this.getPropertyValue('casLogoutUrl')" "51")</td>
	</tr>

	<tr>
		<td>#subTitle("entity.ServerNode.property.deliverSecuritySettings.label")</td>
	</tr>		
	<tr>
		<td>#editField("ServerNode.property.loginUrl" "deliver_loginUrl" "$this.getPropertyValue('deliver', 'loginUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.logoutUrl" "deliver_logoutUrl" "$this.getPropertyValue('deliver', 'logoutUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.invalidLoginUrl" "deliver_invalidLoginUrl" "$this.getPropertyValue('deliver', 'invalidLoginUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.successLoginBaseUrl" "deliver_successLoginBaseUrl" "$this.getPropertyValue('deliver', 'successLoginBaseUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authenticatorClass" "deliver_authenticatorClass" "$this.getPropertyValue('deliver', 'authenticatorClass')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authorizerClass" "deliver_authorizerClass" "$this.getPropertyValue('deliver', 'authorizerClass')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.serverName" "deliver_serverName" "$this.getPropertyValue('deliver', 'serverName')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.authConstraint" "deliver_authConstraint" "$this.getPropertyValue('deliver', 'authConstraint')" "51")</td>
	</tr>
	<tr>
		<td>#editTextArea("ServerNode.property.extraSecurityParameters" "deliver_extraSecurityParameters" "$this.getDataPropertyValue('deliver', 'extraSecurityParameters')" "50" "10" "normaltextarea")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casValidateUrl" "deliver_casValidateUrl" "$this.getPropertyValue('deliver', 'casValidateUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casServiceUrl" "deliver_casServiceUrl" "$this.getPropertyValue('deliver', 'casServiceUrl')" "51")</td>
	</tr>
	<tr>
		<td>#editField("ServerNode.property.casLogoutUrl" "deliver_casLogoutUrl" "$this.getPropertyValue('deliver', 'casLogoutUrl')" "51")</td>
	</tr>

	
	<tr>
		<td>#subTitle("entity.ServerNode.property.cmsGUI.label")</td>
	</tr>	
	<tr>
		<td>#editTextArea("ServerNode.property.shortcuts" "shortcuts" "$this.getDataPropertyValue('shortcuts')" "50" "10" "normaltextarea")</td>
	</tr>

	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25">
			<a href="javascript:saveAndExit(document.editForm, 'ViewServerNodeProperties!saveAndExit.action');"><img src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="ViewServerNode.action?serverNodeId=$serverNodeId"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>

<input type="hidden" name="serverNodeId" value="$!serverNodeId">
</form>
</table>
</div>

</body>
</html>