<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewCategoryList.header" "tool.managementtool.viewCategoryList.header" "")
#set($categories = $models)
#parse("/cms/managementtool/categoryList.vm")
#endManagementTool()