<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.managementtool.exportRepository.header")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>
	
	<style>
		fieldset
		{
			border: 1px solid #cccccc;
			width: 450px;
		}
		legend
		{
			color: #000000;
			background: #c6d3e7;
			border: 1px solid #cccccc;
			padding: 2px 6px
		}
		label
		{
			width: 200px;
			float: left;
			text-align: right;
			margin-right: 0.5em;
			display: block;
		}
		.narrowLabel
		{
			width: 100px;
		}
		select
		{
			background: white;
			border: 1px solid #cccccc;
			font-family: Verdana, Arial, San serif;
			font-size: 8pt;
			width: 200px;
		}
		input
		{
			background: white;
			border: 1px solid #cccccc;
			font-family: Verdana, Arial, San serif;
			font-size: 8pt;
			width: 200px;
		}
		.wideButton
		{
			background: #d6d3ce;
			border: 1px solid #848284;
			font-family: Verdana, Arial, San serif;
			font-size: 10pt;
			width: 100px;
		}
		p
		{
			line-heigh: 12px;
			margin: 0px;
			padding-bottom: 4px;
		}
	</style>
	
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="managementtooledit">

<div class="fullymarginalized">

<form name="editForm" method="POST" action="ViewPasswordTool.action">
<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
<table width="300">
	<tr>
		<td class="biglabel">
			$ui.getString("tool.managementtool.password.header")
		</td>
	</tr>		
	<tr>
		<td>
			$ui.getString("tool.managementtool.password.introduction")<br/><br/>
		</td>
	</tr>		
	<tr>
		<td>
	 		<fieldset>
				<legend>Enter password</legend>
		 		<p>
		 		<label for="password">Password:</label>
				<input type="password" name="password" value="">
		 		</p>
			</fieldset><br/>
		</td>
	</tr>
	<tr>
		<td>
			<a href="javascript:document.editForm.submit();"><img src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25" border="0"></a>
			<a href="javascript:window.close();"><img border="0" src="$ui.getString("images.contenttool.buttons.close")" width="50" height="25"></a>
		</td>
	</tr>

	</form>	
</table>
</div>

</body>
</html>