<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewContentTypeDefinition.header" "tool.managementtool.viewContentTypeDefinition.header" "contentTypeDefinitionId=$contentTypeDefinitionId&name=$name")

<script Language=JavaScript1.2>
<!--
	function submitNewAttribute()
	{
		if(document.editForm.inputTypeId.selectedIndex > 0)
		{
			document.editForm.action = "ViewContentTypeDefinition!insertAttribute.action";
			document.editForm.submit();
		}
		else
		{
			alert("You must select a input type first.");
		}
	}

	function showDiv(id)
	{
		document.getElementById(id).style.visibility = 'visible';
	}

	function hideDiv(id)
	{
		document.getElementById(id).style.visibility = 'hidden';
	}

	function changeViewLanguage()
	{

		window.location.href = "ViewContentTypeDefinition.action?contentTypeDefinitionId=$contentTypeDefinitionId&currentContentTypeEditorViewLanguageCode=" + document.editForm.languageCode.value;
	}
-->
</script>


#foreach($attribute in $contentTypeAttributes)
	#foreach($parameter in $attribute.getContentTypeAttributeParameters())
		#set($values = $parameter.value.getContentTypeAttributeParameterValues())
		#foreach($value in $values)
			#if($parameter.value.type == 1)

			<div id="${attribute.name}${parameter.key}${value.id}PropertyLayer" style="border-style:solid; border-width:1px; background-color: white; LEFT:250px; position:absolute; TOP:250px; visibility:hidden; z-index:1">
				<form name="${attribute.name}${parameter.key}${value.id}PropertiesForm" action="ViewContentTypeDefinition!updateAttributeParameterValue.action" method="POST">
				<table border="0" cellpadding="4" cellspacing="0">
				<tr>
					<td colspan="2" class="propertiesheader">Edit values</td>
				</tr>
				<tr>
					<td colspan="2"><img src="images/trans.gif" height="5" width="1"></td>
				</tr>
				<tr>
					<td><b>Label</b></td>
					<td><input type="textfield" name="attributeParameterValueLabel" value="$value.getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode")" class="normaltextfield"></td>
				</tr>
				<tr>
					<td><b>Internal Name</b></td>
					<td><input type="textfield" name="newAttributeParameterValueId" value="$value.getLocalizedValue("id", "$!currentContentTypeEditorViewLanguageCode")" class="normaltextfield"></td>
				</tr>
				<tr>
					<td colspan="2">
						<img src="images/trans.gif" width="80" height="25" border="0">
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<input type="image" src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
						<a href="javascript:hideDiv('${attribute.name}${parameter.key}${value.id}PropertyLayer');"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
					</td>
				</tr>
				</table>
				<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
				<input type="hidden" name="attributeName" value="$attribute.name">
				<input type="hidden" name="attributeParameterId" value="$parameter.key">
				<input type="hidden" name="attributeParameterValueId" value="$value.id">
				<input type="hidden" name="attributeParameterValueLocale" value="$!currentContentTypeEditorViewLanguageCode">
				<input type="hidden" name="currentContentTypeEditorViewLanguageCode" value="$!currentContentTypeEditorViewLanguageCode">
				<input type="hidden" name="attributeToExpand" value="${attribute.name}">
				</form>
			</div>

			#end
		#end
	#end

#set($visibility = "hidden")
#if($attributeToExpand == $attribute.name)
	#set($visibility = "visible")
#end
<div id="${attribute.name}PropertyLayer" style="border-style:solid; border-width:1px; background-color: white; LEFT:150px; position:absolute; TOP:150px; visibility:${visibility}; z-index:0">
	<form name="${attribute.name}PropertiesForm" action="ViewContentTypeDefinition!updateAttribute.action" method="POST">
	<table border="0" cellpadding="4" cellspacing="0">
	<tr>
		<td colspan="2" class="propertiesheader">Properties for attribute</td>
	</tr>
	<tr>
		<td colspan="2"><img src="images/trans.gif" height="5" width="1"></td>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td><input type="textfield" name="newAttributeName" value="$attribute.name" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Type</b></td>
		<td>
			<select size="1" name="inputTypeId" class="sitedropbox">
			    <option value="">Choose element type</option>
			    <!--<option value="label" #checkSelected("label" "$attribute.inputType")>Label</option>-->
			    <option value="textfield" #checkSelected("textfield" "$attribute.inputType")>TextField</option>
			    <option value="textarea" #checkSelected("textarea" "$attribute.inputType")>TextArea</option>
			    <option value="checkbox" #checkSelected("checkbox" "$attribute.inputType")>CheckBox</option>
			    <option value="radiobutton" #checkSelected("radiobutton" "$attribute.inputType")>RadioButton</option>
			    <option value="select" #checkSelected("select" "$attribute.inputType")>SelectBox</option>
			    <!--<option value="password" #checkSelected("password" "$attribute.inputType")>Password</option>-->
			    <!--<option value="image" #checkSelected("image" "$attribute.inputType")>SubmitImage</option>-->
			    <!--<option value="submit" #checkSelected("submit" "$attribute.inputType")>SubmitButton</option>-->
			    <!--<option value="clear" #checkSelected("clear" "$attribute.inputType")>ClearButton</option>-->
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2"><b>Extra parameters</b></td>
	</tr>

	#foreach($parameter in $attribute.getContentTypeAttributeParameters())
	<tr>
		<td valign="top">$parameter.key:</td>
		<td>
			<input type="hidden" name="parameterNames" value="$parameter.key">
			#set($values = $parameter.value.getContentTypeAttributeParameterValues())
			#if($parameter.value.type == 0)
				<input type="textfield" name="$parameter.key" value="$parameter.value.getContentTypeAttributeParameterValue().getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode")" class="normaltextfield">
			#else
				<table border="0" cellpadding="2" cellspacing="0">
				<tr>
					<td><b>Label</b></td>
					<td><b>Internal name</b></td>
					<td></td>
				</tr>
				#foreach($value in $values)
				<tr>
					<td>$value.getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode")</td>
					<td>$value.getLocalizedValue("id", "$!currentContentTypeEditorViewLanguageCode")</td>
					<td>
						<nobr>
						<a href="javascript:showDiv('${attribute.name}${parameter.key}${value.id}PropertyLayer');"><img src="images/properties.gif" border="0"></a>
						<a href="ViewContentTypeDefinition!deleteAttributeParameterValue.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name&attributeParameterId=$parameter.key&attributeParameterValueId=$value.id&attributeToExpand=$attribute.name"><img src="images/delete.gif" border="0"></a>
						</nobr>
					</td>
				</tr>
				#end
				<tr>
					<td colspan="3"><a href="ViewContentTypeDefinition!insertAttributeParameterValue.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name&attributeParameterId=$parameter.key&attributeToExpand=$attribute.name">Add value</a></td>
				</tr>
				</table>
			#end
		</td>
	</tr>
	#end
	<tr>
		<td colspan="2">
			<img src="images/trans.gif" width="80" height="25" border="0">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="javascript:hideDiv('${attribute.name}PropertyLayer');"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>
	</table>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="currentContentTypeEditorViewLanguageCode" value="$!currentContentTypeEditorViewLanguageCode">
	<input type="hidden" name="attributeName" value="$attribute.name">
	<input type="hidden" name="attributeToExpand" value="${attribute.name}">
	</form>
</div>
#end

#set($categoryKeys = $definedCategoryKeys)
#set($categoryList = $allCategories)

#foreach($category in $categoryKeys)
#set($categoryKey = $category.value)
<div id="${categoryKey}PropertyLayer" style="border-style:solid; border-width:1px; background-color: white; LEFT:250px; position:absolute; TOP:250px; visibility:hidden; z-index:1">
	<form name="${categoryKey}PropertiesForm" action="ViewContentTypeDefinition!updateCategoryKey.action" method="POST">
	<table border="0" cellpadding="4" cellspacing="0">
	<tr>
		<td colspan="2" class="propertiesheader">Edit Category Attributes</td>
	</tr>
	<tr>
		<td colspan="2"><img src="images/trans.gif" height="5" width="1"></td>
	</tr>
	<tr>
		<td><b>Category Key</b></td>
		<td><input type="textfield" name="newCategoryKey" value="$categoryKey" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Title</b></td>
		<td><input type="textfield" name="title" value="$!category.title" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td><input type="textfield" name="description" value="$!category.description" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Base Category</b></td>
		<td>
			#addCategorySelect("categoryId" $categoryList $category.categoryId)
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/trans.gif" width="80" height="25" border="0">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="javascript:hideDiv('${categoryKey}PropertyLayer');"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>
	</table>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="categoryKey" value="$categoryKey">
	</form>
</div>
#end


#foreach($assetKey in $definedAssetKeys)
<div id="${assetKey}PropertyLayer" style="border-style:solid; border-width:1px; background-color: white; LEFT:250px; position:absolute; TOP:250px; visibility:hidden; z-index:1">
	<form name="${assetKey}PropertiesForm" action="ViewContentTypeDefinition!updateAssetKey.action" method="POST">
	<table border="0" cellpadding="4" cellspacing="0">
	<tr>
		<td colspan="2" class="propertiesheader">Edit AssetKey</td>
	</tr>
	<tr>
		<td colspan="2"><img src="images/trans.gif" height="5" width="1"></td>
	</tr>
	<tr>
		<td><b>Asset Key</b></td>
		<td><input type="textfield" name="newAssetKey" value="$assetKey" class="normaltextfield"></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/trans.gif" width="80" height="25" border="0">
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="javascript:hideDiv('${assetKey}PropertyLayer');"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>
	</table>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="assetKey" value="$assetKey">
	</form>
</div>
#end


<div class="fullymarginalized">

<form name="editForm" method="POST" action="UpdateContentTypeDefinition.action">
<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%">
<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
<input type="hidden" name="currentContentTypeEditorViewLanguageCode" value="$!currentContentTypeEditorViewLanguageCode">
<input type="hidden" name="schemaValue" value="$formatter.escapeHTML($!schemaValue)">
	<tr>
		<td>
			<p>
				#editTextField("ContentTypeDefinition.name" "name" $!name "51" "normaltextfield" "")<br>
				#selectField("ContentTypeDefinition.type" "type" $!type [["0", "Ordinary Content Type"], ["1", "Role Properties"], ["2", "User Properties"]])
			</p>
			<p>
				Attributes / Form elements - <a href="ViewContentTypeDefinition!useSimple.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title">Simple</a><br>
				<table width="500" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>
						<select size="1" name="inputTypeId" class="sitedropbox">
						    <option value="" selected>Choose element type</option>
						    <!--<option value="label">Label</option>-->
						    <option value="textfield">TextField</option>
						    <option value="textarea">TextArea</option>
						    <option value="checkbox">CheckBox</option>
						    <option value="radiobutton">RadioButton</option>
						    <option value="select">SelectBox</option>
						    <!--<option value="password">Password</option>-->
						    <!--<option value="image">SubmitImage</option>-->
						    <!--<option value="submit">SubmitButton</option>-->
						    <!--<option value="clear">ClearButton</option>-->
						</select>
					</td>
					<td width="70%">
						<a href="javascript:submitNewAttribute();"><img src="images/insertFormElement.gif" border="0"></a>
					</td>
					<td align="right">
						<select onChange="javascript:changeViewLanguage();" size="1" name="languageCode" class="sitedropbox">
						    <option value="">default</option>
							#foreach ($languageVO in $availableLanguages)
								#if($languageVO.languageCode == $!currentContentTypeEditorViewLanguageCode)
								<option value="$languageVO.getLanguageCode()" selected>$languageVO.getName()</option>
								#else
								<option value="$languageVO.getLanguageCode()">$languageVO.getName()</option>
								#end
							#end
						</select>
					</td>
				</tr>
				</table>
				<table width="500" cellpadding="0" cellspacing="2" border="0" class="bordered">
				#foreach($attribute in $contentTypeAttributes)
					#set($title = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode"))
					#set($title = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode"))

					<tr>
						<td><nobr><a href="ViewContentTypeDefinition!moveAttributeUp.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="images/moveUp.gif" border="0"></a><a href="ViewContentTypeDefinition!moveAttributeDown.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="images/moveDown.gif" border="0"></a></nobr></td>
						<td><img src="images/${attribute.inputType}Icon.gif"></td>
						<td width="90%">$attribute.name ($title) of type $attribute.inputType</td>
						<td>
							<nobr>
							<a href="javascript:showDiv('${attribute.name}PropertyLayer');"><img src="images/properties.gif" border="0"></a>
							<a href="ViewContentTypeDefinition!deleteAttribute.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="images/delete.gif" border="0"></a>
							</nobr>
						</td>
					</tr>
				#end
				</table>
			</p>
		</td>
	</tr>
</table>

<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%">
<tr>
	<td>
		<table width="500" cellpadding="0" cellspacing="2" border="0">
			<tr>
				<td align="left"><b>Defined Categories</b></td>
				<td align="right">
					<a href="ViewContentTypeDefinition!insertCategoryKey.action?contentTypeDefinitionId=$contentTypeDefinitionId">Add Category</a>
				</td>
			</tr>
		</table>
		<table width="500" cellpadding="0" cellspacing="2" border="0" class="bordered">
			<tr>
				<td width="45%"><b>Attribute (Key)</b></td>
				<td width="45%"><b>Base Category</b></td>
				<td/>
			</tr>
		#foreach($category in $categoryKeys)
			#set($categoryKey = $category.value)
			<tr>
				<td width="45%">$category.title ($categoryKey)</td>
				<td width="45%">$category.categoryName</td>
				<td>
					<nobr>
					<a href="javascript:showDiv('${categoryKey}PropertyLayer');"><img src="images/properties.gif" border="0"></a>
					<a href="ViewContentTypeDefinition!deleteCategoryKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&categoryKey=$categoryKey"><img src="images/delete.gif" border="0"></a>
					</nobr>
				</td>
			</tr>
		#end
		</table>
	</td>
</tr>
<tr>
	<td>&nbsp;</th>
</tr>
</table>

<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%">
<tr>
	<td>
		<table width="500" cellpadding="0" cellspacing="2" border="0">
			<tr>
				<td align="left"><b>Defined Asset Keys</b></td>
				<td align="right">
					<a href="ViewContentTypeDefinition!insertAssetKey.action?contentTypeDefinitionId=$contentTypeDefinitionId">Add Asset Key</a>
				</td>
			</tr>
		</table>
		<table width="500" cellpadding="0" cellspacing="2" border="0" class="bordered">
		#foreach($assetKey in $definedAssetKeys)
			<tr>
				<td><nobr><a href="ViewContentTypeDefinition!moveAssetKeyUp.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&assetKey=$assetKey"><img src="images/moveUp.gif" border="0"></a><a href="ViewContentTypeDefinition!moveAssetKeyDown.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&assetKey=$assetKey"><img src="images/moveDown.gif" border="0"></a></nobr></td>
				<td width="90%">$assetKey</td>
				<td>
					<nobr>
					<a href="javascript:showDiv('${assetKey}PropertyLayer');"><img src="images/properties.gif" border="0"></a>
					<a href="ViewContentTypeDefinition!deleteAssetKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&assetKey=$assetKey"><img src="images/delete.gif" border="0"></a>
					</nobr>
				</td>
			</tr>
		#end
		</table>
	</td>
</tr>
<tr>
	<td>&nbsp;</th>
</tr>
<tr>
	<td>
		<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25">
		<a href="javascript:saveAndExit(document.editForm, 'UpdateContentTypeDefinition!saveAndExit.action');"><img src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
		<a href="ViewListContentTypeDefinition.action"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
	</td>
</tr>
</table>
</form>
</div>

</body>
</html>


