<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.validation.header" "tool.managementtool.validation.header" "")

<div class="fullymarginalized">
<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
<form name="editForm" method="POST" action="InstallationValidator.action">
	<tr>
		<td>
		 	<p>$ui.getString("tool.managementtool.validation.introduction")</p>
		</td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type="image" src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25">
		</td>
	</tr>
</form>
</table>
</div>

</body>
</html>
