<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>My Settings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>

	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="managementtooledit">

<div class="fullymarginalized">

<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
<form name="editForm" method="POST" action="UpdateMySettings.action">
	<tr>
		<td class="biglabel">
			$ui.getString("tool.managementtool.mysettings.header")
		</td>
	</tr>
	<tr>
		<td>$ui.getString("tool.managementtool.mysettings.introduction")
	</tr>
	<tr>
		<td>
			$ui.getString("entity.Language.property.defaultLanguageCode.label")<br/>
			<select name="languageCode" class="sitedropbox" style="width: 100px;">
			#foreach($toolLocale in $toolLocales)
				<option value="$toolLocale.language" #if($languageCode == $toolLocale.language)selected="1"#end>$toolLocale.displayName</option>
			#end
			</select>
		</td>
	</tr>
	<tr>
		<td>
			$ui.getString("entity.Repository.property.defaultRepository.label")<br/>
			<select name="defaultRepositoryId" class="sitedropbox" style="width: 100px;">
			#foreach($repository in $repositories)
				<option value="$repository.id" #if($defaultRepositoryId == $repository.id)selected="1"#end>$repository.name</option>
			#end
			</select>
		</td>
	</tr>
	<tr>
		<td>	
			$ui.getString("tool.managementtool.mysettings.defaultToolId.label")<br/>
			<select class="sitedropbox" name="defaultToolId">
				#if($this.hasAccessTo("ContentTool.Read"))
				<option value="0" #if($defaultToolId == "0")selected="1"#end>$ui.getString("tool.common.contentTool.name")</option>
				#end
				#if($this.hasAccessTo("StructureTool.Read"))
				<option value="1" #if($defaultToolId == "1")selected="1"#end>$ui.getString("tool.common.structureTool.name")</option>
				#end
				#if($this.hasAccessTo("ManagementTool.Read"))
				<option value="2" #if($defaultToolId == "2")selected="1"#end>$ui.getString("tool.common.managementTool.name")</option>
				#end
				#if($this.hasAccessTo("PublishingTool.Read"))
				<option value="3" #if($defaultToolId == "3")selected="1"#end>$ui.getString("tool.common.publishingTool.name")</option>
				#end
				#if($this.hasAccessTo("MyDesktopTool.Read"))
				<option value="4" #if($defaultToolId == "4")selected="1"#end>$ui.getString("tool.common.myDesktopTool.name")</option>
				#end
			</select>				
		</td>
	</tr>
	<tr>
		<td>
			<a href="UpdateSystemUserPassword!inputStandalone.action?userName=$infoGluePrincipal.name&returnAddress=ViewMySettings.action">Change password</a>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25">
			<a href="javascript:self.opener.top.location.href='ViewCMSTool.action?languageCode=$languageCode'; window.close();"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>
</form>
</table>
</div>

</body>
</html>


