<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewMessageCenter.header" "tool.managementtool.viewMessageCenter.header" "")

<script src="script/ajaxchat/scripts.js" language="JavaScript" type="text/javascript"></script>

<div class="fullymarginalized" style="color: black;">


	<h3>$ui.getString("tool.managementtool.messages.header"):</h3>
	<div id="outputList" style="width:80%; height: 300px; overflow: auto; border: 1px solid #333333; background-color: white;"></div>
	<p>
		$ui.getString("tool.managementtool.yourMessage.label"):
		<form id="chatForm" name="chatForm" onsubmit="return false;" action=""> 
		  	<input type="textfield" id="message" name="message"/>
		  	<input type="checkbox" id="isSystemMessage" name="isSystemMessage" value="true"/> $ui.getString("tool.managementtool.isSystemMessage.label")<br/>
		  	<input id="submit" type="button" value="$ui.getString("tool.managementtool.sendMessage.label")" onclick="sendComment();"/>
	  	</form>
	</p>

#endManagementTool()
