<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewDiagnosticCenter.header" "tool.managementtool.viewDiagnosticCenter.header" "")

<div class="fullymarginalized" style="color: black;">

	<h3>$ui.getString("tool.managementtool.deliverApplicationState.header"):</h3>
	<h4>Internal:</h4>
	#foreach($url in $internalDeliverUrls)
		<a href="$url/ViewApplicationState.action">$url</a><br/>
	#end
	
	<h4>Public:</h4>
	#foreach($url in $publicDeliverUrls)
		<a href="$url/ViewApplicationState.action">$url</a><br/>
	#end
	
#endManagementTool()
