<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewSystemUserPasswordDialog.header" "tool.managementtool.viewSystemUserPasswordDialog.header" "userName=$formatter.encodeURI($userName)")

<div class="fullymarginalized">
<form method="POST" name="editForm" action="UpdateSystemUserPassword.action">
<table>
	<tr>
		<td>#editField("SystemUser.oldPassword" "oldPassword" "$!oldPassword" "51")</td>
	</tr>		
	<tr>
		<td>#editField("SystemUser.newPassword" "newPassword" "$!newPassword" "51")</td>
	</tr>
	<tr>
		<td>#editField("SystemUser.verifiedNewPassword" "verifiedNewPassword" "$!verifiedNewPassword" "51")</td>
	</tr>
	
	#set($infogluePrincipalId = $formatter.encodeURI($userName)) 
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>	
		<input type="hidden" name="userName" value="$!userName">
		<input type="hidden" name="returnAddress" value="$!returnAddress">
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="ViewSystemUser.action?userName=$infogluePrincipalId"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
	</tr>
</table>
</form>
</div>

</body>
</html>
