<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("Repository properties" "Repository properties" "repositoryId=$repositoryId")

<div class="fullymarginalized">

<table class="managementtooledit" cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
<form name="editForm" method="POST" action="ViewRepositoryProperties!save.action">
	<tr>
		<td>
			<p>#editTextArea("Repository.property.WYSIWYGConfig" "WYSIWYGConfig" $!WYSIWYGConfig "50" "10" "normaltextarea")</p>
			<p>
				$ui.getString("entity.Repository.property.defaultFolderContentTypeName.label")<br/>
				<select class="siteNodetypes" name="defaultFolderContentTypeName">
				#foreach ($contentTypeDefinitionVO in $contentTypeDefinitionVOList)
					<option value="$contentTypeDefinitionVO.getName()" #if($defaultFolderContentTypeName == $contentTypeDefinitionVO.getName())selected="1"#end>$contentTypeDefinitionVO.getName()</option>
				#end
				</select>				
			</p>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25">
			<a href="javascript:saveAndExit(document.editForm, 'ViewRepositoryProperties!saveAndExit.action');"><img src="$ui.getString("images.managementtool.buttons.saveAndExit")" width="80" height="25" border="0"></a>
			<a href="ViewRepository.action?repositoryId=$repositoryId"><img src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25" border="0"></a>
		</td>
	</tr>

<input type="hidden" name="repositoryId" value="$!repositoryId">
</form>
</table>
</div>

</body>
</html>


