<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewRepository.header" "tool.managementtool.viewRepository.header" "")
<div class="fullymarginalized">
<body class="managementtool">
	<table cellpadding="2" cellspacing="2" border="0" width="100%" height="30">
		<tr>
			<td>$ui.getString("entity.Repository.name.label"): <a href="ViewRepository.action?repositoryId=$repositoryId">$name</a></td>
		</tr>
		<tr>
			<td colspan="3" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td>
				$ui.getString("entity.Repository.description.label"): $description
			</td>
		</tr>
		<tr>
			<td>
				$ui.getString("entity.Repository.dnsName.label"): $dnsName
			</td>
		</tr>
	</table>
	<table cellpadding="2" cellspacing="2" width="100%">
		<tr>
			<td colspan="3" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td>
				<strong>The following languages are assigned to this site:</strong>
			</td>
		</tr>
		<tr>
			<td>
				<table>
					#foreach ($availableLanguageVO in $availableLanguages)
						<tr><td><li>$availableLanguageVO.getName() ($availableLanguageVO.getLanguageCode())</td></tr>
					#end
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
	</table>
	<table cellpadding="2" cellspacing="2" width="100%">	
		<tr>
			<td>
				<strong>The following roles has access to this site:</strong>
			</td>
		</tr>
		<tr>
			<td>
				<table>
					#foreach ($roleVO in $roles)
						<tr><td><li>$roleVO.getName()</td></tr>
					#end
				</table>

			</td>
		</tr>
		</table>
		<table cellpadding="2" cellspacing="2">
		<tr>
			<th width="200" align="left">&nbsp;</th>
		</tr>
		<tr>
			<td>
				<table>
					<td width="200" align="left"><a href="ViewRepository!localView.action?repositoryId=$repositoryId">Edit site</a></td>
					<td width="200" align="left"><!--<a href="ViewRepository.action?repositoryId=$repositoryId">Preview site</a>--></td>									
				</table>
			</td>	
		</tr>
	</table>

</div>
</body>
</html>
