/*
Component Properties Classes
*/
#componentPropertiesForm fieldset
{
	border: 1px solid #cccccc;
	float: left;
	margin: 4px;
	width: 90%;
	padding: 4px;
}

#componentPropertiesForm fieldset legend
{
	color: #000000;
	background: #c6d3e7;
	border: 1px solid #cccccc;
	padding: 2px;
	margin-bottom: 8px;
	font-size: 10px;
	font-family: Verdana, Arial, San serif;
}

.propertyRow
{
	margin: 0px;
	padding-bottom: 4px;
	float: left;
	clear: both;
	font-family: Verdana, Arial, San serif;
	font-size: 8pt;
	awidth: 100%;
}

#componentPropertiesForm fieldset p
{
	aline-heigh: 12px;
	margin: 0px;
	padding-bottom: 4px;
	float: left;
	aborder: 1px solid brown;
	clear: both;
	font-family: Verdana, Arial, San serif;
	font-size: 8pt;
}
#componentPropertiesForm fieldset div label
{
	width: 80px;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
	font-weight: bold;
}
#componentPropertiesForm fieldset div select
{
	background: white;
	border: 1px solid #cccccc;
	width: 140px;
	aclear: both;
}
#componentPropertiesForm fieldset div input
{
	background: white;
	border: 1px solid #cccccc;
	width: 230px;
}
#componentPropertiesForm fieldset div textarea
{
	background: white;
	border: 1px solid #cccccc;
	width: 230px;
	height: 60px;
}
#componentPropertiesForm fieldset .buttonRow
{
	padding-top: 5px;
}


/* 
Component palette classes
*/

#paletteDiv {
	position:absolute; 
	background-color:#F4F4F4;
	font-family:verdana, sans-serif;
	font-size:10px;
	z-index:1000001;
	height:80px; 
	width:100%; 
	left:0px; 
	top:0px;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	line-height:100%;
	}
#paletteHandle {
	padding-top:2px;
	padding-bottom:2px;
	color:white;
	overflow:hidden;
	line-height:10px;
	background-color:navy;
	font-family:verdana, sans-serif;
	font-size:10px;
	width:100%; 
	height:10px; 
	}

#leftPaletteHandle {
	width: 150px; 
	float: left;
	color:white;
	text-align: left;
	line-height:10px;
	}
#leftPaletteHandleCompProps {
	width: 350px; 
	float: left;
	color:white;
	text-align: left;
	line-height:10px;
	}
#rightPaletteHandle {
	color:white;
	text-align: right;
	line-height:10px;	
	}
#paletteHeader {
	padding-top:2px;
	padding-bottom:2px;
	width:244px;
	font-family:verdana, sans-serif;
	font-size:10px;
	height: 30px;
	}
#statusListBg {
	position:absolute; 
	top:65px; 
	left:0px; 
	border-bottom: 1px solid gray; 
	background:#CCCCCC; 
	width:100%; 
	height:15px;
	}
#paletteBody {
	padding-top:2px;
	padding-bottom:2px;
	font-family:verdana, sans-serif;
	font-size:10px;
	overflow: auto;
	background-color: #999999; 
	height:30px; 
	width:100%; 
	left:0px; 
	top:0px;
	}
.tabPanel {
	position:absolute; 
	width:100%; 
	height: 24px;
	overflow: hidden;
	}
.thistab
 {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: bold;
	text-align:center;
	color: #000000;
	background:#cccccc;
	border-top: solid thin white;
	border-right: solid thin none;
	border-left: solid thin white;
	border-bottom: solid 0px white;
	cursor:pointer;
	visibility:inherit;
	z-index:1;
	overflow: auto;
	white-space: nowrap;
	padding:0px 4px 0px 4px;
	}
.igtab
 {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: normal;
	text-align:center;
	background:#999999;
	color: #000000;
	border-top: solid 1px black;
	border-right: none 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px white;
	cursor:pointer;
	visibility:inherit;
	z-index:20;
	overflow: auto;
	space: nowrap;
	padding:0px 4px 0px 4px;
	}
.igpalettetd {
	background-color: #CCCCCC;
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid blue;
}
.igpalettetd:hover {
	background-color: #CCCCCC;
	color			: #000000;
}
.igmenuitems {
	padding-left:31px;
	padding-right:11px;
	padding-top:3px;
	padding-bottom:3px;
}
/*
This can be replaced by componentEditor.js:highighi5 and lowlighti5
when explorer get better support for hover.
.igmenuitems:hover {
	background-color: #B6BDD2;
	border:1px solid black;
	}
*/

.menudivider {
	height: 1px;
	text-align: right;
	margin: 0 0 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.draggableItem {
	font-family:verdana, sans-serif;
	font-size:10px;
	white-space: nowrap;
	}
.components {
	text-align: center;
	background: #CCCCCC;
	border-left: solid 1px white;
	border-bottom: solid 1px black;
	left:0px;
	width:100%;
	height:30px;
	cursor:pointer;
	white-space: nowrap;
	visibility:inherit;
}
.component {
	text-align:center;
	background:#CCCCCC;
	cursor:pointer;
	white-space: nowrap;
	padding:0px 4px 0px 4px;
	visibility:inherit;
}
.componentsBackground {
 	border-bottom: 1px solid gray; 
 	background:#CCCCCC; 
 	width:100%; 
 	height:24px; 
 	position:absolute; 
 	top:50px; 
 	left:10px; 
 	visibility: inherit;
}
.componentsStatus {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: normal;
	border-bottom: solid 1px black;
	border-top: solid thin gray;
	position:absolute; 
	z-index:2; 
	width:100%; 
	top:60px; 
	left:0px; 
	height:16px; 
	visibility:visible;
	background:#CCCCCC;
}
.componentsStatusText {
	font-family:verdana,arial,helvetica;
	font-size:7pt;
	font-weight: normal;
}


/*
Buffer
*/

#buffer { 
	position:	absolute;
	z-index:	1000003;
	height:		1em;
	width:		1em;
	background:	#777777;
	border: 	0px solid black;
	color:		#ffffff;
	visibility:	hidden; 
	top:		0px;
	left:		0px;
}
	
/* 
Other classes
*/
	
/*	
.siteBody {
	position: absolute; 
	border: 0px solid blue; 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	}
*/

/* 
Page components classes
*/
	
#pageComponents {
	position:absolute;
	width:250px;
	background-color:#F4F4F4;
    border:1px solid #333333;
	z-index:1000002;
	right:5px;
	top:100px;
	height: 400px;
	}

#pageComponentsHandle {
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	color:white;
	background-color:navy;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

#pageComponentsBody {
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	font-family:verdana, sans-serif;
	font-size:10px;
	height: 380px;
	overflow: auto;
	}


/*
Edit on sight classes
*/

.skin0 {
	position:absolute;
	z-index:1000004;
	text-align:left;
	width:350px;
	background-color:#F9F8F7;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height:20px;
	cursor:default;
	visibility:hidden;
}
.skin1 {
	cursor:default;
	position:absolute;
	z-index:1000004;
	text-align:left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:160px;
	overflow: hidden;
	background-color:#F9F8F7;
	background-image: url('../images/contextBackground.gif');
	background-repeat: repeat-y;
	border:1px solid #666666;
	visibility:hidden;
}
/*
.igAddComponent {
	background-color:#F9F8F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
*/

/*
Properties classes
*/

.componentProperties {
	position:absolute;
	awidth:450px;
	background-color:#F4F4F4;
	border:1px solid #333333;
	z-index:1000003;
	aright:5px;
	top:100px;
	}

.componentPropertiesHandle {
	margin:2px;
	padding:2px;
	awidth:440px;
	color:white;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url('../images/handleBackground.gif');
	}

#componentPropertiesBody {
	margin:2px;
	padding:2px;
	awidth:440px;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

.igPropertiesTable {
	border:0px solid #FFFFFF;
	text-align: left;
	width: 100%;
	height: 10px;
}
.igtable {
	text-align: left;
	height: 10px;
	border:0px solid #FFFFFF;
}
.igtr {
	border:0px solid #FFFFFF;
	text-align: left;
}
.igtr:hover {
	background-color: #F9F9F9;
	color			: #000000;
}
.igtd {
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid red;
	line-height: 10px;
}
.igtd:hover {
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid red;
}
.componentEditorLink {
	font-family	     : verdana, arial, sans-serif;
	font-size        : 8pt;
	color		 	 : #333333;
}
.igpropertylabel {
	text-align 	 	 : left;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	color		 	 : #333333;
	font-weight		 : bold;
	border	 		 : 0px solid #FFFFFF;
	width			 : 40%;
}
.igpropertyvalue {
	text-align	 	 : left;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	color		 	 : #333333;
	background		 : #FFFFFF;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width			 : 40%;
}

td.propertiesheader {	
	font-family 	 : Verdana; 
	font-size		 : 12pt;
	font-weight		 : bold;
	height			 : 16px;
	background-color : #E3ECF8;
	border-style     : solid; 
	border-width     : 1px;
	border-color     : black;
}

td.label {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-weight		 : bold;
	color		 	 : #333333;
}

td.value {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	color		 	 : #333333;
}

/*
Slot classes
*/

.emptyslot {
	font-family      : verdana, arial, sans-serif;
	font-size        : 10pt;
	color		 	 : #333333;
}
.filledslot {
	font-family      : verdana, arial, sans-serif;
	font-size        : 10pt;
	color		 	 : #333333;
}
.inheritedslot {
}
.inheritedComponentDiv {
    border			 : dotted 0px #0070FF;
}
.inheritedComponentDiv:hover {
    border 			 : solid 0px red;
}
.componentDiv {
    border			 : dotted 0px #0070FF; 
}
.componentDiv:hover {
    border 			 : solid 0px red;
}

input.normaltextfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 300px;
}

input.propertytextfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 200px;
}
.propertytextarea {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 200px;
	height			 : 150px;
}
select.propertyselect {
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
}

.inheritedOverlay
{
 	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	color		 	 : #333333;
    position:relative;
	visibility:visible;
	z-index:10;
	width:100%;
	text-align: center;
	vertical-align: middle;
	height:10px;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #000000;
}
.inherited
{
    position: relative;
	visibility:visible;
	z-index:1;
	width:100%;
}
	
tr.lightyellow {
	background-color : #FEF8D0;
	height 			 : 14pt;
}

tr.white {
	background-color : #FFFFFF;
	height 			 : 14pt;
}

.smalllabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	}

.smallwhitelabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	color:white;
	}

a.white {
    text-decoration:none;
    color: white;
	font-size:10px;
    }
a.white:visited {
    text-decoration:none;
    color: white;
	font-size:10px;
    }
a.white:hover {
	text-decoration:underline;
	}
a.white:active {
	font-weight: bold;
	}

.boldsmalllabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:bold;
	}
	
.slot {
	border:0px solid #333333;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

.iglabel {
	margin:0px;
	padding:0px;
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
	height:12px;
	}
select.mediumdrop {
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
}

.clickableLabel {
	margin:0px;
	padding:0px;
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:underline;
	color:blue;
	height:12px;
	white-space: nowrap;
	}
.acomponentsBackground {
	border: 0px solid red; 
	border-left: solid thin white;
	position:absolute; 
	z-index:2; 
	width:2000px; 
	top:20px; 
	left:0px; 
	height:30px; 
	clip:rect(0px 10px 10px 0px); 
	visibility:inherit;
}

.tooltipDiv {
	border: 1px solid black; 
	background-color: white; 
	padding: 4px; 
	width: 200px; 
	display: block; 
	visibility: hidden; 
	z-index: 200000; 
	position: absolute; 
	font-size: 8pt; 
	font-family: Verdana; 
	font-weight:normal;
	color: black;
}