<!-- ************* -->
<!-- body elements -->
<!-- ************* -->

body { 
	color            : #123456;
	background-color : #666666;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
}
body.cmstool {
	color            : #FFFFFF;
	background-color : #666666;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
}

body.managementtool {
	background-color : #C2D0E2;
}

body.managementtooledit {
	background-color : #E3ECF8;
}

body.contenttool {
	background-color : #C7D1B3;
}

body.contenttooledit {
	background-color : #EEF7DC;
}

body.structuretool {
	background-color : #F0E1B4;
}

body.structuretooledit {
	background-color : #FEF8D0;
}

body.publishingtool {
	background-color : #D2CBBC;
}

body.publishingtooledit {
	background-color : #ECE6D9;
}
body.mydesktoptool {
	background-color : #DFDA5E;
}

body.mydesktoptooledit {
	background-color : #DFDA5E;
}


<!-- ************* -->
<!-- table elements -->
<!-- ************* -->

table.managementtoolleveraged {
	background-color : #C2D0E2;
	border-style	 : outset;
	border-width	 : 1px;
	width			 : 100%;
}

table.managementtooledit {
	background-color : #E3ECF8;
}

<!--
table.contenttool {
	background-color : #C7D1B3;
}
table.contenttooledit {
	background-color : #EEF7DC;
}
-->

td.bordered {
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
}

tr.managementtoolleveraged {
	background-color : #C2D0E2;
	border-style	 : outset;
	border-width	 : 1px;
	width			 : 100%;
}
tr.darkbrown {
	background-color : #D2CBBC;
	height 			 : 14pt;
}

tr.darkblue {
	background-color : #C2D0E2;
	height 			 : 14pt;
}
tr.darkgreen {
	background-color : #C7D1B3;
	height 			 : 12pt;
}
tr.darkyellow {
	background-color : #F0E1B4;
	height 			 : 14pt;
}
tr.lightbrown {
	background-color : #ECE6D9;
	height 			 : 14pt;
}
tr.lightblue {
	background-color : #E3ECF8;
	height 			 : 14pt;
}
tr.lightgreen {
	background-color : #EEF7DC;
	height 			 : 14pt;
}
tr.lightyellow {
	background-color : #FEF8D0;
	height 			 : 14pt;
}
tr.white {
	background-color : #FFFFFF;
	height 			 : 14pt;
}
tr.dark {
	background-color : #999999;
	height 			 : 14pt;
}

tr.markedlightblue {
	background-color : #FFCC66;
	height 			 : 14pt;
}

tr.markedlightgreen {
	background-color : #FFCC66;
	height 			 : 14pt;
}

tr.markedwhite {
	background-color : #FFCC66;
	height 			 : 14pt;
}

tr.markedlightbrown {
	background-color : #FFCC66;
	height 			 : 14pt;
}

tr.hilightblue {
	background-color : #FFF5CC;
	height 			 : 14pt;
}
tr.hiwhite {
	background-color : #FFF5CC;
	height 			 : 14pt;
}

tr.hilightbrown {
	background-color : #FFF5CC;
	height 			 : 14pt;
}

tr.highlightedAttribute {
	background-color : #3673FF;
	aheight 	     : 14pt;
}

table.bordered {	
	border-style     : solid; 
	border-width     : 1px;
	border-color     : black;
}

td {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
}
td.white {
	background-color : #FFFFFF;
}
td.dark {
	background-color : #999999;
}

td.whitelabel {
	font-family      : verdana, arial, sans-serif;
	font-size        : 10pt;
	font-color		 : #FFFFFF;
}
td.cmstool {
	color            : #FFFFFF;
	background-color : #666666;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
}
td.toolheader {
	font-size        : 8pt;
}
td.darkblue {
	background-color : #C2D0E2;
}
td.lightblue {
	background-color : #F5F8FB;
}
td.darkbrown {
	background-color : #D2CBBC;
}
td.listwhite {
	background-color : #FFFFFF;
}
td.biglabel {
	font-size        : 10pt;
	font-weight		 : bold;
}
td.smalllabel {
	font-size        : 8pt;
	font-weight	     : bold;
}
td.actionheader {	
	font-family 	 : Verdana; 
	font-size		 : 8pt;
	font-weight		 : bold;
	height			 : 22px;
	padding-left	 : 5px;
}
td.titleField {	
	font-family 	 : Verdana; 
	font-size		 : 10pt;
	font-weight		 : bold;
	height			 : 18px;
	padding-left	 : 10px;
	aborder: 1px solid red;
}
td.propertiesheader {	
	font-family 	 : Verdana; 
	font-size		 : 12pt;
	font-weight		 : bold;
	height			 : 16px;
	background-color : #E3ECF8;
	border-style     : solid; 
	border-width     : 1px;
	border-color     : black;
}

td.listheader {	
	font-family 	 : Verdana; 
	font-size		 : 8pt;
	font-weight		 : normal;
	font-height 	 : 15px;
	height			 : 20px;
}
td.managementtool {
	background-color : #F5F8FB;
}
td.menu {
	valign 			 : top;	
	font-size		 : 8pt;
}
.warningText {
	font-family 	 : Verdana; 
	font-size		 : 8pt;
	font-weight		 : normal;
	color            : #FF0000;
}

<!-- ************* -->
<!-- form elements -->
<!-- ************* -->

select {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
}

input.text {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
}

input.normaltextfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 300px;
}

input.longtextfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 500px;
}

input.date {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 115px;
}

input.searchfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color	 : #000000;	
	width            : 200px;
}
select.yesNoDropBox{
	width            : 70px;
}
select.sitedropbox {
	width            : 150px;
}
select.contenttypes {
	width            : 300px;
}

select.dropbox {
	width            : 200px;
}
select.mediumdrop {
	width            : 142px;
}

textarea.smalltextarea {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #C2D0E2;
	width            : 500px;
	height			 : 100px;
}

textarea.normaltextarea {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #C2D0E2;
	width            : 500px;
	height			 : 200px;
}

textarea.largetextarea {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #C2D0E2;
	width            : 500px;
	height			 : 200px;
}
textarea.greedytextarea {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #C2D0E2;
	width            : 700px;
	height           : 600px;
}

<!-- ************* -->
<!-- other elements -->
<!-- ************* -->
select.contenttool {
	background-color : #C7D1B3;
}

div.leftmarginalized {
	margin-left		 : 15px;
	width 			 : 100%;	
}
div.leftminormarginalized {
	margin-left		 : 5px;
}
div.minormarginalized {
	margin-left		 : 5px;
	margin-right	 : 5px;
}

adiv.fullymarginalized {
	margin-left		 : 15px;
	margin-right     : 15px;
	margin-top		 : 15px;
	width 			 : 100%;	
}

div.fullymarginalized {
	height			 : 100%;
	padding-left	 : 15px;
	padding-right    : 15px;
	padding-top		 : 15px;
	awidth 			 : 100%;	
}

div.listmarginalized {
	margin-left		 : 0px;
	margin-right     : 0px;
	margin-top		 : 0px;
	width 			 : 100%;	
}

div.attributedetails {
	margin-left		 : 10px;
	margin-right     : 10px;
	margin-top		 : 10px;
	background-color: white; 
	width:400px; 
	height:300px; 
	LEFT:150px; 
	position:absolute; 
	TOP:150px; 
	visibility:hidden; 
	z-index:0
}
 
img.bordered {
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #000000;
}
img.scaledbordered {
	border-style	 : solid;
	border-width	 : 1px;
	border-color     : #000000;
}


<!-- ************* -->
<!-- Links -->
<!-- ************* -->
a.smalllabel {
	font-size        : 8pt;
	font-weight	     : normal;
}
a.whitelabel {
	COLOR: #FFFFFF;
	font-color		 : #FFFFFF;
}

A 
{
  text-decoration:none;
  COLOR: 0022AA;
}
A:hover
{
    text-decoration:underline;
}
A:active
{
	font: bold;
}

<!-- MENU // SS -->
.menucanvas { background-color:#EEEEEE;
	border-left: 1px solid #666666; border-right: 1px solid #666666; border-top: 1px solid #666666; border-bottom: 1px solid #666666;
}
.menuitem {
	font-family:verdana, sans-serif;
	font-size:10px;
	color:#000000;
	cursor:hand;
}
.menusplit{
	font-family:verdana, sans-serif;
	font-size:1px;
	border-bottom: 1px solid #666666; 
}
.menuitemhov {
	background-color:#316AC5;
	font-family:verdana, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	cursor:hand;
}
