#paletteDiv {
	position:absolute; 
	background-color:#F4F4F4;
	font-family:verdana, sans-serif;
	font-size:10px;
	aborder:1px solid #333;
	z-index:1000001;
	height:80px; 
	width:100%; 
	left:0px; 
	top:0px;
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	line-height:100%;
	}

#paletteHandle {
	padding-top:2px;
	padding-bottom:2px;
	color:white;
	background-color:navy;
	font-family:verdana, sans-serif;
	font-size:10px;
	width:100%; 
	height:10px; 
	}

#leftPaletteHandle {
	width: 150px; 
	float: left;
	apadding:1px 1px 1px 1px;
	color:white;
	text-align: left;
	}
#rightPaletteHandle {
	awidth: 50px; 
	afloat: right;
	apadding:1px 1px 1px 1px;
	color:white;
	text-align: right;
	}
#paletteHeader {
	padding-top:2px;
	padding-bottom:2px;
	width:244;
	font-family:verdana, sans-serif;
	font-size:10px;
	height: 30px;
	}

#statusListBg {
	position:absolute; 
	top:65px; 
	left:0px; 
	border-bottom: 1px solid gray; 
	aborder-left: 1px solid white; 
	background:#CCCCCC; 
	width:100%; 
	height:15px;
	}
	
.siteBody {
	position:absolute; 
	border: 0px solid blue; 
	margin: 0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	}

.tabPanel {
	position:absolute; 
	width:100%; 
	height: 24px;
	overflow: hidden;
	}

#paletteBody {
	padding-top:2px;
	padding-bottom:2px;
	font-family:verdana, sans-serif;
	font-size:10px;
	overflow: auto;
	background-color: #999999; 
	height:30px; 
	width:100%; 
	left:0px; 
	top:0px;
	}

#pageComponents {
	position:absolute;
	width:250px;
	background-color:#F4F4F4;
    border:1px solid #333333;
	z-index:1000002;
	right:5px;
	top:100px;
	height: 400px;
	}

#pageComponentsHandle {
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	color:white;
	background-color:navy;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

#pageComponentsBody {
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	font-family:verdana, sans-serif;
	font-size:10px;
	height: 380px;
	overflow: auto;
	}
	
#buffer { 
	position:	absolute;
	z-index:	1000003;
	height:		1em;
	width:		1em;
	background:	#777777;
	border: 	0px solid black;
	color:		#ffffff;
	visibility:	hidden; 
	top:		0px;
	left:		0px;
}

.skin0 {
	position:absolute;
	z-index:1000004;
	text-align:left;
	width:350px;
	//background-color:menu;
	background-color:#F9F8F7;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height:20px;
	cursor:default;
	visibility:hidden;
}
.skin1 {
	cursor:default;
	font:menutext;
	position:absolute;
	z-index:1000004;
	text-align:left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width:140px;
	background-color:#F9F8F7;
	background-image: url('../images/contextBackground.gif');
	background-repeat: repeat-y;
	border:1px solid #666666;
	visibility:hidden;
}
.igmenuitems {
	padding-left:30px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}
.menudivider {
	aborder: 1px solid #666666;
	height: 1px;
	//color: #666666;
	awidth: 100px;
	text-align: right;
	margin: 0 0 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.igPropertiesTable {
	border:0px solid #FFFFFF;
	text-align: left;
	width: 100%;
	height: 10px;
}
.igtable {
	abackground-color: red;
	text-align: left;
	height: 10px;
	border:0px solid #FFFFFF;
}
.igtr {
	border:0px solid #FFFFFF;
	text-align: left;
}
.igtr:hover {
	background-color: #F9F9F9;
	color			: #000000;
}
.igpalettetd {
	background-color: #CCCCCC;
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid blue;
	awidth:1px;
}
.igpalettetd:hover {
	background-color: #CCCCCC;
	color			: #000000;
}
.igtd {
	abackground-color: blue;
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid red;
	awidth:1px;
}
.igtd:hover {
	abackground-color: blue;
	text-align: left;
	height: 10px;
	vertical-align: top;
	border:0px solid red;
	awidth:1px;
}
.componentEditorLink {
	font-family	     : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
	color			 : navy;
}
.igpropertylabel {
	abackground-color : white;
	text-align 	 	 : left;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
	font-weight		 : bold;
	border	 		 : 0px solid #FFFFFF;
	width			 : 40%;
}
.igpropertyvalue {
	text-align	 	 : left;
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
	background		 : #FFFFFF;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width			 : 40%;
}

td.propertiesheader {	
	font-family 	 : Verdana; 
	font-size		 : 12pt;
	font-weight		 : bold;
	height			 : 16px;
	background-color : #E3ECF8;
	border-style     : solid; 
	border-width     : 1px;
	border-color     : black;
}

td.label {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-weight		 : bold;
	font-color		 : #333333;
}

td.value {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
}

.emptyslot {
	font-family      : verdana, arial, sans-serif;
	font-size        : 10pt;
	font-color		 : #333333;
}
.filledslot {
	font-family      : verdana, arial, sans-serif;
	font-size        : 10pt;
	font-color		 : #333333;
}
.inheritedslot {
}
.inheritedComponentDiv {
    border			 : dotted 0px #0070FF;
}
.inheritedComponentDiv:hover {
    border 			 : solid 0px red;
}
.componentDiv {
    border			 : dotted 0px #0070FF; 
}
.componentDiv:hover {
    border 			 : solid 0px red;
}

input.normaltextfield {
	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #C2D0E2;
	width            : 300px;
}

.inheritedOverlay
{
 	font-family      : verdana, arial, sans-serif;
	font-size        : 8pt;
	font-color		 : #333333;
    position:relative;
	visibility:visible;
	z-index:10;
	width:100%;
	text-align: center;
	vertical-align: middle;
	height:10px;
	//filter:glow;
	border-style	 : solid;
	border-width	 : 1px;	
	border-color     : #000000;
}
.inherited
{
    position: relative;
	atop: -15px;
	abottom: -15px;
	aleft: 0px;
	visibility:visible;
	z-index:1;
	width:100%;
	filter:gray;
}
	
.draggableItem {
	font-family:verdana, sans-serif;
	font-size:10px;
	space: nowrap;
	}

tr.lightyellow {
	background-color : #FEF8D0;
	height 			 : 14pt;
}

tr.white {
	background-color : #FFFFFF;
	height 			 : 14pt;
}

.smalllabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	}

.smallwhitelabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	color:white;
	}

A.white {
    text-decoration:none;
    COLOR: white;
	font-size:10px;
    }
A.white:hover {
	text-decoration:underline;
	}
A.white:active {
	font: bold;
	}

.boldsmalllabel {
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:bold;
	}
	
.componentProperties {
	position:absolute;
	width:350px;
	background-color:#F4F4F4;
	border:1px solid #333333;
	z-index:1000003;
	right:5px;
	top:100px;
	}

.componentPropertiesHandle {
	margin:2px;
	padding:2px;
	width:340px;
	color:white;
	background-color:navy;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

#componentPropertiesBody {
	margin:2px;
	padding:2px;
	width:340px;
	font-family:verdana, sans-serif;
	font-size:10px;
	}
	
.slot {
	border:0px solid #333333;
	font-family:verdana, sans-serif;
	font-size:10px;
	}

.iglabel {
	margin:0px;
	padding:0px;
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
	height:12px;
	}
select.mediumdrop {
	awidth : 142px;
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
}

.clickableLabel {
	margin:0px;
	padding:0px;
	font-family:verdana, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:underline;
	color:blue;
	height:12px;
	space: nowrap;
	}
.thistab
 {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: bold;
	text-align:center;
	color: #000000;
	background:#cccccc;
	border-top: solid thin white;
	border-right: solid thin none;
	border-left: solid thin white;
	border-bottom: solid 0px white;
	cursor:pointer;
	visibility:inherited;
	z-index:1;
	overflow: auto;
	space: nowrap;
	padding:0px 4px 0px 4px;
	}
.tab
 {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: normal;
	text-align:center;
	background:#999999;
	color: #000000;
	border-top: solid 1px black;
	border-right: none 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px white;
	cursor:pointer;
	visibility:inherited;
	z-index:20
	overflow: auto;
	space: nowrap;
	padding:0px 4px 0px 4px;
	}

.acomponentsBackground {
	border: 0px solid red; 
	aborder-right: solid 1px none;
	border-left: solid thin white;
	position:absolute; 
	z-index:2; 
	width:2000px; 
	top:20px; 
	left:0px; 
	height:30px; 
	clip:rect(0px 10px 10px 0px); 
	visibility:inherited;
}	
.components {
	text-align: center;
	background: #CCCCCC;
	border-left: solid 1px white;
	aborder-right: solid 1px white;
	border-bottom: solid 1px black;
	left:0px;
	atop:20px;
	width:100%;
	height:30px;
	cursor:pointer;
	space: nowrap;
	visibility:inherited;
}
.component {
	text-align:center;
	background:#CCCCCC;
	cursor:pointer;
	space: nowrap;
	padding:0px 4px 0px 4px;
	visibility:inherited;
}
.componentsBackground {
 	border-bottom: 1px solid gray; 
 	aborder-left: 1px solid white; 
 	aborder-right: 0px solid red; 
 	background:#CCCCCC; 
 	width:100%; 
 	height:24px; 
 	position:absolute; 
 	top:50px; 
 	left:10px; 
 	visibility: inherited;
}
.componentsStatus {
	font-family:verdana,arial,helvetica;
	font-size:8pt;
	font-weight: normal;
	aborder-right: 1px solid black;
	aborder-left: thin solid white;
	border-bottom: solid 1px black;
	border-top: solid thin gray;
	position:absolute; 
	z-index:2; 
	width:100%; 
	top:60px; 
	left:0px; 
	height:16px; 
	visibility:visible;
	background:#CCCCCC;
}
.componentsStatusText {
	font-family:verdana,arial,helvetica;
	font-size:7pt;
	font-weight: normal;
}
	