####################################
##          CMS STUFF 	   	       #
####################################


##**************************************************
## This is the header for all managementtool pages *
##**************************************************

#macro(beginManagementTool $title $toolbarKey $arguments)

<html>
<head>
	<title>$title</title>
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script language="JavaScript" src="script/listview.js"></script>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="managementtooledit" onload="javascript:refreshManagementToolBar('$toolbarKey', '$arguments');">

#end


##**************************************************
## This is the header for all contenttool pages    *
##**************************************************

#macro(beginContentTool $title $toolbarKey $arguments $unrefreshedContentId $changeTypeId $addedContentId)

<html>
<head>
	<title>$title</title>
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script language="JavaScript" src="script/listview.js"></script>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="contenttooledit" onload="javascript:refreshContentToolBar('$toolbarKey', '$arguments', $unrefreshedContentId, $changeTypeId, $addedContentId);">

#end

##**************************************************
## This is the header for all structuretool pages    *
##**************************************************

#macro(beginStructureTool $title $toolbarKey $arguments $unrefreshedNodeId $changeTypeId $addedNodeId)

<html>
<head>
	<title>$title</title>
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script language="JavaScript" src="script/listview.js"></script>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="structuretooledit" onload="javascript:refreshStructureToolBar('$toolbarKey', '$arguments', $unrefreshedNodeId, $changeTypeId, $addedNodeId);">

#end

##**************************************************
## This is the footer for all managementtool pages *
##**************************************************

#macro(endManagementTool)
</body>
</html>
#end


##**************************************************
## This is the footer for all contenttool pages    *
##**************************************************

#macro(endContentTool)
</body>
</html>
#end


##**************************************************
## This is the footer for all structuretool pages *
##**************************************************

#macro(endStructureTool)
</body>
</html>
#end


##**************************************************
## This is the header for all list-pages in the    *
## management tool                                 *
##**************************************************

#macro(lvHead $headers $header $yesDestination $noDestination $message)
	#set( $span = $headers.size() * 2 - 1 )
	<div class="fullymarginalized">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">

	## Inget formulär om inget kan selectas
	#if($lvConstraint != 0)
		<form name="listForm" action="Confirm.action" method="GET">
			<input type="hidden" name="header" value="$header"/>
			<input type="hidden" name="yesDestination" value="$yesDestination"/>
			<input type="hidden" name="noDestination" value="$noDestination"/>
			<input type="hidden" name="message" value="$message"/>
	#end
	
		<tr class="darkblue">
			#foreach( $header in $headers )
				<td class="smalllabel"><div class="minormarginalized">$header</div></td>
				#if ($velocityCount != $headers.size())
					<td class="lightblue"><img src="images/trans.gif" width="1" height="1"></td>
				#end
			#end
		</tr>
		<tr class="lightblue">
			<td colspan="$span" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr class="darkblue">
			<td colspan="$span" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
#end


##**************************************************
## This is the row in a list-pages in the          *
## management tool                                 *
##**************************************************

#macro(lvAddRow $row $cnt $objectId)
	## set $lvConstraint to -1, 0 or 1
	##		-1: unlimited number of items can be selected
	##		0: no items can be selected (no checkboxes visible)
	##		1: one item can be selected

	#set( $loccnt = 0)
	#set( $isOdd = $cnt % 2)
	#if($isOdd==0)
		#set($class = "class='lightblue'")
	#else
		#set($class = "class='white'")
	#end	
	
	<tr id="r$objectId" $class  onMouseOver='listRowOn(this);'>
		#foreach( $item in $row )
			<td valign='middle'>
				<div class="minormarginalized">	
					#if($loccnt==0)
						<nobr>
						#if($lvConstraint==-1)
							<input type="checkbox" name="sel" value="$objectId" onClick="CheckUncheck('r$objectId',this);"/>
						#end	
						#if($lvConstraint==1)
							<input type="checkbox" name="sel" value="$objectId" onClick="CheckUncheckSingle('r$objectId',this);"/>
						#end
						$item
						</nobr>						
						#set( $loccnt = 1 )
					#else
						$item
					#end
				</div>
			</td>
			#if ($velocityCount != $row.size())
				<td></td>
			#end
		#end
	</tr>
#end


##**************************************************
## This is the end for all lists in the            *
## management tool                                 *
##**************************************************

#macro(lvEnd)
	#if($lvConstraint!=0)
		</form>
	#end
	</table>
#end


##**************************************************
## Usecase specific macros						   *
##**************************************************

#macro(inlineroles $rolelist)
	#foreach ( $roleVO in $rolelist )
		<a title="$roleVO.toString()">
			$roleVO.getName()
		</a>
	#end 
#end

#macro(inlineusers $userlist)
	#foreach ( $u in $userlist )
		<a title="$u.toString()"> 
			$u.getUserName()
		</a>
	#end 
#end


##**************************************************
## INPUT FIELD MACROS   						   *
##**************************************************

#macro(editTextField $fieldNameKey $fieldName $fieldValue $length $className)
  #editTextField3($ui.getString("entity.${fieldNameKey}.label") $fieldNameKey $fieldName $fieldValue $length $className)
#end

#macro(editTextField3 $fieldNameLabel $errorKey $fieldName $fieldValue $length $className)
  $fieldNameLabel 
  #if($errors.hasErrors($errorKey))
    #foreach($errorMessage in $errors.getErrors($errorKey))
    <font color="red"> - $errorMessage</font> 
    #end
  #end
  <br/>
  <input type="text" class="$className" name="$fieldName" value="$!fieldValue" size="$length"/>
#end


#macro(editTextArea $fieldNameKey $fieldName $fieldValue $cols $rows $className)
  #editTextArea3($ui.getString("entity.${fieldNameKey}.label") $fieldNameKey $fieldName $fieldValue $cols $rows $className)
#end

#macro(editTextArea3 $fieldNameLabel $errorKey $fieldName $fieldValue $cols $rows $className)
  $fieldNameLabel 
  #if($errors.hasErrors($errorKey))
    #foreach($errorMessage in $errors.getErrors($errorKey))
    <font color="red"> - $errorMessage</font> 
    #end
  #end
  <br/>
  <textarea class="$className" wrap="virtual" name="$fieldName" rows="$rows" cols="$cols">$!fieldValue</textarea>
#end


#macro(editDateField $fieldNameKey $fieldName $fieldValue $length $className $fieldPath)
  #editDateField3($ui.getString("entity.${fieldNameKey}.label") $fieldNameKey $fieldName $fieldValue $length $className $fieldPath)
#end

#macro(editDateField3 $fieldNameLabel $errorKey $fieldName $fieldValue $length $className $fieldPath)
  $fieldNameLabel 
  #if($errors.hasErrors($errorKey))
    #foreach($errorMessage in $errors.getErrors($errorKey))
    <font color="red"> - $errorMessage</font>
    #end
  #end
  <br/>
  <input type="text" class="$className" name="$fieldName" value="$!fieldValue" size="$length"/>&nbsp;<a href="javascript:openCalendar($fieldPath);"><img src="images/calendar.gif" border="0"></a>
#end

#macro(yesNoDropDown $fieldNameKey fieldName $value)
<table>
	<tr>
		<td>$ui.getString("entity.${fieldNameKey}.label")</td>
	</tr>
	<tr>
		<td>
			<select name="$fieldName" class="yesNoDropBox">
				#if($value)
					<option value="true" selected>Yes</option>
					<option value="false">No</option>
				#else
					<option value="true">Yes</option>
					<option value="false" selected>No</option>
				#end
			</select>
		</td>
	</tr>
</table>
#end


##**************************************************
## OTHER - PLEASE CLEAN UP						   *
##**************************************************

#macro(head $titleKey)
<head>
  <link rel="stylesheet" type="text/css" href="/holigrow.css"/>
  <title>$ui.getString($titleKey)</title>
</head>
#end


#macro(title $titleKey)
<p class="title">$ui.getString($titleKey)</p>
#end


#macro(localizedFieldName $key)
  $ui.getString("entity.${key}.label")
#end


#macro(viewFieldsHead $fieldNameKeys $counter) 
<tr>
  #foreach($fieldNameKey in $fieldNameKeys)
  <td class="data-head-center">
    #localizedFieldName($fieldNameKey)
  </td>
  #end
  #if($counter > 0) 
    #foreach($dummy in [1..$counter])
      <td class="data-head-center">&nbsp;</td>
    #end
  #end
</tr>
#end


#macro(textarea $fieldNameLabel $errorKey $fieldName $fieldValue $rows $cols)
  $fieldNameLabel 
  #if($errors.hasErrors($errorKey))
    #foreach($errorMessage in $errors.getErrors($errorKey))
    <font color="red"> - $errorMessage</font><br/>
    #end
  #end
  <textarea name="$fieldName" cols="$cols" rows="$rows">$!fieldValue</textarea>
#end


#macro(editField3 $fieldNameLabel $errorKey $fieldName $fieldValue $length)
  $fieldNameLabel 
  #if($errors.hasErrors($errorKey))
    #foreach($errorMessage in $errors.getErrors($errorKey))
    <font color="red"> - $errorMessage</font>
    #end
  #end
  <br/>
  <input type="text" class="text" name="$fieldName" value="$!fieldValue" size="$length"/>
#end


#macro(editField2 $fieldNameLabel $fieldName $fieldValue)
  #editField3($fieldNameLabel "" $fieldName $fieldValue)
#end

#macro(editField $fieldNameKey $fieldName $fieldValue $length)
  #editField3($ui.getString("entity.${fieldNameKey}.label") $fieldNameKey $fieldName $fieldValue $length)
#end

#macro(editTextAreaOld $fieldNameKey $fieldName $fieldValue $rows $cols)
  #textarea($ui.getString("entity.${fieldNameKey}.label") $fieldNameKey $fieldName $fieldValue $rows $cols)
#end

#macro(hiddenField $fieldName $fieldValue)
  <input type="hidden" name="$fieldName" value="$!fieldValue"/>
  #if($errors.hasErrors($errorKey))
  <td class="data-cell-left-error">
    #foreach($errorMessage in $errors.getErrors($errorKey))
    $errorMessage<br/>
    #end
  </td>
  #elseif($errors.hasErrors())
  <td class="data-cell-left-error">&nbsp;</td>
  #end
#end

#macro(editInputField $fieldNameLabel $fieldName $fieldValue $typeDefinition)
<tr>
  <td class="data-head-left">$fieldNameLabel</td>
  <td class="data-cell-right">
  #if($typeDefinition.value.indexOf("freetext") > -1)
    <input type="text" name="$fieldName" value="$!fieldValue" size="30"/>
  #else
  	#foreach($fieldDefinition in $typeDefinition.getFields())
    	<input type="radio" name="$fieldName" value="$fieldDefinition.id">$fieldDefinition.label</input>  
  	#end
  #end
  </td>
  #if($errors.hasErrors($errorKey))
  <td class="data-cell-left-error">
    #foreach($errorMessage in $errors.getErrors($errorKey))
    $errorMessage<br/>
    #end
  </td>
  #elseif($errors.hasErrors())
  <td class="data-cell-left-error">&nbsp;</td>
  #end
</tr>
#end


#macro(viewField2 $fieldName $fieldValue)
<tr>
  <td class="data-head-left">$fieldName</td>
  <td class="data-cell-right">$fieldValue</td>
</tr>
#end


#macro(viewField $fieldNameKey $fieldValue)
  #viewField2($ui.getString("entity.${fieldNameKey}.label") $fieldValue)
#end

#macro(submitButton)
<tr>
  <td class="data-cell-right" colspan="2"><input type="image" src="/images/submit.gif"/></td>
  #if($errors.hasErrors())
  <td class="data-cell-left-error">&nbsp;</td>
  #end
</tr>
#end

