<?xml version="1.0" encoding="utf-8"?>
<applicationState>
	<title>Delivery engine status ($serverName)</title>
	<version>2.10.3.0 RC5</version>
	<releaseDate>2012-11-15</releaseDate>
	<serverName>$serverName</serverName>
	<items>
	#foreach($state in $states)
		<item name="$formatter.escapeExtendedHTML($state.get(0))">$formatter.escapeExtendedHTML("$state.get(1)")</item>
  	#end
	</items>
	<sessionCount>$activeNumberOfSessions</sessionCount>
</applicationState>