<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Delivery engine status page</title>
	
	<style>
	<!--
		.header 
		{
			font-family : Verdana;
			font-size 	: 16pt;
			font-weight : bold;
		}
		.label
		{
			font-family	:Verdana;
			font-size	:10pt;
			font-weight : bold;
		}
		.text 
		{
			font-family	:Verdana;
			font-size	:10pt;
		}
		.texttrue 
		{
			font-family	:Verdana;
			font-size	:10pt;
		}
		.textfalse 
		{
			font-family	:Verdana;
			font-size	:10pt;
			color  		:red;
		}
		.fullymarginalized 
		{
			margin-left	: 50;
			margin-right: 50;
			margin-top	: 10%;
		}
	-->
	</style>

</head>

<body>

<center>

<table class="fullymarginalized" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td colspan="4" class="header">InfoGlue Delivery Status</td>
  </tr>
  <tr>
    <td colspan="4"><hr/></td>
  </tr>
  <tr>
    <td class="label" bgcolor="gray">Memory</td>
    <td class="label" colspan="3" bgcolor="gray">Value</td>
  </tr>
  #foreach($state in $states)
  <tr>
    <td class="text">$state.get(0)</td>
    <td class="text" colspan="3">$state.get(1)</td>
  </tr>
  #end
  <tr>
    <td colspan="4"><hr/></td>
  </tr>
  <!--	
  <tr>
    <td class="label" bgcolor="gray">Test case</td>
    <td class="label" colspan="3" bgcolor="gray">Ok?</td>
  </tr>
  <tr>
    <td class="text">Database connection</td>
    <td class="text$isDatabaseConnectionOk" colspan="3">$isDatabaseConnectionOk</td>
  </tr>
  <tr>
    <td class="text">Application settings</td>
    <td class="text$isApplicationSettingsOk" colspan="3">$isApplicationSettingsOk</td>
  </tr>
  <tr>
    <td class="text">Test queries</td>
    <td class="text$isTestQueriesOk" colspan="3">$isTestQueriesOk</td>
  </tr>
  <tr>
    <td class="text">Disk permissions</td>
    <td class="text$isDiskPermissionOk" colspan="3">$isDiskPermissionOk</td>
  </tr>
  <tr>
    <td colspan="4"><hr/></td>
  </tr>
  -->
  <tr>
    <td class="label" bgcolor="gray">InfoGlue cache name</td>
    <td class="label" bgcolor="gray">Cached items</td>
    <td class="label" bgcolor="gray">Statistics</td>
    <td class="label" bgcolor="gray">Actions</td>
  </tr>
  #foreach($cacheName in $caches.keySet())
  <tr>
    <td class="text" valign="top">$cacheName</td>
    <td class="text" valign="top">#if($caches.get($cacheName).class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") Unkown #else $caches.get($cacheName).size() #end</td>
    <td class="text" valign="top">
    	#if($caches.get($cacheName).class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
    		#set($cacheEntryEventListener =	$eventListeners.get("${cacheName}_cacheEntryEventListener"))
    		#set($cacheMapAccessEventListener =	$eventListeners.get("${cacheName}_cacheMapAccessEventListener"))
    		 
    		$cacheEntryEventListener.toString()
	        <br/>
	        $cacheMapAccessEventListener.toString()
    	#else 
    		$caches.get($cacheName).size() 
    	#end
    </td>
    <td class="text" valign="top"><a href="ViewApplicationState!clearCache.action?cacheName=$cacheName">Clear</a></td>
  </tr>
  #end
  <tr>
    <td colspan="4" class="text"><a href="ViewApplicationState!clearCaches.action">Clear All</a></td>
  </tr>
  <tr>
    <td colspan="4"><hr/></td>
  </tr>
  <tr>
    <td colspan="4" class="text">
    <a href="ViewApplicationState!setLogInfo.action">Set loglevel to info</a>
    <a href="ViewApplicationState!setLogWarning.action">Set loglevel to warning</a>
    <a href="ViewApplicationState!setLogError.action">Set loglevel to error</a>
    </td>
  </tr>
  <tr>
    <td colspan="4" class="text" align="center"><a href="jsp/PermGen.jsp">Click here for detailed memory info (On Java 5-setups only).</a></td>
  </tr>
<!--
  <tr>
    <td colspan="4" class="text" align="center"><a href="ViewApplicationSettings.action">Click here for delivery settings</a></td>
  </tr>
-->
</table>
</center>

</body>

</html>
