<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Delivery engine status page</title>
	
	<style>
	<!--
		.header 
		{
			font-family : Arial;
			font-size 	: 18pt;
			font-weight : bold;
		}
		.label
		{
			font-family		 : Arial;
			font-size		 : 10pt;
			font-weight 	 : bold;
			background-color : #CCCCCC;
		}
		.text 
		{
			font-family	:Arial;
			font-size	:10pt;
		}
		.texttrue 
		{
			font-family	:Arial;
			font-size	:10pt;
		}
		.textfalse 
		{
			font-family	:Arial;
			font-size	:10pt;
			color  		:red;
		}
		.fullymarginalized 
		{
			margin-left	: 50;
			margin-right: 50;
			margin-top	: 10%;
		}
	-->
	</style>

</head>

<body>

<center>

<table border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td colspan="4" class="header">InfoGlue Status Page ($serverName)</td>
  </tr>
  <tr>
    <td colspan="1" class="label">Version</td>
    <td colspan="3" class="label">Release date</td>
  </tr>
  <tr>
    <td colspan="1" class="text">2.7 Final</td>
    <td colspan="3" class="text">2007-11-12</td>
  </tr>
  <tr>
    <td colspan="4" class="text">&nbsp;</td>
  </tr>
  <tr class="label">
    <td>Item</td>
    <td colspan="3">Value</td>
  </tr>
  #foreach($state in $states)
  <tr>
    <td class="text">$state.get(0)</td>
    <td class="text" colspan="3">$state.get(1)</td>
  </tr>
  #end
  <tr>
    <td class="text" colspan="4"><a href="ViewApplicationState!resetComponentStatistics.action">Reset component stats</a></td>
  </tr>
  
  <!--	
  <tr class="label">
    <td>Test case</td>
    <td colspan="3">Ok?</td>
  </tr>
  <tr>
    <td class="text">Database connection</td>
    <td class="text$isDatabaseConnectionOk" colspan="3">$isDatabaseConnectionOk</td>
  </tr>
  <tr>
    <td class="text">Application settings</td>
    <td class="text$isApplicationSettingsOk" colspan="3">$isApplicationSettingsOk</td>
  </tr>
  <tr>
    <td class="text">Test queries</td>
    <td class="text$isTestQueriesOk" colspan="3">$isTestQueriesOk</td>
  </tr>
  <tr>
    <td class="text">Disk permissions</td>
    <td class="text$isDiskPermissionOk" colspan="3">$isDiskPermissionOk</td>
  </tr>
  <tr>
    <td colspan="4"><hr/></td>
  </tr>
  -->
  <tr><td colspan="4">&nbsp;</td></tr>
  
  <tr class="label">
    <td>InfoGlue cache name</td>
    <td>Cached items</td>
    <td>Statistics</td>
    <td>Actions</td>
  </tr>
  #foreach($cacheName in $caches.keySet())
      #set($cache = $caches.get($cacheName))
	  <tr>
	    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">$cacheName</td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">#if($caches.get($cacheName).class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") $cache.getCache().getSize() #else $cache.size() #end</td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
	    	#if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
	    		#set($cacheEntryEventListener =	$eventListeners.get("${cacheName}_cacheEntryEventListener"))
	    		#set($cacheMapAccessEventListener =	$eventListeners.get("${cacheName}_cacheMapAccessEventListener"))
	    		<span style="font-size: 8pt; font-style: italic;">$cacheEntryEventListener.toString()
		        <br/>
		        $cacheMapAccessEventListener.toString()</span>
	    	#else 
	    		No additional statistics
	    	#end
	    </td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top"><a href="ViewApplicationState!clearCache.action?cacheName=$cacheName">Clear</a></td>
	  </tr>
  #end
  <tr>
    <td colspan="4" class="text"><a href="ViewApplicationState!clearCaches.action">Clear All</a> | <a href="ViewApplicationState!reCache.action">Recache sitenodes</a></td>
  </tr>

  <tr class="label">
    <td>OSCache cache name</td>
    <td>Cached items</td>
    <td>Statistics</td>
    <td>Actions</td>
  </tr>
  #set($osCache = $this.getOSCache())
  <tr>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">$osCache</td>
    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">$osCache.getSize()</td>
    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
    	No additional statistics
    </td>
    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
    	&nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="4" class="text"><a href="ViewApplicationState!clearOSCaches.action">Clear All</a></td>
  </tr>
  
  <tr><td colspan="4">&nbsp;</td></tr>
  
  <tr class="label">
    <td colspan="4">Log settings</td>
  </tr>
  <tr>
    <td colspan="4" class="text" align="left">
    	<form action="ViewApplicationState!setLogLevel.action"> 
	    	ClassName:
	    	<input type="textfield" name="className">
	    	Log level:
	    	<select name="logLevel">
	    		<option value="debug">Debug</option>
	    		<option value="info">Information</option>
	    		<option value="warn">Warning</option>
	    		<option value="error">Error</option>
	    	</select>
	    	<input type="submit" value="Submit"/>
	    </form>
    </td>
  </tr>
  <tr>
    <td colspan="4" class="text" align="left">
	    <a href="ViewLogging.action">Logfiles viewer</a>
    </td>
  </tr>
  <tr>
    <td colspan="4" class="text" align="left">
	    <a href="ViewApplicationState!restoreWorkflows.action">Restore workflows</a>
    </td>
  </tr>
  <!--
  <tr>
    <td colspan="4" class="text" align="left">
	    <a href="ViewApplicationState!setLogInfo.action">Set loglevel to info</a>
	    <a href="ViewApplicationState!setLogWarning.action">Set loglevel to warning</a>
	    <a href="ViewApplicationState!setLogError.action">Set loglevel to error</a>
    </td>
  </tr>
  -->
  <tr><td colspan="4">&nbsp;</td></tr>
  
  <tr class="label">
    <td colspan="4" style>Analysis tools</td>
  </tr>
  <tr>
    <td colspan="4" class="text" align="left">
    <ul>
    	<li><a href="jsp/BlockedThread.jsp">Suspected thread locks (On Java 5-setups only).</a></li>
		<li><a href="jsp/ThreadAnalysis.jsp">List of all active threads (On Java 5-setups only).</a></li>
		<li><a href="jsp/PermGen.jsp">Detailed memory info (On Java 5-setups only).</a></li>
	</ul>
	</td>
  </tr>
<!--
  <tr>
    <td colspan="4" class="text" align="center"><a href="ViewApplicationSettings.action">Click here for delivery settings</a></td>
  </tr>

  <tr><td colspan="4">&nbsp;</td></tr>
  
  <tr class="label">
    <td>User</td>
    <td colspan="3">Last visited</td>
  </tr>
  #if($sessionInfoBeanList.size() < 50)
	  #foreach($sessionInfoBean in $sessionInfoBeanList)
	  <tr>
	    <td class="text">$sessionInfoBean.principal.firstName $sessionInfoBean.principal.lastName ($sessionInfoBean.principal.name)</td>
	    <td class="text" colspan="3">$sessionInfoBean.lastAccessedDate</td>
	  </tr>
	  #end
  #else  
  	  <tr>
	    <td class="text">To many users to show</td>
	    <td class="text" colspan="3">$sessionInfoBeanList.size</td>
	  </tr>
  #end
-->
</table>
</center>

</body>

</html>
